<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.personnel.dao.TbPersonnelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.personnel.entity.TbPersonnel">
        <id column="PERSONNEL_ID" property="personnelId" />
        <result column="PSN_NAME" property="psnName" />
        <result column="PSN_CODE" property="psnCode" />
        <result column="NC_CODE" property="ncCode" />
        <result column="PSN_NBR" property="psnNbr" />
        <result column="NATIONALITY" property="nationality" />
        <result column="GENDER" property="gender" />
        <result column="NATION" property="nation" />
        <result column="MARRIAGE" property="marriage" />
        <result column="PLITICAL_STATUS" property="pliticalStatus" />
        <result column="IMAGE" property="image" />
        <result column="REASON" property="reason" />
        <result column="TO_WORK_TIME" property="toWorkTime" />
        <result column="SERVING_AGE" property="servingAge" />
        <result column="LENGTH_SERVICE" property="lengthService" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="UUID" property="uuid" />
        <result column="NOTES" property="notes" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PERSONNEL_ID, USER_ID, PSN_NAME, PSN_CODE, NC_CODE, PSN_NBR, NATIONALITY, GENDER, NATION, MARRIAGE, PLITICAL_STATUS, IMAGE, REASON, TO_WORK_TIME, SERVING_AGE, LENGTH_SERVICE, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE, UUID, NOTES
    </sql>

    <select id="getPersonnelRelationInfo" resultType="cn.ffcs.uoo.core.personnel.vo.PersonnelRelationInfoVo">
      SELECT t.psn_name,t.psn_code,t.nc_code,
        t.psn_nbr,t.nationality,t.gender,
        t.nation,t.marriage,t.plitical_status,t.reason,
        c.contact_type,c.content,e.cert_name,e.cert_type,
        e.cert_no,e.address,e.issuing,e.is_real,e.source
      FROM TB_PERSONNEL T
      LEFT JOIN TB_CONTACT C ON T.PERSONNEL_ID = C.PERSONNEL_ID
      LEFT JOIN TB_CERT E ON T.PERSONNEL_ID = E.PERSONNEL_ID
      <where>
          <if test="psnName != null and psnName != '' ">
              AND t.psn_name = #{psnName}
          </if>
          <if test="psnNbr != null and psnNbr != '' ">
              AND t.psn_nbr = #{psnNbr}
          </if>
          <if test="certNo != null and certNo != '' " >
              AND e.cert_no = #{certNo}
          </if>
          <if test="statusCd != null and statusCd != '' ">
              AND t.status_cd = #{statusCd}
          </if>
      </where>
    </select>

    <select id="getId" resultType="java.lang.Long">
        SELECT seq_tb_personnel_id.nextval FROM dual
    </select>

    <update id="delete" parameterType="cn.ffcs.uoo.core.personnel.entity.TbPersonnel">
        UPDATE
           TB_PERSONNEL
        SET
            STATUS_CD = 1100
        WHERE
            personnel_id = #{personnelId}
    </update>

    <select id="getPersonnelOrg" resultType="cn.ffcs.uoo.core.personnel.vo.PersonnelOrgVo">
        select t1.personnel_id,
               t1.psn_name,
               t2.user_id,
               t4.double_name,
               t3.acct,
               t4.org_id,
               t4.status_cd
        from tb_personnel t1, tb_user t2, tb_acct t3, tb_acct_org t4
        <where>
              t1.status_cd = 1000
          and t2.status_cd = 1000
          and t3.status_cd = 1000
          and t4.status_cd = 1000
          and t1.personnel_id = t2.personnel_id
          and t2.user_id = t3.user_id
          and t3.acct_id = t4.acct_id
            <if test="orgId != null and orgId != '' ">
                and t4.org_id = = #{orgId}
            </if>
        </where>
    </select>

    <select id="getPsnNbrId" resultType="java.lang.Long">
        SELECT seq_psn_nbr_id.nextval FROM dual
    </select>

    <select id="getPsnCodeId" resultType="java.lang.Long">
        SELECT seq_psn_code_id.nextval FROM dual
    </select>



</mapper>
