<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.oa.dao.AtiDelegateInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.oa.entity.AtiDelegateInfo">
        <id column="ati_delegate_info_id" property="atiDelegateInfoId"/>
        <result column="assignee" property="assignee"/>
        <result column="attorney" property="attorney"/>
        <result column="ati_category_id" property="atiCategoryId"/>
        <result column="proc_def_id" property="procDefId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="delegate_reason" property="delegateReason"/>
        <result column="status_cd" property="statusCd"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ati_delegate_info_id, assignee, attorney, ati_category_id, proc_def_id, start_time, end_time, delegate_reason, status_cd
    </sql>


    <insert id="insertOneDelegateInfo" parameterType="cn.ffcs.uoo.oa.entity.AtiDelegateInfo">
        <selectKey keyProperty="atiDelegateInfoId" resultType="java.lang.Long" order="BEFORE">
            select seq_ati_delegate_info_id.nextval from dual
        </selectKey>
        insert into ATI_DELEGATE_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ati_delegate_info_id,
            <if test="assignee != null">
                assignee,
            </if>
            <if test="attorney != null">
                attorney,
            </if>
            <if test="atiCategoryId != null">
                ati_category_id,
            </if>
            <if test="procDefId != null">
                proc_def_id,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="delegateReason != null">
                delegate_reason,
            </if>
            status_cd
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{atiDelegateInfoId},
            <if test="assignee != null">
                #{assignee},
            </if>
            <if test="attorney != null">
                #{attorney},
            </if>
            <if test="atiCategoryId != null">
                #{atiCategoryId},
            </if>
            <if test="procDefId != null">
                #{procDefId},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="delegateReason != null">
                #{delegateReason},
            </if>
            1000
        </trim>
    </insert>

    <update id="modifyOneDelegateInfo" parameterType="cn.ffcs.uoo.oa.entity.AtiDelegateInfo">
        UPDATE
        ATI_DELEGATE_INFO
        SET
        ATI_DELEGATE_INFO_ID = #{atiDelegateInfoId}
        <if test="assignee != null">
            , ASSIGNEE = #{assignee}
        </if>
        <if test="attorney != null">
            , ATTORNEY = #{attorney}
        </if>
        <if test="atiCategoryId != null">
            , ATI_CATEGORY_ID = #{atiCategoryId}
        </if>
        <if test="procDefId != null">
            , PROC_DEF_ID = #{procDefId}
        </if>
        <if test="startTime != null">
            , START_TIME = #{startTime}
        </if>
        <if test="endTime != null">
            , END_TIME = #{endTime}
        </if>
        <if test="delegateReason != null">
            , DELEGATE_REASON = #{delegateReason}
        </if>
        WHERE
        ATI_DELEGATE_INFO_ID = #{atiDelegateInfoId}
    </update>

    <update id="removeOneDelegateInfo">
        UPDATE
          ATI_DELEGATE_INFO
        SET
          STATUS_CD = 1100
        WHERE ATI_DELEGATE_INFO_ID = #{atiDelegateInfoId}
    </update>
</mapper>
