<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.leaveDemo.dao.LeaveMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.leaveDemo.entity.Leave">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PROCESS_INSTANCE_ID" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="START_TIME" jdbcType="DATE" property="startTime" />
    <result column="END_TIME" jdbcType="DATE" property="endTime" />
    <result column="LEAVE_TYPE" jdbcType="VARCHAR" property="leaveType" />
    <result column="REASON" jdbcType="OTHER" property="reason" />
    <result column="APPLY_TIME" jdbcType="DATE" property="applyTime" />
    <result column="REALITY_START_TIME" jdbcType="DATE" property="realityStartTime" />
    <result column="REALITY_END_TIME" jdbcType="DATE" property="realityEndTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="REMARKS" jdbcType="OTHER" property="remarks" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROCESS_INSTANCE_ID, START_TIME, END_TIME, LEAVE_TYPE, REASON, APPLY_TIME, REALITY_START_TIME, 
    REALITY_END_TIME, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, REMARKS, DEL_FLAG
  </sql>

    <insert id="addLeave" parameterType="cn.ffcs.uoo.leaveDemo.entity.Leave">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            select seq_oa_leave_id.nextval from dual
        </selectKey>
        insert into OA_LEAVE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="processInstanceId != null">
                PROCESS_INSTANCE_ID,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="leaveType != null">
                LEAVE_TYPE,
            </if>
            <if test="reason != null">
                REASON,
            </if>
            <if test="applyTime != null">
                APPLY_TIME,
            </if>
            <if test="realityStartTime != null">
                REALITY_START_TIME,
            </if>
            <if test="realityEndTime != null">
                REALITY_END_TIME,
            </if>
            <if test="createBy != null">
                CREATE_BY,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="updateBy != null">
                UPDATE_BY,
            </if>
            <if test="remarks != null">
                REMARKS
            </if>
            <if test="delFlag != null">
                DEL_FLAG
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=DECIMAL},
            <if test="processInstanceId != null">
                #{processInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=DATE},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=DATE},
            </if>
            <if test="leaveType != null">
                #{leaveType,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=OTHER},
            </if>
            <if test="applyTime != null">
                #{applyTime,jdbcType=DATE},
            </if>
            <if test="realityStartTime != null">
                #{realityStartTime,jdbcType=DATE},
            </if>
            <if test="realityEndTime != null">
                #{realityEndTime,jdbcType=DATE},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="updateBy != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=DECIMAL},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=OTHER},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
</mapper>