<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.region.dao.TbAreaCodeMapper">
	<resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.region.entity.TbAreaCode">
		<id column="AREA_CODE_ID" property="areaCodeId" />
		<result column="AREA_NBR" property="areaNbr" />
		<result column="AREA_CODE" property="areaCode" />

		<result column="STATUS_CD" property="statusCd" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="UPDATE_USER" property="updateUser" />
		<result column="STATUS_DATE" property="statusDate" />
	</resultMap>
	<sql id="Base_Column_List">
		AREA_CODE_ID, AREA_NBR, AREA_CODE,
		STATUS_CD,
		CREATE_DATE,CREATE_USER, UPDATE_DATE, UPDATE_USER,
		STATUS_DATE
	</sql>
	<select id="getId" resultType="java.lang.Long">
		SELECT SEQ_TB_AREA_CODE_ID.nextval
		FROM dual
	</select>
	<select id="getAreaCodeByPollocId" parameterType="Long" resultType="cn.ffcs.uoo.core.region.entity.TbAreaCode">
	SELECT
	    a.* 
	FROM
	    TB_AREA_CODE a
	    LEFT JOIN TB_COMMON_REGION c ON c.AREA_CODE_ID = a.AREA_CODE_ID
	    LEFT JOIN TB_REGION_LOCATION_REL r ON r.COMMON_REGION_ID = c.COMMON_REGION_ID
	    LEFT JOIN TB_POLITICAL_LOCATION pl ON pl.LOC_ID = r.LOC_ID 
	WHERE
	    pl.LOC_ID = #{id} 
	    AND pl.STATUS_CD = '1000'
	    AND r.STATUS_CD =  '1000'
	    AND c.STATUS_CD =  '1000'
	    AND a.STATUS_CD =  '1000'
	</select>

	<select id="selectListAreaCode" parameterType="java.util.HashMap" resultType="cn.ffcs.uoo.core.region.vo.AreaCodeVO">
		SELECT * FROM
		(
		SELECT TB.*,ROWNUM RN
		FROM (
		SELECT
		A.AREA_CODE_ID areaCodeId, A.AREA_NBR areaNbr, A.AREA_CODE areaCode,
		A.STATUS_CD statusCd, A.CREATE_DATE createDate,A.CREATE_USER createUser,
		A.UPDATE_DATE updateDate, A.UPDATE_USER updateUser,A.STATUS_DATE
		statusDate,
		X.regionNames
		FROM
		TB_AREA_CODE A
		LEFT JOIN ( SELECT B.AREA_CODE_ID, WM_CONCAT ( B.REGION_NAME ) AS
		regionNames FROM TB_COMMON_REGION B WHERE B.STATUS_CD = '1000' GROUP
		BY B.AREA_CODE_ID) X ON
		A.AREA_CODE_ID = X.AREA_CODE_ID
		WHERE A.STATUS_CD = '1000'
		<if test="keyWord != null and keyWord != ''">
		AND (A.AREA_CODE like #{keyWord} OR X.regionNames like #{keyWord} OR A.AREA_NBR like #{keyWord})
		</if>
		) TB
		WHERE ROWNUM &lt;= #{end}
		)
		WHERE RN &gt;= #{from}
	</select>
    <select id="countListAreaCode" resultType="java.lang.Long" parameterType="java.util.HashMap">
        SELECT
        count(*)
        FROM
        TB_AREA_CODE A
        LEFT JOIN ( SELECT B.AREA_CODE_ID, WM_CONCAT ( B.REGION_NAME ) AS
        regionNames FROM TB_COMMON_REGION B WHERE B.STATUS_CD = '1000' GROUP
        BY B.AREA_CODE_ID) X ON
        A.AREA_CODE_ID = X.AREA_CODE_ID
        WHERE A.STATUS_CD = '1000'
        <if test="keyWord != null and keyWord != ''">
        AND (A.AREA_CODE like #{keyWord} OR X.regionNames like #{keyWord} OR A.AREA_NBR like #{keyWord})
        </if>
    </select>
</mapper>
