<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.region.dao.TbAreaCodeMapper">
	<resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.region.entity.TbAreaCode">
		<id column="AREA_CODE_ID" property="areaCodeId" />
		<result column="COMMON_REGION_ID" property="commonRegionId" />
		<result column="AREA_NBR" property="areaNbr" />
		<result column="AREA_CODE" property="areaCode" />

		<result column="STATUS_CD" property="statusCd" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="UPDATE_USER" property="updateUser" />
		<result column="STATUS_DATE" property="statusDate" />
	</resultMap>
	<sql id="Base_Column_List">
		AREA_CODE_ID, COMMON_REGION_ID, AREA_NBR, AREA_CODE,
		STATUS_CD, CREATE_DATE,CREATE_USER, UPDATE_DATE, UPDATE_USER,
		STATUS_DATE
	</sql>
	<select id="getId" resultType="java.lang.Long">
		SELECT SEQ_TB_AREA_CODE_ID.nextval FROM dual
	</select>
	
</mapper>
