<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.region.dao.TbCommonRegionMapper">
<cache />
	<resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.region.entity.TbCommonRegion">
		<id column="COMMON_REGION_ID" property="commonRegionId" />
		<result column="UP_REGION_ID" property="upRegionId" />
		<result column="REGION_NAME" property="regionName" />
		<result column="REGION_PY_NAME" property="regionPyName" />
		<result column="REGION_NBR" property="regionNbr" />
		<result column="REGION_TYPE" property="regionType" />
		<result column="REGION_DESC" property="regionDesc" />
		<result column="REGION_LEVEL" property="regionLevel" />
		<result column="REGION_SORT" property="regionSort" />
		<result column="PROVINCE_NBR" property="provinceNbr" />
		<result column="CITY_FLAG" property="cityFlag" />

		<result column="STATUS_CD" property="statusCd" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="UPDATE_USER" property="updateUser" />
		<result column="STATUS_DATE" property="statusDate" />
	</resultMap>
	<sql id="Base_Column_List">
		COMMON_REGION_ID, UP_REGION_ID, REGION_NAME,
		REGION_PY_NAME,REGION_NBR,REGION_TYPE,
		REGION_DESC,REGION_LEVEL,REGION_SORT,PROVINCE_NBR,CITY_FLAG,
		STATUS_CD, CREATE_DATE,CREATE_USER, UPDATE_DATE, UPDATE_USER,
		STATUS_DATE
	</sql>
	<select id="getId" resultType="java.lang.Long">
		SELECT
		SEQ_TB_COMMON_REGION.nextval FROM dual
	</select>

	<select id="selectUnionPolLoc" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT
		a.COMMON_REGION_ID, a.UP_REGION_ID, a.REGION_NAME,
		a.REGION_PY_NAME,a.REGION_NBR,a.REGION_TYPE,
		a.REGION_DESC,a.REGION_LEVEL,a.REGION_SORT,a.PROVINCE_NBR,a.CITY_FLAG,
		a.STATUS_CD,
		b.LOC_ID ,b.LOC_CODE,b.LOC_NAME
		FROM
		TB_COMMON_REGION a
		LEFT JOIN TB_REGION_LOCATION_REL c ON
		c.COMMON_REGION_ID =
		a.COMMON_REGION_ID
		LEFT JOIN TB_POLITICAL_LOCATION
		b ON c.LOC_ID = b.LOC_ID
		<where>
			<if test="commonRegionId != null and commonRegionId != '' ">
				and a.COMMON_REGION_ID = #{commonRegionId}
			</if>
			<if test="statusCd != null and statusCd != '' ">
				and a.STATUS_CD = #{statusCd}
			</if>
		</where>

	</select>
	<select id="getChildCommonRegionInfo" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT
		a.COMMON_REGION_ID, a.UP_REGION_ID, a.REGION_NAME,
		a.REGION_PY_NAME,a.REGION_NBR,a.REGION_TYPE,
		a.REGION_DESC,a.REGION_LEVEL,a.REGION_SORT,a.PROVINCE_NBR,a.CITY_FLAG,
		a.STATUS_CD,
		b.LOC_ID ,b.LOC_CODE,b.LOC_NAME
		FROM
		TB_COMMON_REGION a
		LEFT JOIN TB_REGION_LOCATION_REL c ON
		c.COMMON_REGION_ID =
		a.COMMON_REGION_ID
		LEFT JOIN TB_POLITICAL_LOCATION
		b ON c.LOC_ID = b.LOC_ID
		<where>
			<if test="commonRegionId != null and commonRegionId != '' ">
				and a.COMMON_REGION_ID = #{commonRegionId}
			</if>
			<if test="statusCd != null and statusCd != '' ">
				and a.STATUS_CD = #{statusCd}
			</if>
			<if test="upRegionId !=null and upRegionId lt 1">
				and a.UP_REGION_ID &lt; 1
			</if>
			<if test="upRegionId !=null and upRegionId gte 1">
				and a.UP_REGION_ID = #{upRegionId}
			</if>
		</where>

	</select>
	<select id="getTreeCommonRegion" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT
		a.COMMON_REGION_ID, a.UP_REGION_ID, a.REGION_NAME 

		FROM
		TB_COMMON_REGION a

		<where>
			<if test="commonRegionId != null and commonRegionId != '' ">
				and a.COMMON_REGION_ID = #{commonRegionId}
			</if>
			<if test="statusCd != null and statusCd != '' ">
				and a.STATUS_CD = #{statusCd}
			</if>
			<if test="upRegionId !=null and upRegionId lt 1">
				and (a.UP_REGION_ID &lt; 1 or a.UP_REGION_ID is null)
			</if>
			<if test="upRegionId !=null and upRegionId gte 1">
				and a.UP_REGION_ID = #{upRegionId}
			</if>
		</where>

	</select>
</mapper>
