<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.region.dao.TbPoliticalLocationMapper">
	<resultMap id="BaseResultMap"
		type="cn.ffcs.uoo.core.region.entity.TbPoliticalLocation">
		<id column="LOC_ID" property="locId" />
		<result column="LOC_CODE" property="locCode" />
		<result column="LOC_NAME" property="locName" />
		<result column="LOC_DESC" property="locDesc" />
		<result column="LOC_TYPE" property="locType" />
		<result column="LOC_ABBR" property="locAbbr" />
		<result column="UP_LOC_ID" property="upLocId" />

		<result column="STATUS_CD" property="statusCd" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="UPDATE_USER" property="updateUser" />
		<result column="STATUS_DATE" property="statusDate" />
	</resultMap>
	<sql id="Base_Column_List">
		LOC_ID, LOC_CODE, LOC_NAME, LOC_DESC, LOC_TYPE, LOC_ABBR,
		UP_LOC_ID,
		STATUS_CD, CREATE_DATE,CREATE_USER, UPDATE_DATE,
		UPDATE_USER, STATUS_DATE
	</sql>
	<select id="getId" resultType="java.lang.Long">
		SELECT SEQ_TB_POLITICAL_LOCATION.nextval FROM dual
	</select>
</mapper>
