<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.personnel.dao.TbPsnjobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.personnel.entity.TbPsnjob">
        <id column="PSNJOB_ID" property="psnjobId" />
        <result column="PERSONNEL_ID" property="personnelId" />
        <result column="ORG_ID" property="orgId" />
        <result column="BEGIN_TIME" property="beginTime" />
        <result column="END_TIME" property="endTime" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PSNJOB_ID, PERSONNEL_ID, ORG_ID, BEGIN_TIME, END_TIME, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <select id="getId" resultType="java.lang.Long">
        SELECT seq_tb_psnjob_id.nextval FROM dual
    </select>

    <select id="getPsnjobPageBypsnId" resultType="cn.ffcs.uoo.core.personnel.vo.TbPsnjobVo">
        select t1.psnjob_id,
               t1.personnel_id,
               t1.status_cd,
               t1.org_id,
               t2.org_name,
               t1.begin_time,
               t1.end_time
        from tb_psnjob t1
                 left join tb_org t2
                     on t1.org_id = t2.org_id
                            and t1.status_cd = t2.status_cd
        where t1.status_cd = 1000
        <if test="personnelId != null and personnelId != '' ">
            and t1.personnel_id = #{personnelId}
        </if>

    </select>

    <update id="delete" parameterType="cn.ffcs.uoo.core.personnel.entity.TbPsnjob">
        UPDATE
        TB_PSNJOB
        SET
        STATUS_CD = 1100
        WHERE
        1 = 1
        <if test="psnjobId != null and psnjobId != '' ">
            and PSNJOB_ID = #{psnjobId}
        </if>
        <if test="personnelId != null and personnelId != '' ">
            and PERSONNEL_ID = #{personnelId}
        </if>
    </update>

</mapper>
