<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- css -->
  <link th:fragment="bootstrap" rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link th:fragment="font-awesome" rel="stylesheet" href="../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
  <link th:fragment="layui" rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" th:href="@{/layuiadmin/layui/css/layui.css}">
  <link th:fragment="uoo" rel="stylesheet" href="../../static/css/uoo.css" th:href="@{/css/uoo.css}">
  <link th:fragment="style" rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body/>
</html>