<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
  <ul th:fragment="nav" class="layui-nav layui-bg-blue">
    <li class="layui-nav-item"><a href="">uoo</a></li>
    <li class="layui-nav-item"><a href="">首页</a></li>
    <li class="layui-nav-item"></a>
      <a href="#">用户组织管理</a>
      <dl class="layui-nav-child"> <!-- 二级菜单 -->
        <dd><a href="">用户管理</a></dd>
        <dd><a href="">人员管理</a></dd>
        <dd><a href="">组织管理</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item">
      <a href="#">接口管理</a>
      <dl class="layui-nav-child">
        <dd><a href="">数据同步接口</a></dd>
        <dd><a href="">信息校验接口</a></dd>
        <dd><a href="">IM接口</a></dd>
        <dd><a href="">自助服务接口</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="#">in-action</a>
      <dl class="layui-nav-child">
        <dd><a href="/route/inaction-user-index">用户</a></dd>
        <dd><a href="/route/inaction-organization-index">组织</a></dd>
      </dl>
    </li>
  </ul>
</body>
</html>