<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/vendors/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/main/style.css">
<!--百度Echarts-->
<script src="/js/main/echarts.js"></script>

<title>控制台</title>
</head>

<body>
  
  <div class="ContentsMin">
  	<!--第一排-->
    <div class="Col3-2 fleft">
        <div class="ContentsMin">
            <div class="Panel H200">
            	<div class="BoardTitle"><span class="Name">系统概览</span></div>
                <div class="Contents clear"></div>
                <div class="Contents tcenter">
                    <div class="Col4 fleft">
                        <i class="layui-icon layui-icon-component Font24 Gray1"></i>
                        <div class="lh48"><span class="Font36 Black">154</span>个</div>
                        组织数量
                    </div>
                    <div class="Col4 fleft">
                        <i class="layui-icon layui-icon-user Font24 Gray1"></i>
                        <div class="lh48"><span class="Font36 Black">1,169</span>个</div>
                        人员数量
                    </div>
                    <div class="Col4 fleft">
                    	<i class="layui-icon layui-icon-release Font24 Gray1"></i>
                        <div class="lh48"><span class="Font36 Black">298</span>个</div>
                        主账号数
                    </div>
                    <div class="Col4 fleft">
                    	<i class="layui-icon layui-icon-star Font24 Gray1"></i>
                        <div class="lh48"><span class="Font36 Black">1,998</span>个</div>
                        从账号数
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Col3 fleft">
        <div class="ContentsMin">
            <div class="Panel H200">
            	<div class="BoardTitle">
                	<span class="Name">我的待办</span>
                    <a class="fright" href="#">更多 &nbsp; </a>
                </div>
             	<ul class="clear NewsList lh28">
                	<li><a href="#">系统将于2018-12-22升级</a></li>
                	<li><a href="#">密码超过60天未更新</a></li>
                    <li><a href="#">系统管理员新分配权限审核</a></li>
                    <li><a href="#">系统新增权限分级</a></li>
                    <li><a href="#">系统待办信息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--第一排 End-->
    
  	<!--第二排-->
    <div class="Wp5 fleft">
        <div class="ContentsMin">
            <div class="Panel H300">
            	<div class="BoardTitle"><span class="Name">各地市人员</span></div>
                <div class="H250 WpFull" id="Personnel"><!--各地市人员--></div>
            </div>
        </div>
    </div>

    <div class="Wp5 fleft">
        <div class="ContentsMin">
            <div class="Panel H300">
            	<div class="BoardTitle"><span class="Name">各地市组织</span></div>
                <div class="H250 WpFull" id="Org"><!--各地市人员--></div>
            </div>
        </div>
    </div>
	<!--第二排 End-->
    
  	<!--第三排-->
    <div class="Col3 fleft">
        <div class="ContentsMin">
            <div class="Panel H250">
            	<div class="BoardTitle"><span class="Name">专业系统下发数</span></div>
                <div class="H200 WpFull" id="IncomeFrom"><!--专业系统下发数--></div>
            </div>
        </div>
    </div>

    <div class="Col3-2 fleft">
        <div class="ContentsMin">
            <div class="Panel H250">
            	<div class="BoardTitle"><span class="Name">数据质量</span></div>
                <div class="Col3 fleft bdRight H200">
                    <div class="Contents">
                        <span class="Font16 Bold">人员稽查</span>
                        <ul class="lh32 ContentLR">
                            <li><span class="W100 inBlk tright">发现</span> <span class="Font24">987</span></li>
                            <li><span class="W100 inBlk tright">确认</span> <span class="Font24">980</span></li>
                            <li><span class="W100 inBlk tright">关闭</span> <span class="Font24">7</span></li>
                        </ul>
                    </div>
                </div>
                <div class="Col3 fleft bdRight H200">
                    <div class="Contents">
                        <span class="Font16 Bold">组织稽查</span>
                        <ul class="lh32 ContentLR">
                            <li><span class="W100 inBlk tright">发现</span> <span class="Font24">259</span></li>
                            <li><span class="W100 inBlk tright">确认</span> <span class="Font24">238</span></li>
                            <li><span class="W100 inBlk tright">关闭</span> <span class="Font24">21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="Col3 fleft">
                    <div class="Contents">
                        <span class="Font16 Bold">安全监控</span>
                        <ul class="lh32 ContentLR">
                            <li><span class="W100 inBlk tright">密码过期</span> <span class="Font24">37</span></li>
                            <li><span class="W100 inBlk tright">3个月未登录</span> <span class="Font24">289</span></li>
                            <li><span class="W100 inBlk tright">登录失败</span> <span class="Font24">1,890</span></li>
                            <li><span class="W100 inBlk tright">登录失败&gt;3次</span> <span class="Font24">247</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--第三排 End-->
    <div class="Contents clear"></div>
</div>

<script type="text/javascript">
//各地市人员
var myChart = echarts.init(document.getElementById('Personnel')); 
option = {
	grid: {
		left: 100,
		right: 60,
		bottom:40,
		top: 20,
	},
	calculable : true,
    xAxis : [
        {
        type: 'category',
        axisLabel: {
			interval: 0,
				textStyle:{
					fontSize:14,
					color: '#999',
					interval:0,//横轴信息全部显示
					rotate:-30,//-30度角倾斜显示
			},
        },
            data : ['省公司','杭州','宁波','温州','绍兴','湖州','嘉兴','金华','衢州','台州','丽水','舟山']
        }
    ],
	yAxis: {
		splitLine:{
			lineStyle: {
				color: '#EEE'
				}
		},
		axisLabel: {
			textStyle: {
				color: '#CCC',
				fontSize: 12
			}
		}
	},
    series : [
        {
            name:'人员',
			barWidth : 22,//柱图宽度
            slient:true,
            barGap:'-100%',
            label: {
                normal: {
                    show: true,
                    position: 'top',
                    textStyle:{
	                    color:'#CCC',
						fontSize: 18
                    },
                }
            },
            type:'bar',
            data:[234, 456, 345, 228, 156, 181, 229, 314, 276, 137, 256, 125],
            itemStyle:{
                normal:{
                    color:'#a0d98c',
                }
            },
        }
    ]
};
    
    myChart.setOption(option); 
</script>

<script type="text/javascript">
//各地市人员
var myChart = echarts.init(document.getElementById('Org')); 
option = {
	grid: {
		left: 100,
		right: 60,
		bottom:40,
		top: 20,
	},
	calculable : true,
    xAxis : [
        {
        type: 'category',
        axisLabel: {
			interval: 0,
				textStyle:{
					fontSize:14,
					color: '#999',
					interval:0,//横轴信息全部显示
					rotate:-30,//-30度角倾斜显示
			},
        },
            data : ['省公司','杭州','宁波','温州','绍兴','湖州','嘉兴','金华','衢州','台州','丽水','舟山']
        }
    ],
	yAxis: {
		splitLine:{
			lineStyle: {
				color: '#EEE'
				}
		},
		axisLabel: {
			textStyle: {
				color: '#CCC',
				fontSize: 12
			}
		}
	},
    series : [
        {
            name:'人员',
			barWidth : 22,//柱图宽度
            slient:true,
            barGap:'-100%',
            label: {
                normal: {
                    show: true,
                    position: 'top',
                    textStyle:{
	                    color:'#CCC',
						fontSize: 18
                    },
                }
            },
            type:'bar',
            data:[234, 456, 345, 228, 156, 181, 229, 314, 276, 137, 256, 125],
            itemStyle:{
                normal:{
                    color:'#61c7ff',
                }
            },
        }
    ]
};
    
    myChart.setOption(option); 
</script>

<script type="text/javascript">
//收入构成
var myChart = echarts.init(document.getElementById('IncomeFrom')); 

option = {
    tooltip : {
        trigger: 'item',
        formatter: "{b}: <br/>{c} ({d}%)",
			textStyle: {
				color: '#CCC',
				fontSize: 18
			}
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:['待办','在途','待审批','待推进']
		},
	series: [
        {
            name:'收入构成',
            type:'pie',
            radius: ['45%', '70%'],
			avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '22',
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:178, name:'待办',
				  itemStyle:{
						  normal:{color:'#a0d98c',borderWidth: 2,borderColor: '#FFF'}
					  }
			  	},
                {value:256, name:'在途',
				  itemStyle:{
						  normal:{color:'#61c7ff',borderWidth: 2,borderColor: '#FFF'}
					  }
				},
                {value:211, name:'待审批',
				  itemStyle:{
						  normal:{color:'#ffa9ad',borderWidth: 2,borderColor: '#FFF'}
					  }
				},
                {value:95, name:'待推进',
				  itemStyle:{
						  normal:{color:'#ffc870',borderWidth: 2,borderColor: '#FFF'}
					  }
				},
            ]
        }
    ]
};
    myChart.setOption(option); 
    var currentIndex = -1;

    setInterval(function () {
    	var dataLen = option.series[0].data.length;
    // 取消之前高亮的图形
    myChart.dispatchAction({
    	type: 'downplay',
    	seriesIndex: 0,
    	dataIndex: currentIndex
    });
    currentIndex = (currentIndex + 1) % dataLen;
    // 高亮当前图形
    myChart.dispatchAction({
    	type: 'highlight',
    	seriesIndex: 0,
    	dataIndex: currentIndex
    });
    // 显示 tooltip
    myChart.dispatchAction({
    	type: 'showTip',
    	seriesIndex: 0,
    	dataIndex: currentIndex
    });
}, 3000);

</script>

</body>
</html>

