<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>浙江主数据中心平台</title>

<link rel="stylesheet" type="text/css" href="/css/login/style.css" />
<link rel="stylesheet" type="text/css" href="/css/login/login.css" />
<!-- toastr -->
<link href="/vendors/toastr/toastr.css" rel="stylesheet">
<link href="/vendors/lulu/css/common/ui/Placeholder.css" rel="stylesheet">

<style>
    #toast-container{
        margin-top: 1% !important;
        margin-right: -22.2em !important;
    }    
    #toast-container > div{
        /* width: 250px !important; */
        min-width: 358px !important;
    }
    .layui-layer-loading{
        top: 400.5px !important;
        left: 70.3% !important;
    }
</style>

    <!--[if lt IE 9]>
    <script src="/js/core/html5shiv.js"></script>
    <script src="/js/core/respond.js"></script>
    <script src="/js/core/excanvas.js"></script>
    <![endif]-->
</head>

<body>

<div class="Gradient">
	<div class="LogoBg"></div>
    <div class="WhiteAlpha" style="height: 400px">
        <div class="Main" style="height: 400px">
            <div class="FormArea">
                <div class="Contents"></div>
                <div class="BoardTitle">
                    <span class="Name Big">忘记密码</span>
                </div>
                <div class="Contents clear"></div>
                <form action="#" method="POST">
                    <ul class="ulhide">
                    <li><input class="Input phone" id="phone" type="text" placeholder="手机"/></li>
                        <li><input class="Input psw" id="pwd1" type="password" placeholder="请输入密码"/></li>
                        <li><input class="Input psw2" id="pwd2" type="password" placeholder="确认密码"/></li>
                        <li><input style="width: 62%;" class="Input msg" id="phonecode" maxlength="6" type="text" placeholder="请输入手机验证码"/>
                        <button class="Btn BtnBlue"  id="checkCodeA" onclick="return sendCheckCode()" style="width:95px;float:right;margin: 0 6px 0 0;">发送验证码</button>
                        </li>
                         
                        <li><input class="Input BtnSubmit" type="button" value="提交" onclick="return check()" /></li>
                        <li class="tright"><a href="/login">登陆</a></li>  <!-- contents/forget.html -->
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/core/jquery.js"></script>
<!-- toastr -->
<script type="text/javascript" src="/vendors/toastr/toastr.js"></script>
<!-- Placeholder -->
<script type="text/javascript" src="/vendors/lulu/js/common/ui/Placeholder.js"></script>
<!-- loading -->
<script type="text/javascript" src="/js/core/spin.min.js"></script>
<script type="text/javascript" src="/js/core/loading.js"></script>

<!-- layer -->
<script type="text/javascript" src="/vendors/layer/layer.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/login/md5.js"></script>
<script type="text/javascript" src="/js/login/forgetpwd.js"></script>

</body>
</html>