<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>用户组织运营平台</title>

<link rel="stylesheet" type="text/css" href="/css/login/style.css" />
<link rel="stylesheet" type="text/css" href="/css/login/login.css" />
<!-- toastr -->
<link href="/vendors/toastr/toastr.css" rel="stylesheet">

<style>
    #toast-container{
        margin-top: 6% !important;
    }    
    #toast-container > div{
        width: 250px !important;
    }
    #toast-container.toast-top-center        min-width: 0px !important;
    > div{
        /* margin-right: 283px !important; */
    }
    .layui-layer-loading{
        top: 400.5px !important;
        left: 70.3% !important;
    }
</style>

    <!--[if lt IE 9]>
    <script src="/js/core/html5shiv.js"></script>
    <script src="/js/core/respond.js"></script>
    <script src="/js/core/excanvas.js"></script>
    <![endif]-->
</head>

<body>

<div class="Gradient">
	<div class="LogoBg"></div>
    <div class="WhiteAlpha">
        <div class="Main">
            <div class="FormArea">
                <div class="Contents"></div>
                <div class="BoardTitle">
                    <span class="Name Big">浙江主数据中心平台</span>
                </div>
                <div class="Contents clear"></div>
                <form action="/index.html" method="POST">
                    <ul class="ulhide">
                        <li><input class="Input user" type="text" placeholder="用户名/邮箱/手机" value="jack5"/></li>
                        <li><input class="Input psw" type="password" placeholder="请输入密码" value="123abc" /></li>
                        <li class="rendomcode">
                            <input class="Input code" type="text" maxlength="6" placeholder="请输入验证码" />
                            <canvas id="canvas" width="90" height="36"></canvas>
                        </li>
                        <li><input class="Input BtnSubmit" type="submit" value="登录" onclick="return check()" /></li>
                        <li class="tright"><a href="#">忘记密码?</a></li> <!-- contents/forget.html -->
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/core/jquery.js"></script>
<!-- toastr -->
<script type="text/javascript" src="/vendors/toastr/toastr.js"></script>
<!-- loading -->
<script type="text/javascript" src="/js/core/spin.min.js"></script>
<script type="text/javascript" src="/js/core/loading.js"></script>

<!-- layer -->
<script type="text/javascript" src="/vendors/layer/layer.js"></script>

<script type="text/javascript" src="/js/login/login.js"></script>
<script type="text/javascript" src="/js/login/md5.js"></script>

</body>
</html>