<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户组织运营平台</title>


<link rel="stylesheet" type="text/css" href="/css/login.css" />
<!-- toastr -->
<link href="/vendors/toastr/toastr.css" rel="stylesheet">

<style>
    #toast-container{
        margin-top: 6% !important;
    }    
    #toast-container > div{
        width: 250px !important;
    }
    #toast-container.toast-top-center > div{
        min-width: 0px !important;
        /* margin-right: 283px !important; */
    }
</style>
</head>

<body>

<div class="Gradient">
	<div class="LogoBg"></div>
    <div class="Main">
        <div class="FormArea">
            <div class="FormHead">
                浙江主数据平台
            </div>
             <form action="templates/index.html" method="POST">  <!-- main.html -->
                <input class="Input user" type="text" placeholder="用户名/邮箱/手机" value="jack5" />
                <input class="Input psw" type="password" placeholder="请输入密码" value="123abc" />
                 <div class="rendomcode">
                    <input class="Input code" type="text" placeholder="请输入验证码" />
                    <canvas id="canvas" width="90" height="36"></canvas>
                </div>
                <input class="Input BtnSubmit" type="submit" value="登录" onclick="return check()"/>  
            </form>
           <label id='errorAcc'></label>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/core/jquery.js"></script>
<!-- toastr -->
<script type="text/javascript" src="/vendors/toastr/toastr.js"></script>
<!-- loading -->
<script type="text/javascript" src="/js/core/spin.min.js"></script>
<script type="text/javascript" src="/js/core/loading.js"></script>

<script type="text/javascript" src="/js/login/login.js"></script>
<script type="text/javascript" src="/js/login/md5.js"></script>

</body>
</html>