<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.rabbitmq.monitor.dao.RabbitmqIndexMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.rabbitmq.monitor.pojo.RabbitmqIndex">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="COLLECTION_DATA" jdbcType="DATE" property="collectionData" />
    <result column="USE_DATA" jdbcType="DATE" property="useData" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.ffcs.uoo.rabbitmq.monitor.pojo.RabbitmqIndex">
    <result column="RABBITMQ_DATE" jdbcType="CLOB" property="rabbitmqDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, STATE, COLLECTION_DATA, USE_DATA
  </sql>
  <sql id="Blob_Column_List">
    RABBITMQ_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from RABBITMQ_INDEX
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from RABBITMQ_INDEX
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.ffcs.uoo.rabbitmq.monitor.pojo.RabbitmqIndex">
    <selectKey resultType="DECIMAL" order="BEFORE" keyProperty="id">
      SELECT SEQ_TB_RABBITMQ_INDEX_ID.NEXTVAL FROM DUAL
    </selectKey>
    insert into RABBITMQ_INDEX (ID, STATE, COLLECTION_DATA,
      USE_DATA, RABBITMQ_DATE)
    values (#{id,jdbcType=DECIMAL}, #{state,jdbcType=VARCHAR}, #{collectionData,jdbcType=DATE},
      #{useData,jdbcType=DATE}, #{rabbitmqDate,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="cn.ffcs.uoo.rabbitmq.monitor.pojo.RabbitmqIndex">

    <selectKey resultType="DECIMAL" order="BEFORE" keyProperty="id">
      SELECT SEQ_TB_RABBITMQ_INDEX_ID.NEXTVAL FROM DUAL
    </selectKey>

    insert into RABBITMQ_INDEX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="collectionData != null">
        COLLECTION_DATA,
      </if>
      <if test="useData != null">
        USE_DATA,
      </if>
      <if test="rabbitmqDate != null">
        RABBITMQ_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="collectionData != null">
        #{collectionData,jdbcType=DATE},
      </if>
      <if test="useData != null">
        #{useData,jdbcType=DATE},
      </if>
      <if test="rabbitmqDate != null">
        #{rabbitmqDate,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ffcs.uoo.rabbitmq.monitor.pojo.RabbitmqIndex">
    update RABBITMQ_INDEX
    <set>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="collectionData != null">
        COLLECTION_DATA = #{collectionData,jdbcType=DATE},
      </if>
      <if test="useData != null">
        USE_DATA = #{useData,jdbcType=DATE},
      </if>
      <if test="rabbitmqDate != null">
        RABBITMQ_DATE = #{rabbitmqDate,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.ffcs.uoo.rabbitmq.monitor.pojo.RabbitmqIndex">
    update RABBITMQ_INDEX
    set STATE = #{state,jdbcType=VARCHAR},
      COLLECTION_DATA = #{collectionData,jdbcType=DATE},
      USE_DATA = #{useData,jdbcType=DATE},
      RABBITMQ_DATE = #{rabbitmqDate,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ffcs.uoo.rabbitmq.monitor.pojo.RabbitmqIndex">
    update RABBITMQ_INDEX
    set STATE = #{state,jdbcType=VARCHAR},
      COLLECTION_DATA = #{collectionData,jdbcType=DATE},
      USE_DATA = #{useData,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>