<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.position.dao.TbOrgPostRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.position.entity.TbOrgPostRel">
        <id column="ORG_POST_ID" property="orgPostId" />
        <result column="POST_ID" property="postId" />
        <result column="ORG_ID" property="orgId" />
        <result column="EFF_DATE" property="effDate" />
        <result column="EXP_DATE" property="expDate" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_POST_ID, POST_ID, ORG_ID, EFF_DATE, EXP_DATE, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <insert id="save" parameterType="cn.ffcs.uoo.core.position.entity.TbOrgPostRel">
        <selectKey keyProperty="orgPostId" resultType="java.lang.Long" order="BEFORE">
            SELECT SEQ_TB_ORG_POST_ID.NEXTVAL FROM dual
        </selectKey>
        insert into TB_ORG_POST_REL
        <trim prefix="(" suffix=")" suffixOverrides=",">
                ORG_POST_ID,
            <if test="postId != null">
                POST_ID,
            </if>
            <if test="orgId != null">
                ORG_ID,
            </if>
            <if test="effDate != null">
                EFF_DATE,
            </if>
            <if test="expDate != null">
                EXP_DATE,
            </if>
            <if test="statusCd != null">
                STATUS_CD,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="updateUser != null">
                UPDATE_USER,
            </if>
            <if test="statusDate != null">
                STATUS_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{orgPostId,jdbcType=DECIMAL},
            <if test="postId != null">
                #{postId,jdbcType=DECIMAL},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=DECIMAL},
            </if>
            <if test="effDate != null">
                #{effDate,jdbcType=DATE},
            </if>
            <if test="expDate != null">
                #{expDate,jdbcType=DATE},
            </if>
            <if test="statusCd != null">
                #{statusCd,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=DECIMAL},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=DECIMAL},
            </if>
            <if test="statusDate != null">
                #{statusDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <update id="remove" parameterType="cn.ffcs.uoo.core.position.entity.TbOrgPostRel">
        UPDATE TB_ORG_POST_REL
        SET EXP_DATE=#{expDate},STATUS_CD=#{statusCd},UPDATE_DATE=#{updateDate},UPDATE_USER=#{updateUser},STATUS_DATE=#{statusDate}
        WHERE ORG_POST_ID=#{orgPostId}
    </update>

</mapper>
