<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.position.dao.TbPostLocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.position.entity.TbPostLocation">
        <id column="POST_LOCATION_ID" property="postLocationId" />
        <result column="POST_ID" property="postId" />
        <result column="REGION_ID" property="regionId" />
        <result column="EFF_DATE" property="effDate" />
        <result column="EXP_DATE" property="expDate" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        POST_LOCATION_ID, POST_ID, REGION_ID, EFF_DATE, EXP_DATE, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <insert id="save" parameterType="cn.ffcs.uoo.core.position.entity.TbPostLocation">
        <selectKey keyProperty="postLocationId" resultType="java.lang.Long" order="BEFORE">
            SELECT SEQ_POST_LOCATION_ID.NEXTVAL FROM dual
        </selectKey>
        insert into TB_POST_LOCATION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            POST_LOCATION_ID,
            <if test="postId != null">
                POST_ID,
            </if>
            <if test="regionId != null">
                REGION_ID,
            </if>
            <if test="effDate != null">
                EFF_DATE,
            </if>
            <if test="expDate != null">
                EXP_DATE,
            </if>
            <if test="statusCd != null">
                STATUS_CD,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="updateUser != null">
                UPDATE_USER,
            </if>
            <if test="statusDate != null">
                STATUS_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{postLocationId,jdbcType=DECIMAL},
            <if test="postId != null">
                #{postId,jdbcType=DECIMAL},
            </if>
            <if test="regionId != null">
                #{regionId,jdbcType=DECIMAL},
            </if>
            <if test="effDate != null">
                #{effDate,jdbcType=DATE},
            </if>
            <if test="expDate != null">
                #{expDate,jdbcType=DATE},
            </if>
            <if test="statusCd != null">
                #{statusCd,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=DECIMAL},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=DECIMAL},
            </if>
            <if test="statusDate != null">
                #{statusDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <update id="remove" parameterType="cn.ffcs.uoo.core.position.entity.TbPostLocation">
        UPDATE TB_POST_LOCATION
        SET EXP_DATE=#{expDate},STATUS_CD=#{statusCd},UPDATE_DATE=#{updateDate},UPDATE_USER=#{updateUser},STATUS_DATE=#{statusDate}
        WHERE POST_LOCATION_ID=#{postLocationId}
    </update>
</mapper>
