<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.OgtOrgtypeConfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.OgtOrgtypeConf">
        <id column="OGT_ORGTYPE_CONF_ID" property="ogtOrgtypeConfId" />
        <result column="ORG_TYPE_ID" property="orgTypeId" />
        <result column="ORG_TREE_ID" property="orgTreeId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OGT_ORGTYPE_CONF_ID, ORG_TYPE_ID, ORG_TREE_ID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <select id="getId" resultType="java.lang.Long">
        SELECT SEQ_TB_OGT_ORGTYPE_CONF_ID.nextval FROM dual
    </select>

    <update id="delete" parameterType="cn.ffcs.uoo.core.organization.entity.OgtOrgtypeConf">
        UPDATE
          TB_OGT_ORGTYPE_CONF
        SET
          STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_USER = #{updateUser}
        WHERE
          OGT_ORGTYPE_CONF_ID = #{ogtOrgtypeConfId}
    </update>

</mapper>
