<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.Org">
        <id column="ORG_ID" property="orgId" />
        <result column="LOC_ID" property="locId" />
        <result column="AREA_CODE_ID" property="areaCodeId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="SHORT_NAME" property="shortName" />
        <result column="ORG_NAME_EN" property="orgNameEn" />
        <result column="FULL_NAME" property="fullName" />
        <result column="CITY_TOWN" property="cityTown" />
        <result column="OFFICE_PHONE" property="officePhone" />
        <result column="FOUNDING_TIME" property="foundingTime" />
        <result column="ORG_SCALE" property="orgScale" />
        <result column="ORG_LEVEL" property="orgLevel" />
        <result column="SORT" property="sort" />
        <result column="ORG_CONTENT" property="orgContent" />
        <result column="ORG_DESC" property="orgDesc" />
        <result column="ADDRESS" property="address" />
        <result column="UUID" property="uuid" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_ID, LOC_ID, AREA_CODE_ID, ORG_NAME, ORG_CODE, SHORT_NAME, ORG_NAME_EN, FULL_NAME, CITY_TOWN, OFFICE_PHONE, FOUNDING_TIME, ORG_SCALE, ORG_LEVEL, SORT, ORG_CONTENT, ORG_DESC, ADDRESS, UUID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

</mapper>
