<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.permission.dao.FuncCompMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.permission.entity.FuncComp">
        <id column="COMP_ID" property="compId" />
        <result column="COMP_NAME" property="compName" />
        <result column="COMP_TYPE" property="compType" />
        <result column="COMP_DESC" property="compDesc" />
        <result column="URL_ADDR" property="urlAddr" />
        <result column="MENU_ID" property="menuId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        COMP_ID, COMP_NAME, COMP_TYPE, COMP_DESC, URL_ADDR, MENU_ID, STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER
    </sql>
    <select id="getId" resultType="java.lang.Long">
        SELECT SEQ_TB_FUNC_COMP_ID.nextval FROM dual
    </select>

</mapper>
