<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.permission.dao.PrivFuncRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.permission.entity.PrivFuncRel">
        <id column="PRIV_FUNC_ID" property="privFuncId" />
        <result column="PRIV_ID" property="privId" />
        <result column="MENU_ID" property="menuId" />
        <result column="COMP_ID" property="compId" />
        <result column="PRIV_REF_TYPE" property="privRefType" />
        <result column="PRIV_REF_ID" property="privRefId" />
        <result column="EFF_DATE" property="effDate" />
        <result column="EXP_DATE" property="expDate" />
        <result column="SYSTEM_INFO_ID" property="systemInfoId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PRIV_FUNC_ID, PRIV_ID, MENU_ID, COMP_ID, PRIV_REF_TYPE, PRIV_REF_ID, EFF_DATE, EXP_DATE, SYSTEM_INFO_ID, STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER
    </sql>

</mapper>
