<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.permission.dao.TbRolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.permission.entity.TbRoles">
        <id column="ROLE_ID" property="roleId" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="ROLE_CODE" property="roleCode" />
        <result column="ROLE_TYPE" property="roleType" />
        <result column="ROLE_DESC" property="roleDesc" />
        <result column="REGION_ID" property="regionId" />
        <result column="SYSTEM_INFO_ID" property="systemInfoId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_STAFF" property="createStaff" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_STAFF" property="updateStaff" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID, ROLE_NAME, ROLE_CODE, ROLE_TYPE, ROLE_DESC, REGION_ID, SYSTEM_INFO_ID, STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_STAFF, UPDATE_DATE, UPDATE_STAFF
    </sql>

    <update id="remove" parameterType="cn.ffcs.uoo.core.permission.entity.TbRoles">
        UPDATE TB_ROLES
        SET STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_STAFF = #{updateStaff}, STATUS_DATE = #{statusDate}
        WHERE ROLE_ID = #{roleId}
    </update>

    <insert id="insertSelective" parameterType="cn.ffcs.uoo.core.permission.entity.TbRoles">
        <selectKey keyProperty="roleId" resultType="java.lang.Long" order="BEFORE">
            select SEQ_TB_ROLES_ID.NEXTVAL from dual
        </selectKey>
        insert into TB_ROLES
        <trim prefix="(" suffix=")" suffixOverrides=",">
                ROLE_ID,
            <if test="roleName != null">
                ROLE_NAME,
            </if>
            <if test="roleCode != null">
                ROLE_CODE,
            </if>
            <if test="roleType != null">
                ROLE_TYPE,
            </if>
            <if test="roleDesc != null">
                ROLE_DESC,
            </if>
            <if test="regionId != null">
                REGION_ID,
            </if>
            <if test="systemInfoId != null">
                SYSTEM_INFO_ID,
            </if>
            <if test="statusCd != null">
                STATUS_CD,
            </if>
            <if test="statusDate != null">
                STATUS_DATE,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="createStaff != null">
                CREATE_STAFF,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="updateStaff != null">
                UPDATE_STAFF,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{roleId,jdbcType=DECIMAL},
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                #{roleType,jdbcType=VARCHAR},
            </if>
            <if test="roleDesc != null">
                #{roleDesc,jdbcType=VARCHAR},
            </if>
            <if test="regionId != null">
                #{regionId,jdbcType=DECIMAL},
            </if>
            <if test="systemInfoId != null">
                #{systemInfoId,jdbcType=DECIMAL},
            </if>
            <if test="statusCd != null">
                #{statusCd,jdbcType=VARCHAR},
            </if>
            <if test="statusDate != null">
                #{statusDate,jdbcType=DATE},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="createStaff != null">
                #{createStaff,jdbcType=DECIMAL},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateStaff != null">
                #{updateStaff,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

</mapper>
