<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.permission.dao.TbUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.permission.entity.TbUserRole">
        <id column="USER_ROLE_ID" property="userRoleId" />
        <result column="USER_ID" property="userId" />
        <result column="ROLE_ID" property="roleId" />
        <result column="EFF_DATE" property="effDate" />
        <result column="EXP_DATE" property="expDate" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_STAFF" property="createStaff" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_STAFF" property="updateStaff" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ROLE_ID, USER_ID, ROLE_ID, EFF_DATE, EXP_DATE, STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_STAFF, UPDATE_DATE, UPDATE_STAFF
    </sql>

    <update id="remove" parameterType="cn.ffcs.uoo.core.permission.entity.TbUserRole">
        UPDATE TB_USER_ROLE
        SET STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_STAFF = #{updateStaff}, STATUS_DATE = #{statusDate}
        WHERE USER_ROLE_ID = #{userRoleId}
    </update>

    <insert id="insertSelective" parameterType="cn.ffcs.uoo.core.permission.entity.TbUserRole">
        <selectKey keyProperty="userRoleId" resultType="java.lang.Long" order="BEFORE">
            SELECT SEQ_TB_USER_ROLE_ID.NEXTVAL FROM dual
        </selectKey>
        insert into TB_USER_ROLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
                USER_ROLE_ID,
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="effDate != null">
                EFF_DATE,
            </if>
            <if test="expDate != null">
                EXP_DATE,
            </if>
            <if test="statusCd != null">
                STATUS_CD,
            </if>
            <if test="statusDate != null">
                STATUS_DATE,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="createStaff != null">
                CREATE_STAFF,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="updateStaff != null">
                UPDATE_STAFF,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{userRoleId,jdbcType=DECIMAL},
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=DECIMAL},
            </if>
            <if test="effDate != null">
                #{effDate,jdbcType=DATE},
            </if>
            <if test="expDate != null">
                #{expDate,jdbcType=DATE},
            </if>
            <if test="statusCd != null">
                #{statusCd,jdbcType=VARCHAR},
            </if>
            <if test="statusDate != null">
                #{statusDate,jdbcType=DATE},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="createStaff != null">
                #{createStaff,jdbcType=DECIMAL},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateStaff != null">
                #{updateStaff,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    
    <select id="selectUserPersonnelList" resultType="UserPersonnelVo">
      SELECT ROWNUM NUM,
           P.PSN_CODE,
           P.PSN_NAME,
           G.ORG_NAME,
           T.CONTENT,
           C.CERT_NO,
           A.ACCT,
           S.SLAVE_ACCT,
           U.STATUS_CD
      FROM TB_USER_ROLE R, TB_USER U
      LEFT JOIN TB_ACCT A ON A.STATUS_CD = '1000' AND A.USER_ID = U.USER_ID
      LEFT JOIN TB_SLVACCT_ACCT_REF F ON F.STATUS_CD = '1000' AND F.ACCT_ID = A.ACCT_ID
      LEFT JOIN TB_SLAVE_ACCT S ON S.STATUS_CD = '1000' AND S.SLAVE_ACCT_ID = R.SLAVE_ACCT_ID,
      TB_PERSONNEL P
      LEFT JOIN TB_ORG_PSNDOC_REF F ON F.STATUS_CD = '1000' AND P.PERSONNEL_ID = F.PERSONNEL_ID
      LEFT JOIN TB_ORG G ON G.STATUS_CD = '1000' AND F.ORG_ID = G.ORG_ID
      LEFT JOIN TB_CERT C ON C.STATUS_CD = '1000' AND C.PERSONNEL_ID = P.PERSONNEL_ID
      LEFT JOIN TB_CONTACT T ON T.STATUS_CD = '1000' AND T.PERSONNEL_ID = P.PERSONNEL_ID
     WHERE R.USER_ID = U.USER_ID
       AND U.PERSONNEL_ID = P.PERSONNEL_ID
       AND R.STATUS_CD = '1000'
       AND U.STATUS_CD = '1000'
       AND P.STATUS_CD = '1000'
       AND R.ROLE_ID = #{roleId}
    </select>
</mapper>
