<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />

<link rel="stylesheet" type="text/css" href="/css/style.css">

<title>修改密码</title>
</head>

<body>

<div class="WhitePanel">
    <div class="MainContent">
        <div class="BoardTitle">
            <span class="Name Big">修改密码</span>
        </div>
        <form>
            <div class="BoardContent">
                <ul class="ulhide Center Wp6 FormList">
                    <li>
                        <span class="Label"><span class="Red">* </span>旧密码</span>
                        <input class="Wp4" type="password" value="" />
                    </li>
                    <li>
                        <span class="Label"><span class="Red">* </span>新密码</span>
                        <input class="Wp4" type="password" value="" />
                    </li>
                    <li class="SysTips">
                        <span class="Label"></span>
                        <span class="Gray3">密码由8位字母+数字组合</span>
                    </li>
                    <li>
                        <span class="Label"><span class="Red">* </span>重复新密码</span>
                        <input class="Wp4" type="password" value="" />
                    </li>
                    <li>
                        <span class="Label"></span>
                        <span class="Red"><span class="TipsIcon Error"></span>新密码不能和旧密码一致</span>
                    </li>
                </ul>
                <div class="Contents"></div>
                <div class="Wp6 Center">
                    <span class="Label"></span>
                    <input class="Btn BtnBlue" type="submit" value="保存" />
                    <input class="Btn BtnWhite" type="button" value="取消" onClick="javascript:history.go(-1)" />
            	</div>
            </div>
        </form>
        
    </div><!--主体内容 End-->
</div>

</body>
</html>
