<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.system.dao.SysDataRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.system.entity.SysDataRule">
        <id column="DATA_RULE_ID" property="dataRuleId" />
        <result column="TAB_NAME" property="tabName" />
        <result column="COL_NAME" property="colName" />
        <result column="RULE_OPERATOR" property="ruleOperator" />
        <result column="COL_VALUE" property="colValue" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DATA_RULE_ID, TAB_NAME, COL_NAME, RULE_OPERATOR, COL_VALUE, STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER
    </sql>

    <select id="getId" resultType="java.lang.Long">
                    SELECT SEQ_SYS_DATA_RULE_ID.NEXTVAL FROM DUAL
    </select>

    <select id="listByAccout" resultType="cn.ffcs.uoo.system.entity.SysDataRule" parameterType="java.util.HashMap">
        SELECT
        DISTINCT(m.DATA_RULE_ID),m.*
        FROM
        SYS_DATA_RULE m
        LEFT JOIN SYS_PERMISSION_DATA_RULES_REL pmr ON pmr.DATA_RULE_ID = m.DATA_RULE_ID
        LEFT JOIN SYS_PERMISSION p ON p.PERMISSION_CODE = pmr.PERMISSION_CODE
        LEFT JOIN SYS_ROLE_PERMISSION_REF rpr ON rpr.PERMISSION_CODE =
        p.PERMISSION_CODE
        LEFT JOIN SYS_ROLE r ON r.ROLE_CODE = rpr.ROLE_CODE
        left join SYS_POSITIONT_ROLE_REF prr on prr.ROLE_CODE=r.ROLE_CODE
        left join SYS_USER_POSITION_REF upr on upr.POSITION_CODE=prr.POSITION_CODE
        LEFT JOIN SYS_USER u ON u.USER_CODE = upr.USER_CODE
        WHERE
        m.STATUS_CD = '1000'
        AND pmr.STATUS_CD = '1000'
        AND p.STATUS_CD = '1000'
        AND rpr.STATUS_CD = '1000'
        AND r.STATUS_CD = '1000'
        AND prr.STATUS_CD = '1000'
        AND upr.STATUS_CD = '1000'
        AND u.STATUS_CD = '1000'
        AND u.ACCOUT = #{accout}
        AND m.TAB_NAME in 
        <foreach collection="tableNames" index="index" item="item" open="(" separator="," close=")">
                 #{item}       
         </foreach>
    </select>



    <select id="getDataRulePage" resultType="cn.ffcs.uoo.system.vo.SysDataRuleVo">
        select a.data_rule_id dataRuleId,
       a.tab_name tabName,
       a.col_name colName,
       a.rule_operator ruleOperator,
       a.col_value colValue,
       a.status_cd statusCd
  from sys_data_rule a
 where a.status_cd = '1000'
        <if test="search!=null and search!=''">
            and fileName like '%'||#{search}||'%'
        </if>
    </select>

    <select id="getDicItem" resultType="java.lang.String">
             SELECT A.ITEM_CNNAME
     FROM TB_DICTIONARY_ITEM A, TB_DICTIONARY B
    WHERE A.STATUS_CD = 1000
      AND B.STATUS_CD = 1000
      AND A.DICTIONARY_ID = B.DICTIONARY_ID
      AND B.DICTIONARY_NAME='RULE_OPERATOR'
      AND A.ITEM_VALUE=#{itemValue}
    </select>
</mapper>
