<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.system.dao.SysMenuMapper">
	<resultMap id="BaseResultMap" type="cn.ffcs.uoo.system.entity.SysMenu">

		<result property="menuId" column="MENU_ID" />

		<result property="menuName" column="MENU_NAME" />

		<result property="menuCode" column="MENU_CODE" />

		<result property="menuUrl" column="MENU_URL" />

		<result property="menuSort" column="MENU_SORT" />

		<result property="menuLevel" column="MENU_LEVEL" />

		<result property="parentMenuCode" column="PARENT_MENU_CODE" />

		<result property="statusCd" column="STATUS_CD" />

		<result property="createDate" column="CREATE_DATE" />

		<result property="createUser" column="CREATE_USER" />

		<result property="updateDate" column="UPDATE_DATE" />

		<result property="updateUser" column="UPDATE_USER" />

		<result property="statusDate" column="STATUS_DATE" />

	</resultMap>

	<!-- 通用查询结果列 -->


	<sql id="Base_Column_List"> MENU_ID, MENU_NAME, MENU_CODE, MENU_URL, MENU_SORT,
		MENU_LEVEL, PARENT_MENU_CODE, STATUS_CD, CREATE_DATE, CREATE_USER,
		UPDATE_DATE, UPDATE_USER, STATUS_DATE </sql>

	<select id="getId" resultType="Long">
		select SEQ_TB_SYS_MENU.NEXTVAL
		from dual
	</select>
	<select id="getMenuByAccout" resultType="cn.ffcs.uoo.system.entity.SysMenu"
		parameterType="java.util.HashMap">
		SELECT
        m.*
        FROM
        SYS_MENU m
        LEFT JOIN SYS_PERMISSION_MENU_REL pmr ON pmr.MENU_CODE = m.MENU_CODE
        LEFT JOIN SYS_PERMISSION p ON p.PERMISSION_CODE = pmr.PERMISSION_CODE
        LEFT JOIN SYS_ROLE_PERMISSION_REF rpr ON rpr.PERMISSION_CODE =
        p.PERMISSION_CODE
        LEFT JOIN SYS_ROLE r ON r.ROLE_CODE = rpr.ROLE_CODE
        left join SYS_POSITIONT_ROLE_REF prr on prr.ROLE_CODE=r.ROLE_CODE
        left join SYS_USER_POSITION_REF upr on upr.POSITION_CODE=prr.POSITION_CODE
        LEFT JOIN SYS_USER u ON u.USER_CODE = upr.USER_CODE
        WHERE
        m.STATUS_CD = '1000'
        AND pmr.STATUS_CD = '1000'
        AND p.STATUS_CD = '1000'
        AND rpr.STATUS_CD = '1000'
        AND r.STATUS_CD = '1000'
        AND prr.STATUS_CD = '1000'
        AND upr.STATUS_CD = '1000'
        AND u.STATUS_CD = '1000'
		AND u.ACCOUT = #{accout}
	</select>

</mapper>