<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.system.dao.SysOrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.system.entity.SysOrganization">
        <id column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="PARENT_ORG_CODE" property="parentOrgCode" />
        <result column="REGION_NBR" property="regionNbr" />
        <result column="SORT" property="sort" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_ID, ORG_NAME, ORG_CODE, PARENT_ORG_CODE, REGION_NBR, SORT, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>


    <select id="getId" resultType="java.lang.Long">
		select SEQ_SYS_ORGANIZATION_ID.NEXTVAL from dual
	</select>

    <select id="getTreeRoot" resultType="cn.ffcs.uoo.system.vo.TreeNodeVo">
        SELECT A.ORG_CODE id,A.PARENT_ORG_CODE pid,A.ORG_NAME name,(select wm_concat(C.POSITION_NAME)
                  from SYS_DEPT_POSITION_REF B, Sys_Position C
                 where C.STATUS_CD = '1000'
                   AND B.STATUS_CD = '1000'
                   AND B.POSITION_CODE = C.POSITION_CODE
                   AND A.ORG_CODE = B.ORG_CODE) extField1 FROM SYS_ORGANIZATION A WHERE A.STATUS_CD='1000' AND A.PARENT_ORG_CODE IS NULL
    </select>

    <select id="getTreeChild" resultType="cn.ffcs.uoo.system.vo.TreeNodeVo">
        SELECT A.ORG_CODE ID,A.PARENT_ORG_CODE PID,A.ORG_NAME NAME, (select wm_concat(C.POSITION_NAME)
                  from SYS_DEPT_POSITION_REF B, Sys_Position C
                 where C.STATUS_CD = '1000'
                   AND B.STATUS_CD = '1000'
                   AND B.POSITION_CODE = C.POSITION_CODE
                   AND A.ORG_CODE = B.ORG_CODE) EXTFIELD1 FROM SYS_ORGANIZATION A WHERE A.STATUS_CD='1000' AND A.PARENT_ORG_CODE=#{id}
    </select>

    <select id="selectOrgTree" resultType="cn.ffcs.uoo.system.vo.TreeNodeVo">
        SELECT A.ORG_CODE ID,A.PARENT_ORG_CODE PID,A.ORG_NAME NAME,(select wm_concat(C.POSITION_NAME)
                  from SYS_DEPT_POSITION_REF B, Sys_Position C
                 where C.STATUS_CD = '1000'
                   AND B.STATUS_CD = '1000'
                   AND B.POSITION_CODE = C.POSITION_CODE
                   AND A.ORG_CODE = B.ORG_CODE) EXTFIELD1 FROM SYS_ORGANIZATION A WHERE A.STATUS_CD='1000'
    </select>

    <select id="isleaf"  resultType="java.lang.Integer">
            SELECT COUNT(1) FROM SYS_ORGANIZATION A WHERE A.STATUS_CD=1000 AND A.PARENT_ORG_CODE=#{id}
    </select>

    <select id="selectFuzzyOrgRelPage" resultType="cn.ffcs.uoo.system.vo.SysOrganizationVo">
         Select A.* from SYS_ORGANIZATION A where 1=1
         <if test="vo.search != null and vo.search != ''">
            AND  A.ORG_NAME like '%'||#{vo.search}||'%'
         </if>
    </select>

    <select id="getRestructOrgRelTree"  resultType="cn.ffcs.uoo.system.vo.TreeNodeVo">
               SELECT A.ORG_CODE ID,
               A.PARENT_ORG_CODE PID,
               A.ORG_NAME name,
               (select wm_concat(C.POSITION_NAME)
                  from SYS_DEPT_POSITION_REF B, Sys_Position C
                 where C.STATUS_CD = '1000'
                   AND B.STATUS_CD = '1000'
                   AND B.POSITION_CODE = C.POSITION_CODE
                   AND A.ORG_CODE = B.ORG_CODE) EXTFIELD1
          FROM (SELECT * FROM SYS_ORGANIZATION A WHERE A.STATUS_CD = '1000') A
         START WITH A.ORG_CODE = #{vo.orgCode}
        CONNECT BY A.ORG_CODE = PRIOR A.PARENT_ORG_CODE
    </select>
    
    <select id="getOrgRelPage" resultType="cn.ffcs.uoo.system.vo.SysOrganizationVo">

        <choose>
        <when test='vo.isSearchlower=="0"'>
       SELECT A.ORG_CODE orgCode,
               A.PARENT_ORG_CODE parentOrgCode,
               A.ORG_NAME orgName,
               (select d.region_name
                  from tb_area_code b, tb_common_region d
                 where b.status_cd = '1000'
                   and d.status_cd = '1000'
                   and b.common_region_id = d.common_region_id
                   and b.area_nbr=A.REGION_NBR) regionName,
               (select wm_concat(C.POSITION_NAME)
                  from SYS_DEPT_POSITION_REF B, Sys_Position C
                 where C.STATUS_CD = '1000'
                   AND B.STATUS_CD = '1000'
                   AND B.POSITION_CODE = C.POSITION_CODE
                   AND A.ORG_CODE = B.ORG_CODE) POSITIONS,
                   A.STATUS_CD statusCd,
                   ( select count(1) from SYS_USER_DEPT_REF f where f.status_cd='1000' and f.org_code=A.ORG_CODE) userNum
          FROM (SELECT * FROM SYS_ORGANIZATION A WHERE A.STATUS_CD = '1000' AND A.PARENT_ORG_CODE=#{vo.orgCode}) A
            where 1=1
            <if test="vo.search!=null and vo.search!=''">
                AND ORG_NAME like '%'||#{vo.search}||'%'
            </if>

        </when>
        <otherwise>
            SELECT A.ORG_CODE orgCode,
            A.PARENT_ORG_CODE parentOrgCode,
            A.ORG_NAME orgName,
            (select d.region_name
            from tb_area_code b, tb_common_region d
            where b.status_cd = '1000'
            and d.status_cd = '1000'
            and b.common_region_id = d.common_region_id
            and b.area_nbr=A.REGION_NBR) regionName,
            (select wm_concat(C.POSITION_NAME)
            from SYS_DEPT_POSITION_REF B, Sys_Position C
            where C.STATUS_CD = '1000'
            AND B.STATUS_CD = '1000'
            AND B.POSITION_CODE = C.POSITION_CODE
            AND A.ORG_CODE = B.ORG_CODE) POSITIONS,
            A.STATUS_CD statusCd,
            ( select count(1) from SYS_USER_DEPT_REF f where f.status_cd='1000' and f.org_code=A.ORG_CODE) userNum
            FROM (SELECT * FROM SYS_ORGANIZATION A WHERE A.STATUS_CD = '1000'  START WITH A.ORG_CODE = #{vo.orgCode}
            CONNECT BY  PRIOR  A.ORG_CODE =  A.PARENT_ORG_CODE) A
            where 1=1
            <if test="vo.search!=null and vo.search!=''">
                AND ORG_NAME like '%'||#{vo.search}||'%'
            </if>
        </otherwise>
        </choose>
    </select>


    <select id="getOrg" resultType="cn.ffcs.uoo.system.vo.SysOrganizationVo">
        select A.Org_Id          orgId,
        A.Org_Name        orgName,
        A.Org_Code        orgCode,
        A.Parent_Org_Code parentOrgCode,
        A.REGION_NBR      regionNbr,
        A.SORT            sort,
        A.STATUS_CD       statusCd
        from SYS_ORGANIZATION A where A.STATUS_CD=1000 AND A.Org_Code = #{orgCode}
    </select>


    <select id="getOrgUserCount" resultType="java.lang.Integer">
        select count(1) from SYS_USER_DEPT_REF a where a.status_cd='1000' and a.org_code=#{orgCode}
    </select>


    <select id="getOrgRoleCount" resultType="java.lang.Integer">
        select count(1) from SYS_DEPT_ROLE_REF a where a.status_cd='1000' and a.org_code=#{orgCode}
    </select>
</mapper>
