<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.system.dao.SysOperationLogMapper">
	<resultMap id="BaseResultMap" type="cn.ffcs.uoo.system.entity.SysOperationLog">
		<id column="OPERATION_LOG_ID" property="operationLogId" />
		<result column="LOG_TYPE" property="logType" />
		<result column="LOG_NAME" property="logName" />
		<result column="USER_CODE" property="userCode" />
		<result column="SUCCEED" property="succeed" />
		<result column="NOTES" property="notes" />
		<result column="STATUS_CD" property="statusCd" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MENU_CODE" property="menuCode" />
		<result column="FUNC_CODE" property="funcCode" />
		<result column="FORM_DATA" property="formData" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		OPERATION_LOG_ID, LOG_TYPE, LOG_NAME, USER_CODE, SUCCEED, NOTES, STATUS_CD,
		CREATE_DATE, MENU_CODE, FUNC_CODE, FORM_DATA
	</sql>

	<select id="getId" resultType="Long">
		select SEQ_TB_SYS_OPERATION_LOG.NEXTVAL from dual
	</select>
	<select id="listLog" resultType="cn.ffcs.uoo.system.vo.LogDTO" parameterType="java.util.HashMap">
		SELECT * FROM
        (
        SELECT TB.*,ROWNUM RN
        FROM (
		SELECT
		*
		FROM
		(
		SELECT
		LOGIN_ID AS logId,
		LOG_NAME AS logName,
		ACCOUT AS opUser,
		SUCCEED AS succeed,
		IP AS ip,
		STATUS_CD AS statusCd,
		CREATE_DATE AS createDate,
		'LOGIN' as logEnum
		FROM
		SYS_LOGIN_LOG UNION
		SELECT
		OPERATION_LOG_ID AS logId,
		LOG_NAME AS logName,
		t.ACCOUT AS opUser,
		SUCCEED AS succeed,
		'' AS ip,
		ol.STATUS_CD AS statusCd,
		ol.CREATE_DATE AS createDate,
		'OPT' as logEnum
		FROM
		SYS_OPERATION_LOG ol,
		SYS_USER t
		WHERE
		t.USER_CODE = ol.USER_CODE
		)
		ORDER BY
		createDate DESC
		 )TB WHERE ROWNUM &lt;= #{end}
        )
        WHERE RN &gt;= #{from}
	</select>
<select id="countLog" resultType="Long" parameterType="java.util.HashMap">
         
        SELECT
        count(*)
        FROM
        (
        SELECT
        LOGIN_ID AS logId,
        LOG_NAME AS logName,
        ACCOUT AS opUser,
        SUCCEED AS succeed,
        IP AS ip,
        STATUS_CD AS statusCd,
        CREATE_DATE AS createDate,
        'LOGIN' as logEnum
        FROM
        SYS_LOGIN_LOG UNION
        SELECT
        OPERATION_LOG_ID AS logId,
        LOG_NAME AS logName,
        t.ACCOUT AS opUser,
        SUCCEED AS succeed,
        0 AS ip,
        ol.STATUS_CD AS statusCd,
        ol.CREATE_DATE AS createDate,
        'OPT' as logEnum
        FROM
        SYS_OPERATION_LOG ol,
        SYS_USER t
        WHERE
        t.USER_CODE = ol.USER_CODE
        )
        ORDER BY
        createDate DESC
         
    </select>
</mapper>