<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.system.dao.SysPrivFileRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.system.entity.SysPrivFileRel">
        <id column="PRIV_FILE_ID" property="privFileId" />
        <result column="PERMISSION_CODE" property="permissionCode" />
        <result column="FILE_ID" property="fileId" />
        <result column="EFF_DATE" property="effDate" />
        <result column="EXP_DATE" property="expDate" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PRIV_FILE_ID, PERMISSION_CODE, FILE_ID, EFF_DATE, EXP_DATE, STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER
    </sql>
<select id="getId" resultType="Long">
        select SEQ_SYS_PRIV_FILE_REL.NEXTVAL from dual
    </select>
    <update id="updatePermissionCode">
       update SYS_PRIV_FILE_REL set PERMISSION_CODE = #{newCode} where PERMISSION_CODE=#{oldCode}
    </update>
</mapper>
