<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.system.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.system.entity.SysUser">
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="ACCOUT" jdbcType="VARCHAR" property="accout" />
    <result column="PASSWD" jdbcType="VARCHAR" property="passwd" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="UNAME" jdbcType="VARCHAR" property="uname" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="UCODE" jdbcType="VARCHAR" property="ucode" />
    <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId" />
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="POSTION_ID" jdbcType="DECIMAL" property="postionId" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_ID" jdbcType="VARCHAR" property="certId" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="NOTES" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, ACCOUT, PASSWD, SALT, UNAME, GENDER, UCODE, DEPT_ID, ROLE_ID, POSTION_ID, 
    BIRTHDAY, CERT_TYPE, CERT_ID, MOBILE, EMAIL, ADDRESS, REASON, STATUS_CD, CREATE_DATE, 
    CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE, NOTES
  </sql>
</mapper>