<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.system.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.system.entity.SysUser">
    <id column="USER_ID" property="userId" />
        <result column="ACCOUT" property="accout" />
        <result column="PASSWD" property="passwd" />
        <result column="SALT" property="salt" />
        <result column="USER_NAME" property="userName" />
        <result column="GENDER" property="gender" />
        <result column="USER_CODE" property="userCode" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="CERT_TYPE" property="certType" />
        <result column="CERT_ID" property="certId" />
        <result column="MOBILE" property="mobile" />
        <result column="EMAIL" property="email" />
        <result column="IMAGE_URL" property="imageUrl" />
        <result column="LAST_IP" property="lastIp" />
        <result column="ACCT_LEVEL" property="acctLevel" />
        <result column="LOCKED" property="locked" />
        <result column="LAST_LOGIN" property="lastLogin" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, ACCOUT, PASSWD, SALT, USER_NAME, GENDER, USER_CODE, BIRTHDAY, CERT_TYPE, CERT_ID, MOBILE, EMAIL, IMAGE_URL, LAST_IP, ACCT_LEVEL, LOCKED, LAST_LOGIN, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

  <select id="getId" resultType="Long">
    select SEQ_SYS_USER_ID.NEXTVAL from dual
  </select>
</mapper>