<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.system.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.system.entity.SysUser">
    <id column="USER_ID" property="userId" />
        <result column="ACCOUT" property="accout" />
        <result column="PASSWD" property="passwd" />
        <result column="SALT" property="salt" />
        <result column="USER_NAME" property="userName" />
        <result column="GENDER" property="gender" />
        <result column="USER_CODE" property="userCode" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="CERT_TYPE" property="certType" />
        <result column="CERT_ID" property="certId" />
        <result column="MOBILE" property="mobile" />
        <result column="EMAIL" property="email" />
        <result column="IMAGE_URL" property="imageUrl" />
        <result column="LAST_IP" property="lastIp" />
        <result column="ACCT_LEVEL" property="acctLevel" />
        <result column="LOCKED" property="locked" />
        <result column="LAST_LOGIN" property="lastLogin" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, ACCOUT, PASSWD, SALT, USER_NAME, GENDER, USER_CODE, BIRTHDAY, CERT_TYPE, CERT_ID, MOBILE, EMAIL, IMAGE_URL, LAST_IP, ACCT_LEVEL, LOCKED, LAST_LOGIN, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

  <select id="getId" resultType="Long">
    select SEQ_SYS_USER_ID.NEXTVAL from dual
  </select>

  <select id="getUserDeptPosition" resultType="cn.ffcs.uoo.system.vo.SysUserDeptPositionVo">
      select n.org_code,
             wm_concat(n.position_code) position_codes,
             wm_concat(position_name) position_names,
             (select o.org_name from sys_organization o where o.status_cd = 1000 and o.org_code = n.org_code) as org_name,
             n.user_code
      from (select t4.*, t5.position_name
            from (select t1.dept_position_ref_id,
                         t1.org_code,
                         t1.position_code,
                         t2.user_code
                  from SYS_DEPT_POSITION_REF t1,
                       sys_user_dept_ref     t2,
                       sys_user_position_ref t3
                  where t1.status_cd = 1000
                    and t2.status_cd = 1000
                    and t3.status_cd = 1000
                    and t1.org_code = t2.org_code
                    and t1.position_code = t3.position_code
                   <if test="userCode != null and userCode != '' ">
                       and t2.user_code = #{userCode}
                       and t3.user_code = #{userCode}
                   </if>
                    ) t4
                     left join sys_position t5
                         on t4.position_code = t5.position_code
                                and t5.status_cd = 1000) n
      group by n.org_code, n.user_code

  </select>

</mapper>