<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.interfaces.cpc.dao.ExpandorowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.interfaces.cpc.pojo.Expandorow">
        <id column="ROW_ID" property="rowId" />
        <result column="TABLE_ID" property="tableId" />
        <result column="RESOURCE_ID" property="resourceId" />
        <result column="RECORD_ID" property="recordId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROW_ID, TABLE_ID, RESOURCE_ID, RECORD_ID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <select id="selectOneExpandRow" parameterType="cn.ffcs.interfaces.cpc.pojo.Expandorow" resultType="cn.ffcs.interfaces.cpc.pojo.Expandorow">
      SELECT ROW_ID ,TABLE_ID ,RESOURCE_ID ,RECORD_ID ,
      STATUS_CD ,CREATE_DATE ,CREATE_USER ,
      UPDATE_DATE ,UPDATE_USER ,STATUS_DATE
      FROM TB_EXPANDOROW
      WHERE TABLE_ID= #{tableId}
	 AND RESOURCE_ID= #{resourceId}
	 AND RECORD_ID= #{recordId}
	 AND STATUS_CD= #{statusCd}
    </select>
</mapper>
