<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.interfaces.cpc.dao.TbAccountOrgRelMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.interfaces.cpc.pojo.TbAccountOrgRel">
    <result column="ACCT_ORG_REL_ID" jdbcType="DECIMAL" property="acctOrgRelId" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="ACCT_ID" jdbcType="DECIMAL" property="acctId" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="ORG_TREE_ID" jdbcType="DECIMAL" property="orgTreeId" />
  </resultMap>
</mapper>