<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.area.dao.TbLocationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.area.entity.TbLocations">
        <id column="id" property="id" />
        <result column="flag" property="flag" />
        <result column="local_code" property="localCode" />
        <result column="local_name" property="localName" />
        <result column="lv" property="lv" />
        <result column="sup_local_code" property="supLocalCode" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, flag, local_code, local_name, lv, sup_local_code, url
    </sql>

</mapper>
