<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
  <!-- js -->
  <script th:fragment="jquery" src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
  <script th:fragment="bootstrap" src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  <script th:fragment="layui" src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
  <script th:fragment="uoo" src="../../static/js/uoo.js" th:src="@{/js/uoo.js}"></script>
</body>
</html>