<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.OrgCertRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.OrgCertRel">
        <result column="ORG_CERT_ID" property="orgCertId" />
        <result column="CERT_ID" property="certId" />
        <result column="ORG_ID" property="orgId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_CERT_ID, CERT_ID, ORG_ID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>


    <select id="getId" resultType="java.lang.Long">
        SELECT SEQ_TB_ORG_CERT_REL_ID.nextval FROM dual
    </select>

    <update id="delete" parameterType="cn.ffcs.uoo.core.organization.entity.OrgCertRel">
        UPDATE
          TB_ORG_CERT_REL
        SET
          STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_USER = #{updateUser}
        WHERE
          ORG_CERT_ID = #{orgCertId}
    </update>

    <select id="getOrgCerRelByOrgId" resultType="cn.ffcs.uoo.core.organization.vo.OrgCertVo">
        SELECT A.ORG_CERT_ID orgCertId,
       A.CERT_ID certId,
       A.ORG_ID orgId,
       B.CERT_TYPE certType,
       '' certTypeName,
       B.CERT_NO certNo,
       B.ISSUING Issuing
  FROM TB_ORG_CERT_REL A, TB_CERT B
 WHERE A.STATUS_CD = '1000'
   AND B.STATUS_CD = '1000'
   AND A.CERT_ID=B.CERT_ID
   AND A.ORG_ID=#{orgId}
    </select>
</mapper>
