<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.Org">
        <id column="ORG_ID" property="orgId" />
        <result column="LOC_ID" property="locId" />
        <result column="AREA_CODE_ID" property="areaCodeId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="ORG_MART_CODE" property="orgMartCode" />
        <result column="SHORT_NAME" property="shortName" />
        <result column="ORG_NAME_EN" property="orgNameEn" />
        <result column="FULL_NAME" property="fullName" />
        <result column="CITY_TOWN" property="cityTown" />
        <result column="OFFICE_PHONE" property="officePhone" />
        <result column="FOUNDING_TIME" property="foundingTime" />
        <result column="ORG_SCALE" property="orgScale" />
        <result column="ORG_LEVEL" property="orgLevel" />
        <result column="ORG_POSITION_LEVEL" property="orgPositionLevel" />
        <result column="SORT" property="sort" />
        <result column="ORG_CONTENT" property="orgContent" />
        <result column="ORG_DESC" property="orgDesc" />
        <result column="ADDRESS" property="address" />
        <result column="UUID" property="uuid" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_ID, LOC_ID, AREA_CODE_ID, ORG_NAME, ORG_CODE, ORG_MART_CODE, SHORT_NAME, ORG_NAME_EN, FULL_NAME, CITY_TOWN, OFFICE_PHONE, FOUNDING_TIME, ORG_SCALE, ORG_LEVEL, ORG_POSITION_LEVEL, SORT, ORG_CONTENT, ORG_DESC, ADDRESS, UUID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>
    <!-- 获取OrgIdSeq -->
    <select id="getId" resultType="java.lang.Long">
        SELECT seq_tb_org_id.nextval FROM dual
    </select>


    <update id="delete" parameterType="cn.ffcs.uoo.core.organization.entity.Org">
        UPDATE
        TB_ORG
        SET
        STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_USER = #{updateUser}
        WHERE
        ORG_ID = #{orgId}
    </update>


    <!--条件查询组织树总量 -->
    <select id="queryOrgCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM TB_ORG A, TB_ORG_REF B, TB_ORG_REF_TYPE C
        WHERE A.STATUS_CD = 1000
        AND B.STATUS_CD = 1000
        AND C.STATUS_CD = 1000
        AND A.ORG_ID = B.ORG_ID
        <if test="org.orgId != null">
            AND B.PARENT_ORG_ID = #{org.orgId}
        </if>
        <if test="org.refCode != null">
            AND C.REF_CODE = #{org.refCode}
        </if>
        AND B.ORG_REF_TYPE_ID = C.ORG_REF_TYPE_ID
        ORDER BY A.ORG_LEVEL
    </select>

    <select id="getOrgList" resultType="cn.ffcs.uoo.core.organization.entity.Org">
        SELECT  A.ORG_ID orgId,A.ORG_NAME orgName,A.FULL_NAME fullName
        FROM TB_ORG A, TB_ORG_REF B, TB_ORG_REF_TYPE C
        WHERE A.STATUS_CD = 1000
        AND B.STATUS_CD = 1000
        AND C.STATUS_CD = 1000
        AND A.ORG_ID = B.ORG_ID
        <if test="orgId != null and orgId != ''">
            AND B.ORG_ID = #{orgId}
        </if>
        <if test="refCode != null and orgId != ''">
            AND C.REF_CODE = #{refCode}
        </if>
        AND B.ORG_REF_TYPE_ID = C.ORG_REF_TYPE_ID
        ORDER BY A.ORG_LEVEL
    </select>


    <select id="getOrgCodeSeq" resultType="java.lang.Long">
        SELECT seq_org_code.nextval FROM dual
    </select>


    <select id="selectOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.OrgVo">

        <!--WITH ORGTREE AS(-->
        <!--SELECT REPLACE(REPLACE(SYS_CONNECT_BY_PATH(ORG_NAME, '->'), '->', '//'),'//', '/') FULL_NAME,-->
        <!--ORG_NAME,ORG_ID,SUP_ORG_ID,SORT,LOC_ID,AREA_CODE_ID,ORG_CODE,STATUS_CD-->
        <!--FROM (SELECT A.* ,B.SUP_ORG_ID-->
        <!--FROM TB_ORG A, TB_ORG_REL B-->
        <!--WHERE A.ORG_ID = B.ORG_ID-->
        <!--AND A.STATUS_CD = 1000-->
        <!--AND B.STATUS_CD = 1000) AA-->
        <!--START WITH ORG_ID = #{orgVo.orgRootId}-->
        <!--CONNECT BY PRIOR AA.ORG_ID = AA.SUP_ORG_ID-->
        <!--),ORGTYPE AS(-->
        <!--SELECT-->
        <!--A.ORG_ID,-->
        <!--B.ORG_TYPE_NAME-->
        <!--FROM TB_ORG_ORGTYPE_REL A, TB_ORG_TYPE B-->
        <!--WHERE A.STATUS_CD = '1000'-->
        <!--AND B.STATUS_CD = '1000'-->
        <!--AND A.ORG_TYPE_ID = B.ORG_TYPE_ID-->
        <!--)-->
        <!--SELECT D.ORG_ID ORGID,-->
        <!--D.ORG_NAME ORGNAME,-->
        <!--D.FULL_NAME FULLNAME,-->
        <!--D.STATUS_CD STATUSCD,-->
        <!--D.ORG_CODE ORGCODE,-->
        <!--D.LOC_ID LOCID,-->
        <!--PL.LOC_CODE LOCCODE,-->
        <!--PL.LOC_NAME LOCNAME,-->
        <!--(select to_char(wm_concat(a.ORG_TYPE_NAME)) from ORGTYPE a where a.ORG_ID = D.ORG_ID  ) ORGTYPESPLIT-->
        <!--FROM (SELECT * FROM ORGTREE WHERE 1=1-->
        <!--<if test="orgVo.orgId != null and orgVo.orgId != ''">-->
           <!--AND SUP_ORG_ID = #{orgVo.orgId}-->
        <!--</if>-->
        <!--ORDER BY SORT-->
        <!--) D LEFT JOIN ( SELECT * FROM  TB_POLITICAL_LOCATION WHERE STATUS_CD='1000') PL ON PL.LOC_ID=D.LOC_ID-->
        SELECT D.ORG_ID ORGID,
        D.ORG_NAME ORGNAME,
        D.FULL_NAME FULLNAME,
        D.STATUS_CD STATUSCD,
        D.ORG_CODE ORGCODE,
        D.LOC_ID LOCID,
        PL.LOC_CODE LOCCODE,
        PL.LOC_NAME LOCNAME,
        ( SELECT TO_CHAR(WM_CONCAT(B.ORG_TYPE_NAME))
        FROM TB_ORG_ORGTYPE_REL A, TB_ORG_TYPE B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND A.ORG_TYPE_ID = B.ORG_TYPE_ID
        AND A.ORG_ID = D.ORG_ID) ORGTYPESPLIT
        FROM (
        SELECT  B.*
        FROM TB_ORG_REL              A,
        TB_ORG                  B,
        TB_ORG_REL_TYPE         C,
        TB_OGT_ORG_RELTYPE_CONF D,
        TB_ORG_TREE             E
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND C.STATUS_CD = '1000'
        AND D.STATUS_CD = '1000'
        AND E.STATUS_CD = '1000'
        AND E.ORG_TREE_ID = D.ORG_TREE_ID
        AND C.ORG_REL_TYPE_ID = D.ORG_REL_TYPE_ID
        AND A.REF_CODE = C.REF_CODE
        AND A.ORG_ID=B.ORG_ID
        AND E.ORG_TREE_ID=#{orgVo.orgTreeId}
        AND A.PARENT_ORG_ID=#{orgVo.orgId}) D
        LEFT JOIN TB_POLITICAL_LOCATION PL ON PL.LOC_ID=D.LOC_ID
    </select>

    <select id="selectOrgPage" resultType="cn.ffcs.uoo.core.organization.vo.OrgVo">
        SELECT A.Org_Id orgId,
        A.Org_Name orgName,
        A.ORG_CODE orgCode,
        A.FULL_NAME fullName,
        A.STATUS_CD statusCd,
        to_char(A.CREATE_DATE,'YYYY-MM-DD hh24:mi:ss') createDate
        FROM TB_ORG A
        WHERE 1=1
        <if test="orgVo.search != null and orgVo.search != ''">
            AND (A.ORG_NAME like '%'||#{orgVo.search}||'%'
                or A.FULL_NAME like '%'||#{orgVo.search}||'%'
                or A.ORG_CODE like '%'||#{orgVo.search}||'%')
        </if>
        <if test="orgVo.statusCd != null and orgVo.statusCd != ''">
            AND A.STATUS_CD = #{orgVo.statusCd}
        </if>
        ORDER BY A.SORT
    </select>

    <select id="getSysFullName" resultType="java.lang.String">
        SELECT FULL_NAME fullName FROM (
        SELECT REPLACE(REPLACE(SYS_CONNECT_BY_PATH(ORG_NAME, '->'), '->', '//'),'//', '/') FULL_NAME,
        ORG_NAME,ORG_ID,PARENT_ORG_ID,SORT,LOC_ID,AREA_CODE_ID,ORG_CODE,STATUS_CD
        FROM (SELECT A.* ,B.PARENT_ORG_ID
        FROM TB_ORG A, TB_ORG_REL B
        WHERE A.ORG_ID = B.ORG_ID
        AND A.STATUS_CD = 1000
        AND B.STATUS_CD = 1000) AA
        START WITH ORG_ID = #{orgRootId}
        CONNECT BY PRIOR AA.ORG_ID = AA.PARENT_ORG_ID ) AA where AA.ORG_ID = #{orgId}
    </select>


    <!--<select id="insertByObj" parameterType="cn.ffcs.uoo.core.organization.vo.OrgVo">-->
    <!--INSERT INTO tb_org (ORG_ID, LOC_ID, AREA_CODE_ID, ORG_NAME, ORG_CODE-->
	<!--, SHORT_NAME, ORG_NAME_EN, FULL_NAME, CITY_TOWN, OFFICE_PHONE-->
	<!--, FOUNDING_TIME, ORG_SCALE, ORG_LEVEL, ORG_POSITION_LEVEL, SORT-->
	<!--, ORG_CONTENT, ORG_DESC, ADDRESS, UUID, STATUS_CD-->
	<!--, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE)-->
      <!--VALUES (213524,#{OrgVo.locId}, #{OrgVo.areaCodeId}, #{OrgVo.orgName}, #{OrgVo.orgCode}-->
	<!--, #{OrgVo.shortName}, #{OrgVo.orgNameEn},  #{OrgVo.fullName},  #{OrgVo.cityTown},#{OrgVo.officePhone}-->
	<!--, #{OrgVo.foundingTime}, #{OrgVo.orgScale},  #{OrgVo.orgLevel},  #{OrgVo.orgPositionLevel}, #{OrgVo.sort}-->
	<!--, #{OrgVo.orgContent}, #{OrgVo.orgDesc}, #{OrgVo.address}, #{OrgVo.uuid}, '1000'-->
	<!--, to_date('16-11-2018 16:02:53', 'dd-mm-yyyy hh24:mi:ss'), 0, to_date('16-11-2018 16:02:53', 'dd-mm-yyyy hh24:mi:ss'), 0, to_date('16-11-2018 16:02:53', 'dd-mm-yyyy hh24:mi:ss'));-->
    <!--</select>-->
    <select id="selectOrgByOrgId" resultType="cn.ffcs.uoo.core.organization.vo.OrgVo">
        SELECT A.ORG_ID orgId,A.LOC_ID locId,A.AREA_CODE_ID areaCodeId,A.ORG_NAME orgName,A.ORG_CODE orgCode,A.SHORT_NAME shortName,
        A.ORG_NAME_EN orgNameEn,A.FULL_NAME fullName,
        A.CITY_TOWN cityTown,A.OFFICE_PHONE officePhone,TO_CHAR(A.FOUNDING_TIME, 'YYYY-MM-DD HH24:MI:SS') foundingTime,
        A.ORG_SCALE orgScale,A.ORG_LEVEL orgLevel,A.ORG_POSITION_LEVEL orgPositionLevel,
        A.SORT sort,A.ORG_CONTENT orgContent,A.ORG_DESC orgDesc,A.ADDRESS address,
        TO_CHAR(A.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') createDate  FROM TB_ORG  A where A.org_id=#{orgId}
    </select>

</mapper>
