<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.Org">
        <id column="ORG_ID" property="orgId" />
        <result column="LOC_ID" property="locId" />
        <result column="AREA_CODE_ID" property="areaCodeId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="SHORT_NAME" property="shortName" />
        <result column="ORG_NAME_EN" property="orgNameEn" />
        <result column="FULL_NAME" property="fullName" />
        <result column="CITY_TOWN" property="cityTown" />
        <result column="OFFICE_PHONE" property="officePhone" />
        <result column="FOUNDING_TIME" property="foundingTime" />
        <result column="ORG_SCALE" property="orgScale" />
        <result column="ORG_LEVEL" property="orgLevel" />
        <result column="ORG_POSITION_LEVEL" property="orgPositionLevel" />
        <result column="SORT" property="sort" />
        <result column="ORG_CONTENT" property="orgContent" />
        <result column="ORG_DESC" property="orgDesc" />
        <result column="ADDRESS" property="address" />
        <result column="UUID" property="uuid" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="ORG_MART_CODE" property="orgMartCode" />
        <result column="STANDARD_FLAG" property="standardFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_ID, LOC_ID, AREA_CODE_ID, ORG_NAME, ORG_CODE, SHORT_NAME, ORG_NAME_EN, FULL_NAME, CITY_TOWN, OFFICE_PHONE, FOUNDING_TIME, ORG_SCALE, ORG_LEVEL, ORG_POSITION_LEVEL, SORT, ORG_CONTENT, ORG_DESC, ADDRESS, UUID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE,ORG_MART_CODE,STANDARD_FLAG
    </sql>
    <!-- 获取OrgIdSeq -->
    <select id="getId" resultType="java.lang.Long">
        SELECT seq_tb_org_id.nextval FROM dual
    </select>


    <update id="delete" parameterType="cn.ffcs.uoo.core.organization.entity.Org">
        UPDATE
        TB_ORG
        SET
        STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_USER = #{updateUser}
        WHERE
        ORG_ID = #{orgId}
    </update>


    <!--条件查询组织树总量 -->
    <select id="queryOrgCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM TB_ORG A, TB_ORG_REF B, TB_ORG_REF_TYPE C
        WHERE A.STATUS_CD = 1000
        AND B.STATUS_CD = 1000
        AND C.STATUS_CD = 1000
        AND A.ORG_ID = B.ORG_ID
        <if test="org.orgId != null">
            AND B.PARENT_ORG_ID = #{org.orgId}
        </if>
        <if test="org.refCode != null">
            AND C.REF_CODE = #{org.refCode}
        </if>
        AND B.ORG_REF_TYPE_ID = C.ORG_REF_TYPE_ID
        ORDER BY A.ORG_LEVEL
    </select>

    <select id="getOrgList" resultType="cn.ffcs.uoo.core.organization.entity.Org">
        SELECT  A.ORG_ID orgId,A.ORG_NAME orgName,A.FULL_NAME fullName
        FROM TB_ORG A, TB_ORG_REF B, TB_ORG_REF_TYPE C
        WHERE A.STATUS_CD = 1000
        AND B.STATUS_CD = 1000
        AND C.STATUS_CD = 1000
        AND A.ORG_ID = B.ORG_ID
        <if test="orgId != null and orgId != ''">
            AND B.ORG_ID = #{orgId}
        </if>
        <if test="refCode != null and orgId != ''">
            AND C.REF_CODE = #{refCode}
        </if>
        AND B.ORG_REF_TYPE_ID = C.ORG_REF_TYPE_ID
        ORDER BY A.ORG_LEVEL
    </select>


    <select id="getOrgCodeSeq" resultType="java.lang.Long">
        SELECT seq_org_code.nextval FROM dual
    </select>


    <select id="selectOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.OrgVo">
        SELECT * FROM (
        SELECT D.ORG_ID ORGID,
        D.ORG_NAME ORGNAME,
        D.FULL_NAME FULLNAME,
        D.STATUS_CD STATUSCD,
        D.ORG_CODE ORGCODE,
        D.LOC_ID LOCID,
        PL.LOC_CODE LOCCODE,
        PL.LOC_NAME LOCNAME,
        ( SELECT TO_CHAR(WM_CONCAT(B.ORG_TYPE_NAME))
        FROM TB_ORG_ORGTYPE_REL A, TB_ORG_TYPE B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND A.ORG_TYPE_ID = B.ORG_TYPE_ID
        AND A.ORG_ID = D.ORG_ID) ORGTYPESPLIT
        FROM (
        SELECT * FROM (
        SELECT distinct B.*,G.SORT bizSort
        FROM TB_ORG_REL A,
        TB_ORG B,
        TB_ORG_ORGTYPE_REL  F,
        TB_ORG_REL_TYPE C,
        TB_OGT_ORG_RELTYPE_CONF D,
        TB_ORG_TREE E,
        TB_ORG_ORGTREE_REL G
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND C.STATUS_CD = '1000'
        AND D.STATUS_CD = '1000'
        AND E.STATUS_CD = '1000'
        AND F.STATUS_CD = '1000'
        AND G.STATUS_CD = '1000'
        <if test="orgVo.tabOrgOrgTypeParams!='' and orgVo.tabOrgOrgTypeParams!=null">
            AND ${orgVo.tabOrgOrgTypeParams}
        </if>

        <if test="orgVo.tabOrgParams!='' and orgVo.tabOrgParams!=null">
            AND ${orgVo.tabOrgParams}
        </if>
        AND F.ORG_ID = B.ORG_ID
        AND E.ORG_TREE_ID = D.ORG_TREE_ID
        AND C.ORG_REL_TYPE_ID = D.ORG_REL_TYPE_ID
        AND A.REF_CODE = C.REF_CODE
        AND A.ORG_ID=B.ORG_ID
        AND A.ORG_ID=G.ORG_ID
        AND E.ORG_TREE_ID = G.ORG_TREE_ID
        AND E.ORG_TREE_ID=#{orgVo.orgTreeId}
        AND A.PARENT_ORG_ID=#{orgVo.orgId} )  order by bizSort) D
        LEFT JOIN TB_POLITICAL_LOCATION PL ON PL.LOC_ID=D.LOC_ID
        ) WHERE 1=1
        <if test="orgVo.sortField!='' and orgVo.sortField!=null and orgVo.sortOrder!=null and orgVo.sortOrder!=''">
            order by #{orgVo.sortField}||'  '||#{orgVo.sortOrder}
        </if>
    </select>

    <select id="selectOrgPage" resultType="cn.ffcs.uoo.core.organization.vo.OrgVo">
        SELECT A.Org_Id orgId,
        A.Org_Name orgName,
        A.ORG_CODE orgCode,
        A.FULL_NAME fullName,
        A.STATUS_CD statusCd,
        to_char(A.CREATE_DATE,'YYYY-MM-DD hh24:mi:ss') createDate,
        DECODE(B.ORG_ORGTREE_ID,NULL,0,1) flag
        FROM (SELECT * FROM TB_ORG  WHERE STATUS_CD = 1000
            <if test="orgVo.search != null and orgVo.search != ''">
                AND (ORG_NAME like '%'||#{orgVo.search}||'%'
                or ORG_CODE like '%'||#{orgVo.search}||'%')
            </if>
        ) A
        LEFT JOIN TB_ORG_ORGTREE_REL B ON B.STATUS_CD = 1000  AND B.ORG_TREE_ID = #{orgVo.orgTreeId} AND B.ORG_ID = A.ORG_ID
        ORDER BY flag
    </select>

    <select id="getSysFullName" resultType="java.lang.String">


        SELECT * FROM (
        SELECT REPLACE(REPLACE(SYS_CONNECT_BY_PATH(ORG_NAME, '->'),
        '->',
        '//'),
        '//',
        '/') fullName,ORG_ID orgId FROM (
        SELECT E.ORG_NAME,E.ORG_ID ,D.PARENT_ORG_ID,D.CREATE_DATE,E.ORG_CODE
        FROM TB_OGT_ORG_RELTYPE_CONF A, TB_ORG_TREE B, TB_ORG_REL_TYPE C,TB_ORG_REL D,TB_ORG E
        WHERE  A.ORG_TREE_ID = B.ORG_TREE_ID
        AND A.ORG_REL_TYPE_ID = C.ORG_REL_TYPE_ID
        AND D.ORG_ID=E.ORG_ID
        AND C.REF_CODE=D.REF_CODE
        AND A.ORG_TREE_ID = #{orgTreeId} )AA
        START WITH ORG_ID = #{orgId}
        CONNECT BY AA.ORG_ID = PRIOR AA.PARENT_ORG_ID ) WHERE  orgId= #{orgId}

    </select>

    <select id="getFullOrgList" resultType="cn.ffcs.uoo.core.organization.vo.OrgVo">
            SELECT * FROM (
        SELECT ORG_ID ORGID,ORG_NAME,level lv  FROM (
        SELECT E.ORG_NAME,E.ORG_ID ,D.PARENT_ORG_ID,D.CREATE_DATE,E.ORG_CODE
        FROM TB_OGT_ORG_RELTYPE_CONF A, TB_ORG_TREE B, TB_ORG_REL_TYPE C,TB_ORG_REL D,TB_ORG E
        WHERE  A.STATUS_CD='1000' AND B.STATUS_CD='1000' AND C.STATUS_CD='1000' AND D.STATUS_CD='1000' AND E.STATUS_CD='1000'
        AND A.ORG_TREE_ID = B.ORG_TREE_ID
        AND A.ORG_REL_TYPE_ID = C.ORG_REL_TYPE_ID
        AND D.ORG_ID=E.ORG_ID
        AND C.REF_CODE=D.REF_CODE
        AND A.ORG_TREE_ID = #{orgTreeId} )AA
        START WITH ORG_ID = #{orgId}
        CONNECT BY PRIOR AA.PARENT_ORG_ID =  AA.ORG_ID ) ORDER BY lv DESC
    </select>



    <select id="selectOrgByOrgId" resultType="cn.ffcs.uoo.core.organization.vo.OrgVo">

        <choose>
        <when test='orgTreeId!=null and orgTreeId!=""'>
            SELECT A.ORG_ID ORGID,
            A.LOC_ID LOCID,
            A.AREA_CODE_ID AREACODEID,
            A.ORG_NAME ORGNAME,
            A.ORG_CODE ORGCODE,
            A.SHORT_NAME SHORTNAME,
            A.ORG_NAME_EN ORGNAMEEN,
            A.FULL_NAME FULLNAME,
            A.CITY_TOWN CITYTOWN,
            A.OFFICE_PHONE OFFICEPHONE,
            TO_CHAR(A.FOUNDING_TIME, 'YYYY-MM-DD') FOUNDINGTIME,
            A.ORG_SCALE ORGSCALE,
            A.ORG_LEVEL ORGLEVEL,
            A.ORG_POSITION_LEVEL ORGPOSITIONLEVEL,
            A.SORT SORT,
            A.ORG_CONTENT ORGCONTENT,
            A.ORG_DESC ORGDESC,
            A.ADDRESS ADDRESS,
            TO_CHAR(A.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') CREATEDATE,
            A.ORG_MART_CODE ORGMARTCODE,
            B.ORG_BIZ_NAME ORGBIZNAME,
            B.ORG_BIZ_FULL_NAME ORGBIZFULLNAME,
            A.STANDARD_FLAG standardFlag
            FROM TB_ORG A, TB_ORG_ORGTREE_REL B
            WHERE A.STATUS_CD = '1000'
            AND B.STATUS_CD = '1000'
            AND B.ORG_ID = A.ORG_ID
            AND A.ORG_ID = #{orgId}
            AND B.ORG_TREE_ID = #{orgTreeId}
        </when>
        <otherwise>
            SELECT A.ORG_ID ORGID,
            A.LOC_ID LOCID,
            A.AREA_CODE_ID AREACODEID,
            A.ORG_NAME ORGNAME,
            A.ORG_CODE ORGCODE,
            A.SHORT_NAME SHORTNAME,
            A.ORG_NAME_EN ORGNAMEEN,
            A.FULL_NAME FULLNAME,
            A.CITY_TOWN CITYTOWN,
            A.OFFICE_PHONE OFFICEPHONE,
            TO_CHAR(A.FOUNDING_TIME, 'YYYY-MM-DD') FOUNDINGTIME,
            A.ORG_SCALE ORGSCALE,
            A.ORG_LEVEL ORGLEVEL,
            A.ORG_POSITION_LEVEL ORGPOSITIONLEVEL,
            A.SORT SORT,
            A.ORG_CONTENT ORGCONTENT,
            A.ORG_DESC ORGDESC,
            A.ADDRESS ADDRESS,
            TO_CHAR(A.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') CREATEDATE,
            A.STANDARD_FLAG standardFlag
            FROM TB_ORG A
            WHERE A.STATUS_CD = '1000'
            AND A.ORG_ID = #{orgId}

        </otherwise>
        </choose>




  </select>


    <select id="getOrgLoc"  resultType="cn.ffcs.uoo.core.organization.entity.PoliticalLocation">
        SELECT A.LOC_ID locId,A.LOC_CODE locCode,A.LOC_NAME locName,A.PARENT_LOC_ID parentLocId
        FROM TB_POLITICAL_LOCATION A, TB_ORG B
        WHERE A.LOC_ID = B.LOC_ID
        AND A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND B.ORG_ID = #{orgId}
    </select>


    <select id="getOrgAreaCode" resultType="cn.ffcs.uoo.core.organization.vo.AreaCodeVo">
        SELECT A.AREA_CODE_ID AREACODEID, A.AREA_CODE AREACODE
        FROM TB_AREA_CODE A, TB_ORG B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND B.AREA_CODE_ID = A.AREA_CODE_ID
        AND B.ORG_ID =  #{orgId}
    </select>


    <select id="getAppOrgTrees" resultType="java.lang.String">
         select wm_concat(b.org_tree_name)
          from tb_org_orgtree_rel c,tb_org_tree b
         where c.status_cd = 1000 and b.status_cd=1000
           and b.org_tree_id = c.org_tree_id
           and c.org_id = #{orgId}
    </select>

</mapper>
