<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.OrgPersonRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.OrgPersonRel">
        <id column="ORG_PERSON_ID" property="orgPersonId" />
        <result column="ORG_ID" property="orgId" />
        <result column="PERSONNEL_ID" property="personnelId" />
        <result column="POST_ID" property="postId" />
        <result column="REF_TYPE" property="refType" />
        <result column="PROPERTY" property="property" />
        <result column="DOUBLE_NAME" property="doubleName" />
        <result column="SORT" property="sort" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="ORG_TREE_ID" property="orgTreeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_PERSON_ID, ORG_ID, PERSONNEL_ID, POST_ID, REF_TYPE, PROPERTY, DOUBLE_NAME, SORT, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE,ORG_TREE_ID
    </sql>


    <!-- 获取OrgIdSeq -->
    <select id="getId" resultType="java.lang.Long">
        SELECT SEQ_TB_ORG_PERSON_REL_ID.NEXTVAL FROM DUAL
    </select>


    <update id="delete" parameterType="cn.ffcs.uoo.core.organization.entity.OrgPersonRel">
        UPDATE
        TB_ORG_PERSON_REF
        SET
        STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_USER = #{updateUser}
        WHERE
        ORG_PERSON_ID = #{orgPersonId}
    </update>


    <select id="getPerOrgRelList" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">
        SELECT * FROM (
        SELECT * FROM (
        SELECT AA.ORG_ID orgId,
        AA.PERSONNEL_ID personnelId,
        AA.POST_ID postId,
        AA.REF_TYPE refType,
        AA.PROPERTY property,
        AA.DOUBLE_NAME doubleName,
        ORG.ORG_NAME orgName,
        ORG.Full_Name fullName,
        PER.PSN_NAME PsnName,
        PER.PSN_CODE psnCode,
        PER.PSN_NBR psnNbr,
        PER.NC_CODE ncCode,
        POST.POST_NAME postName,
        ORG_TREE_NAME orgTreeName,
        CTA.CONTENT mobile,
        AA.STATUS_CD statusCd,
        AA.ORG_PERSON_ID orgPersonId
        FROM (SELECT A.*,C.ORG_TREE_NAME FROM TB_ORG_PERSON_REL A, TB_ORGTREE_ORGPERSON_REL B ,TB_ORG_TREE C
        WHERE A.STATUS_CD = '1000' AND B.STATUS_CD='1000' AND C.STATUS_CD='1000'
        AND A.ORG_PERSON_ID=B.ORG_PERSON_ID AND B.ORG_TREE_ID=C.ORG_TREE_ID
        <if test="psonOrgVo.orgTreeId != null and psonOrgVo.orgTreeId != ''">
            AND C.ORG_TREE_ID = #{psonOrgVo.orgTreeId}
        </if>
        <if test="psonOrgVo.personnelId != null and psonOrgVo.personnelId != ''">
            AND A.PERSONNEL_ID = #{psonOrgVo.personnelId}
        </if>
        <if test="psonOrgVo.orgId != null and psonOrgVo.orgId != ''">
            AND A.ORG_ID = #{psonOrgVo.orgId}
        </if>
        ) AA
        LEFT JOIN TB_ORG ORG ON ORG.ORG_ID = AA.ORG_ID AND ORG.Status_Cd=AA.Status_Cd
        LEFT JOIN TB_PERSONNEL PER ON PER.STATUS_CD='1000' AND PER.PERSONNEL_ID = AA.PERSONNEL_ID
        LEFT JOIN TB_POST POST ON POST.STATUS_CD='1000' AND POST.POST_ID = AA.POST_ID
        LEFT JOIN TB_CONTACT CTA ON CTA.STATUS_CD='1000' AND CTA.PERSONNEL_ID = AA.PERSONNEL_ID
        AND CTA.FIRST_FLAG=1 AND CTA.CONTACT_TYPE=1
        ) AB where 1=1
        <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
            AND (PSNNAME LIKE '%'||#{psonOrgVo.search}||'%' OR PSNCODE LIKE '%'||#{psonOrgVo.search}||'%' OR MOBILE LIKE '%'||#{psonOrgVo.search}||'%' OR ORGNAME LIKE '%'||#{psonOrgVo.search}||'%')
        </if>
        )
    </select>
    <!--全量组织人员关系查询-->
    <select id="selectAllPerOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">
        SELECT *
           FROM (SELECT AA.ORG_ID        orgId,
                        AA.PERSONNEL_ID  personnelId,
                        AA.POST_ID       postId,
                        AA.REF_TYPE      refType,
                        AA.PROPERTY      property,
                        AA.DOUBLE_NAME   doubleName,
                        AA.ORG_NAME      orgName,
                        AA.Full_Name     fullName,
                        AA.PSN_NAME     PsnName,
                        AA.PSN_CODE     psnCode,
                        AA.PSN_NBR      psnNbr,
                        AA.NC_CODE      ncCode,
                        ORG_TREE_NAME    orgTreeName,
                        AA.STATUS_CD     statusCd,
                        AA.ORG_TREE_ID   orgTreeId,
                        AA.ORG_PERSON_ID orgPersonId,
                        AA.SORT          sort
                   FROM (SELECT distinct tbOrgPersonRel.ORG_PERSON_ID,
                                tbOrgPersonRel.ORG_ID,
                                tbOrgPersonRel.PERSONNEL_ID,
                                tbOrgPersonRel.POST_ID,
                                tbOrgPersonRel.REF_TYPE,
                                tbOrgPersonRel.PROPERTY,
                                tbOrgPersonRel.DOUBLE_NAME,
                                tbOrgPersonRel.SORT,
                                tbOrgPersonRel.STATUS_CD,
                                tbOrgPersonRel.CREATE_DATE,
                                tbOrgPersonRel.CREATE_USER,
                                tbOrgPersonRel.UPDATE_DATE,
                                tbOrgPersonRel.UPDATE_USER,
                                tbOrgPersonRel.STATUS_DATE,
                                E.ORG_TREE_NAME,
                                E.ORG_TREE_ID,
                                D.ORG_NAME,
                                D.Full_Name,
                                A.NC_CODE,
                                A.PSN_NBR,
                                A.PSN_CODE,
                                A.PSN_NAME
                           FROM
                                TB_PERSONNEL        A,
                                TB_ORG_PERSON_REL        tbOrgPersonRel,
                                TB_ORGTREE_ORGPERSON_REL C,
                                TB_ORG  D,
                                TB_ORG_TREE             E,
                                TB_ORG_LEVEL            F,
                                TB_ORG_ORGTYPE_REL  G
                          WHERE A.STATUS_CD = '1000'
                            AND tbOrgPersonRel.STATUS_CD = '1000'
                            AND C.STATUS_CD = '1000'
                            AND D.STATUS_CD = '1000'
                            AND E.STATUS_CD = '1000'
                            AND F.STATUS_CD = '1000'
                            AND G.STATUS_CD = '1000'
                            AND A.PERSONNEL_ID = tbOrgPersonRel.PERSONNEL_ID
                <if test="psonOrgVo.tabOrgPerRelParams!='' and psonOrgVo.tabOrgPerRelParams!=null">
                    AND ${psonOrgVo.tabOrgPerRelParams}
                </if>
                            AND G.ORG_ID = D.ORG_ID
                            AND F.ORG_ID = D.ORG_ID
                            AND D.ORG_ID = tbOrgPersonRel.ORG_ID
                <if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">
                    AND ${psonOrgVo.tabOrgOrgTypeParams}
                </if>
                <if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">
                    AND ${psonOrgVo.tabOrgParams}
                </if>
                            AND tbOrgPersonRel.ORG_PERSON_ID=C.ORG_PERSON_ID
                            AND E.ORG_TREE_ID = C.ORG_TREE_ID
                            AND E.ORG_TREE_ID = F.ORG_TREE_ID
                            AND E.ORG_TREE_ID = #{psonOrgVo.orgTreeId}) AA) AB WHERE 1=1
        <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
            AND (PSNNAME LIKE '%'||#{psonOrgVo.search}||'%' OR PSNCODE LIKE '%'||#{psonOrgVo.search}||'%' OR ORGNAME LIKE '%'||#{psonOrgVo.search}||'%')
        </if>
    </select>
    <!--组织人员关系查询-->
    <select id="selectPerOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">

        <choose>
        <when test='psonOrgVo.isSearchlower=="0"'>
            SELECT * FROM (
            WITH ORGFULL AS (SELECT FULL_NAME,
            ORG_NAME,
            ORG_ID,
            PARENT_ORG_ID,
            SORT,
            LOC_ID,
            AREA_CODE_ID,
            ORG_CODE,
            STATUS_CD,
            ORG_TREE_NAME
            FROM (SELECT distinct A.ORG_ID,
            A.SORT,
            A.ORG_NAME,
            A.LOC_ID,
            A.AREA_CODE_ID,
            A.ORG_CODE,
            A.STATUS_CD,
            A.FULL_NAME,
            B.PARENT_ORG_ID,
            C.ORG_TREE_NAME
            FROM TB_ORG                  A,
            TB_ORG_REL              B,
            TB_ORG_TREE             C,
            TB_OGT_ORG_RELTYPE_CONF D,
            TB_ORG_REL_TYPE         E,
            TB_ORG_ORGTYPE_REL  G
            WHERE A.STATUS_CD = 1000
            AND B.STATUS_CD = 1000
            AND C.STATUS_CD = 1000
            AND D.Status_Cd = 1000
            AND E.STATUS_CD = 1000
            AND G.STATUS_CD = 1000
            AND G.ORG_ID = A.ORG_ID
            AND A.ORG_ID = B.ORG_ID
            <if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">
                AND ${psonOrgVo.tabOrgOrgTypeParams}
            </if>
            AND B.REF_CODE = E.REF_CODE
            and D.ORG_REL_TYPE_ID = E.ORG_REL_TYPE_ID
            AND C.ORG_TREE_ID = D.ORG_TREE_ID
            AND C.ORG_TREE_ID = #{psonOrgVo.orgTreeId}
            AND B.ORG_ID = #{psonOrgVo.orgId}
            <if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">
                AND ${psonOrgVo.tabOrgParams}
            </if>
            ) AA)
            SELECT * FROM (
            SELECT AA.ORG_ID orgId,
            AA.PERSONNEL_ID personnelId,
            AA.POST_ID postId,
            AA.REF_TYPE refType,
            AA.PROPERTY property,
            AA.DOUBLE_NAME doubleName,
            AA.ORG_NAME orgName,
            AA.Full_Name fullName,
            PER.PSN_NAME PsnName,
            PER.PSN_CODE psnCode,
            PER.PSN_NBR psnNbr,
            PER.NC_CODE ncCode,
            ORG_TREE_NAME orgTreeName,
            AA.STATUS_CD statusCd,
            AA.ORG_TREE_ID orgTreeId,
            AA.ORG_PERSON_ID orgPersonId,
            AA.SORT sort
            FROM (SELECT
            tbOrgPersonRel.ORG_PERSON_ID,
            tbOrgPersonRel.ORG_ID,
            tbOrgPersonRel.PERSONNEL_ID,
            tbOrgPersonRel.POST_ID,
            tbOrgPersonRel.REF_TYPE,
            tbOrgPersonRel.PROPERTY,
            tbOrgPersonRel.DOUBLE_NAME,
            tbOrgPersonRel.SORT,
            tbOrgPersonRel.STATUS_CD,
            tbOrgPersonRel.CREATE_DATE,
            tbOrgPersonRel.CREATE_USER,
            tbOrgPersonRel.UPDATE_DATE,
            tbOrgPersonRel.UPDATE_USER,
            tbOrgPersonRel.STATUS_DATE,
            B.ORG_TREE_ID,D.ORG_TREE_NAME,D.ORG_NAME,D.Full_Name FROM TB_ORG_PERSON_REL tbOrgPersonRel, TB_ORGTREE_ORGPERSON_REL B ,ORGFULL D
            WHERE tbOrgPersonRel.STATUS_CD = '1000' AND B.STATUS_CD='1000' AND D.STATUS_CD='1000'
            AND tbOrgPersonRel.ORG_PERSON_ID=B.ORG_PERSON_ID
            <if test="psonOrgVo.tabOrgPerRelParams!='' and psonOrgVo.tabOrgPerRelParams!=null">
                AND ${psonOrgVo.tabOrgPerRelParams}
            </if>
            AND tbOrgPersonRel.ORG_ID=D.ORG_ID
            AND B.ORG_TREE_ID = #{psonOrgVo.orgTreeId}
            <if test="psonOrgVo.personnelId != null and psonOrgVo.personnelId != ''">
                AND tbOrgPersonRel.PERSONNEL_ID = #{psonOrgVo.personnelId}
            </if>
            ) AA
            LEFT JOIN TB_PERSONNEL PER ON PER.STATUS_CD='1000' AND PER.PERSONNEL_ID = AA.PERSONNEL_ID
            ) AB where 1=1
            <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
                AND (PSNNAME LIKE '%'||#{psonOrgVo.search}||'%' OR PSNCODE LIKE '%'||#{psonOrgVo.search}||'%' OR ORGNAME LIKE '%'||#{psonOrgVo.search}||'%')
            </if>
            )
            <if test="psonOrgVo.sortField!=null and psonOrgVo.sortField!='' and psonOrgVo.sortOrder!=null and psonOrgVo.sortOrder!='' ">
                order by #{psonOrgVo.sortField}||' '||#{psonOrgVo.sortOrder}
            </if>
        </when>
        <otherwise>
            SELECT * FROM (
            WITH ORGFULL AS (SELECT FULL_NAME,
            ORG_NAME,
            ORG_ID,
            PARENT_ORG_ID,
            SORT,
            LOC_ID,
            AREA_CODE_ID,
            ORG_CODE,
            ORG_TREE_NAME
            FROM (SELECT distinct A.ORG_ID,
            A.SORT,
            A.ORG_NAME,
            A.LOC_ID,
            A.AREA_CODE_ID,
            A.ORG_CODE,
            A.FULL_NAME,
            B.PARENT_ORG_ID,
            C.ORG_TREE_NAME
            FROM TB_ORG  A,
            TB_ORG_REL              B,
            TB_ORG_TREE             C,
            TB_OGT_ORG_RELTYPE_CONF D,
            TB_ORG_REL_TYPE         E,
            TB_ORG_ORGTYPE_REL  G
            WHERE A.STATUS_CD = 1000
            AND B.STATUS_CD = 1000
            AND C.STATUS_CD = 1000
            AND D.Status_Cd = 1000
            AND E.STATUS_CD = 1000
            AND G.STATUS_CD = 1000
            AND G.ORG_ID = A.ORG_ID
            AND A.ORG_ID = B.ORG_ID
            <if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">
                AND ${psonOrgVo.tabOrgOrgTypeParams}
            </if>
            <if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">
                AND ${psonOrgVo.tabOrgParams}
            </if>
            AND B.REF_CODE = E.REF_CODE
            AND D.ORG_REL_TYPE_ID = E.ORG_REL_TYPE_ID
            AND C.ORG_TREE_ID = D.ORG_TREE_ID
            AND C.ORG_TREE_ID = #{psonOrgVo.orgTreeId}
            ) AA
            START WITH ORG_ID = #{psonOrgVo.orgId}
            CONNECT BY  PRIOR AA.ORG_ID =  AA.PARENT_ORG_ID)
            SELECT * FROM (
            SELECT AA.ORG_ID orgId,
            AA.PERSONNEL_ID personnelId,
            AA.POST_ID postId,
            AA.REF_TYPE refType,
            AA.PROPERTY property,
            AA.DOUBLE_NAME doubleName,
            AA.ORG_NAME orgName,
            AA.Full_Name fullName,
            PER.PSN_NAME PsnName,
            PER.PSN_CODE psnCode,
            PER.PSN_NBR psnNbr,
            PER.NC_CODE ncCode,
            <!--POST.POST_NAME postName,-->
            ORG_TREE_NAME orgTreeName,
            <!--CTA.CONTENT mobile,-->
            AA.STATUS_CD statusCd,
            AA.ORG_TREE_ID orgTreeId,
            AA.ORG_PERSON_ID orgPersonId,
            AA.SORT sort
            FROM (SELECT  tbOrgPersonRel.ORG_PERSON_ID,
            tbOrgPersonRel.ORG_ID,
            tbOrgPersonRel.PERSONNEL_ID,
            tbOrgPersonRel.POST_ID,
            tbOrgPersonRel.REF_TYPE,
            tbOrgPersonRel.PROPERTY,
            tbOrgPersonRel.DOUBLE_NAME,
            tbOrgPersonRel.SORT,
            tbOrgPersonRel.STATUS_CD,
            tbOrgPersonRel.CREATE_DATE,
            tbOrgPersonRel.CREATE_USER,
            tbOrgPersonRel.UPDATE_DATE,
            tbOrgPersonRel.UPDATE_USER,
            B.ORG_TREE_ID,
            tbOrgPersonRel.STATUS_DATE,D.ORG_TREE_NAME,D.ORG_NAME,D.Full_Name FROM TB_ORG_PERSON_REL tbOrgPersonRel, TB_ORGTREE_ORGPERSON_REL B ,ORGFULL D
            WHERE tbOrgPersonRel.STATUS_CD = '1000' AND B.STATUS_CD='1000'
            AND tbOrgPersonRel.ORG_PERSON_ID=B.ORG_PERSON_ID
            <if test="psonOrgVo.tabOrgPerRelParams!='' and psonOrgVo.tabOrgPerRelParams!=null">
                AND ${psonOrgVo.tabOrgPerRelParams}
            </if>
            AND tbOrgPersonRel.ORG_ID=D.ORG_ID
            <if test="psonOrgVo.tabOrgPerRelParams!='' and psonOrgVo.tabOrgPerRelParams!=null">
                AND ${psonOrgVo.tabOrgPerRelParams}
            </if>
            AND B.ORG_TREE_ID = #{psonOrgVo.orgTreeId}
            <if test="psonOrgVo.personnelId != null and psonOrgVo.personnelId != ''">
                AND tbOrgPersonRel.PERSONNEL_ID = #{psonOrgVo.personnelId}
            </if>
            ) AA
            LEFT JOIN TB_PERSONNEL PER ON PER.STATUS_CD='1000' AND PER.PERSONNEL_ID = AA.PERSONNEL_ID
           <!-- LEFT JOIN TB_POST POST ON POST.STATUS_CD='1000' AND POST.POST_ID = AA.POST_ID
            LEFT JOIN TB_CONTACT CTA ON  CTA.STATUS_CD='1000' AND CTA.PERSONNEL_ID = AA.PERSONNEL_ID
            AND CTA.FIRST_FLAG=1 AND CTA.CONTACT_TYPE=1-->
            ) AB where 1=1
            <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
                AND (PSNNAME LIKE '%'||#{psonOrgVo.search}||'%' OR PSNCODE LIKE '%'||#{psonOrgVo.search}||'%' OR ORGNAME LIKE '%'||#{psonOrgVo.search}||'%')
            </if>
            )
            <if test="psonOrgVo.sortField!=null and psonOrgVo.sortField!='' and psonOrgVo.sortOrder!=null and psonOrgVo.sortOrder!='' ">
                order by #{psonOrgVo.sortField}||' '||#{psonOrgVo.sortOrder}
            </if>
        </otherwise>
        </choose>
    </select>



    <!--组织人员or人员关系查询-->
    <select id="selectPerOrOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">
        WITH ORGTREE AS(
        SELECT REPLACE(REPLACE(SYS_CONNECT_BY_PATH(ORG_NAME, '->'), '->', '//'),'//', '/') FULL_NAME,
        ORG_NAME,ORG_ID,PARENT_ORG_ID,SORT,LOC_ID,AREA_CODE_ID,ORG_CODE,STATUS_CD
        FROM (SELECT A.* ,B.PARENT_ORG_ID
        FROM TB_ORG A, TB_ORG_REL B
        WHERE A.ORG_ID = B.ORG_ID
        AND A.STATUS_CD = 1000
        AND B.STATUS_CD = 1000) AA
        START WITH ORG_ID = #{psonOrgVo.orgRootId}
        CONNECT BY PRIOR AA.ORG_ID = AA.PARENT_ORG_ID
        )
        SELECT * FROM (
        SELECT AA.ORG_ID orgId,
        AA.PERSONNEL_ID personnelId,
        AA.POST_ID postId,
        AA.REF_TYPE refType,
        AA.PROPERTY property,
        AA.DOUBLE_NAME doubleName,
        ORG.ORG_NAME orgName,
        (SELECT B.FULL_NAME FROM ORGTREE B WHERE B.ORG_ID=AA.ORG_ID) FULLNAME,
        PER.PSN_NAME PsnName,
        PER.PSN_CODE psnCode,
        PER.PSN_NBR psnNbr,
        PER.NC_CODE ncCode,
        POST.POST_NAME postName,
        C.ORG_TREE_NAME  orgTreeName,
        CTA.CONTENT mobile
        FROM (SELECT A.* FROM TB_ORG_PERSON_REL A, TB_ORGTREE_ORGPERSON_REL B ,TB_ORG_TREE C
        WHERE A.STATUS_CD = '1000' AND B.STATUS_CD='1000' AND C.STATUS_CD='1000'
        AND A.ORG_PERSON_ID=B.ORG_PERSON_ID AND B.ORG_TREE_ID=C.ORG_TREE_ID
        AND C.ORG_ID = #{psonOrgVo.orgRootId}
        <if test="psonOrgVo.personnelId != null and psonOrgVo.personnelId != ''">
            AND A.PERSONNEL_ID = #{psonOrgVo.personnelId}
        </if>
        <if test="psonOrgVo.orgId != null and psonOrgVo.orgId != ''">
            AND A.ORG_ID = #{psonOrgVo.orgId}
        </if>
        ) AA
        LEFT JOIN TB_ORG ORG ON ORG.ORG_ID = AA.ORG_ID AND ORG.Status_Cd=AA.Status_Cd
        LEFT JOIN TB_PERSONNEL PER ON PER.PERSONNEL_ID = AA.PERSONNEL_ID AND ORG.STATUS_CD=AA.STATUS_CD
        LEFT JOIN TB_POST POST ON POST.POST_ID = AA.POST_ID AND ORG.STATUS_CD=AA.STATUS_CD
        ) AB where 1=1
        <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
            AND PsnName like '%'||#{psonOrgVo.search}||'%'
        </if>
        LEFT JOIN TB_CONTACT CTA ON CTA.PERSONNEL_ID = AA.PERSONNEL_ID AND CTA.STATUS_CD=AA.STATUS_CD
        AND CTA.FIRST_FLAG=1 AND CTA.CONTACT_TYPE=1

    </select>


    <select id="selectFuzzyOrgPsnPage" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">
        SELECT * from (
        WITH ORGTREE AS(
        SELECT REPLACE(REPLACE(SYS_CONNECT_BY_PATH(ORG_NAME, '->'), '->', '//'),'//', '/') FULL_NAME,
        ORG_NAME,ORG_ID,PARENT_ORG_ID,SORT,LOC_ID,AREA_CODE_ID,ORG_CODE,STATUS_CD
        FROM (SELECT A.* ,B.PARENT_ORG_ID
        FROM TB_ORG A, TB_ORG_REL B
        WHERE A.ORG_ID = B.ORG_ID
        AND A.STATUS_CD = 1000
        AND B.STATUS_CD = 1000) AA
        START WITH ORG_ID = #{psonOrgVo.orgRootId}
        CONNECT BY PRIOR AA.ORG_ID = AA.SUP_ORG_ID
        )
        SELECT * FROM (
        SELECT AA.ORG_ID orgId,
        AA.PERSONNEL_ID personnelId,
        AA.POST_ID postId,
        AA.REF_TYPE refType,
        AA.PROPERTY property,
        AA.DOUBLE_NAME doubleName,
        ORG.ORG_NAME orgName,
        (SELECT B.FULL_NAME FROM ORGTREE B WHERE B.ORG_ID=AA.ORG_ID) FULLNAME,
        PER.PSN_NAME PsnName,
        PER.PSN_CODE psnCode,
        PER.PSN_NBR psnNbr,
        PER.NC_CODE ncCode,
        POST.POST_NAME postName,
        AA.ORG_TREE_NAME  orgTreeName,
        CTA.CONTENT mobile
        FROM (SELECT A.*,C.Org_Tree_Name FROM TB_ORG_PERSON_REL A, TB_ORGTREE_ORGPERSON_REL B ,TB_ORG_TREE C
        WHERE A.STATUS_CD = '1000' AND B.STATUS_CD='1000' AND C.STATUS_CD='1000'
        AND A.ORG_PERSON_ID=B.ORG_PERSON_ID AND B.ORG_TREE_ID=C.ORG_TREE_ID
        AND C.ORG_ID = #{psonOrgVo.orgRootId}
        ) AA
        LEFT JOIN TB_ORG ORG ON ORG.ORG_ID = AA.ORG_ID AND ORG.Status_Cd=AA.Status_Cd
        LEFT JOIN TB_PERSONNEL PER ON PER.PERSONNEL_ID = AA.PERSONNEL_ID AND ORG.STATUS_CD=AA.STATUS_CD
        LEFT JOIN TB_POST POST ON POST.POST_ID = AA.POST_ID AND ORG.STATUS_CD=AA.STATUS_CD
        LEFT JOIN TB_CONTACT CTA ON CTA.PERSONNEL_ID = AA.PERSONNEL_ID AND CTA.STATUS_CD=AA.STATUS_CD
        AND CTA.FIRST_FLAG=1 AND CTA.CONTACT_TYPE=1
        ) AB where 1=1
        <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
            AND (PsnName like '%'||#{psonOrgVo.search}||'%' or PsnCode like '%'||#{psonOrgVo.search}||'%' or mobile like '%'||#{psonOrgVo.search}||'%')
        </if>
        )
    </select>

    <!--<select id="selectAllUserOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">-->
        <!--SELECT *-->
                <!--FROM (WITH-->
                <!--ACCTTAB AS (-->
                <!--SELECT T.ACCT_ID ACCID,-->
                <!--T.ACCT ACCT,-->
                <!--T.STATUS_CD STATUSCD,-->
                <!--'1' TYPE,-->
                <!--'主账号' TYPENAME,-->
                <!--T.PERSONNEL_ID PERSONNELID,-->
                <!--T3.PSN_NAME PSNNAME,-->
                <!--T3.PSN_CODE PSNCODE,-->
                <!--T3.PSN_NBR PSNNBR,-->
                <!--T3.NC_CODE NCCODE,-->
                <!--T.FULL_NAME ORGNAME,-->
                <!--T.acct_org_rel_id acctOrgRelId-->
                <!--FROM (SELECT distinct T1.*, tbAccountOrgRel.ORG_ID,tbAccountOrgRel.acct_org_rel_id, T3.FULL_NAME-->
                <!--FROM TB_ACCT T1, TB_ACCOUNT_ORG_REL tbAccountOrgRel, TB_ORG T3,TB_ORG_LEVEL T4,-->
                    <!--TB_ORG_ORGTYPE_REL T5-->
                <!--WHERE T1.STATUS_CD = 1000-->
                <!--AND tbAccountOrgRel.STATUS_CD = 1000-->
                <!--AND T3.STATUS_CD = 1000-->
                <!--AND T4.STATUS_CD = 1000-->
                <!--AND T5.STATUS_CD = 1000-->
                <!--AND T1.ACCT_ID = tbAccountOrgRel.ACCT_ID-->
        <!--<if test="psonOrgVo.tabAccountOrgRelParams!='' and psonOrgVo.tabAccountOrgRelParams!=null">-->
            <!--AND ${psonOrgVo.tabAccountOrgRelParams}-->
        <!--</if>-->
                <!--AND T5.ORG_ID = T3.ORG_ID-->
                <!--AND tbAccountOrgRel.ORG_ID = T4.ORG_ID-->
                <!--AND T4.ORG_ID=T3.ORG_ID-->
        <!--<if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">-->
            <!--AND ${psonOrgVo.tabOrgOrgTypeParams}-->
        <!--</if>-->
        <!--<if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">-->
            <!--AND ${psonOrgVo.tabOrgParams}-->
        <!--</if>-->
                <!--AND tbAccountOrgRel.ORG_TREE_ID = T4.ORG_TREE_ID-->
                <!--AND T4.ORG_TREE_ID=#{psonOrgVo.orgTreeId}) T-->
                <!--LEFT JOIN TB_PERSONNEL T3-->
                <!--ON T3.STATUS_CD = 1000 AND T.PERSONNEL_ID = T3.PERSONNEL_ID-->
                <!--)-->
                <!--SELECT *-->
                <!--FROM (SELECT *-->
                <!--FROM ACCTTAB-->
                <!--UNION ALL-->
                <!--SELECT T.SLAVE_ACCT_ID ACCID,-->
                <!--T.SLAVE_ACCT ACCT,-->
                <!--T.STATUS_CD STATUSCD,-->
                <!--'2' TYPE,-->
                <!--'从账号' TYPENAME,-->
                <!--T.PERSONNELID,-->
                <!--T.PSNNAME,-->
                <!--T.PSNCODE,-->
                <!--T.PSNNBR,-->
                <!--T.NCCODE,-->
                <!--T.ORGNAME,-->
                <!--T.acct_org_rel_id acctOrgRelId-->
                <!--FROM (SELECT T1.*,-->
                <!--T2.PERSONNELID,-->
                <!--T2.PSNNAME,-->
                <!--T2.PSNCODE,-->
                <!--T2.PSNNBR,-->
                <!--T2.NCCODE,-->
                <!--T2.ORGNAME-->
                <!--FROM TB_SLAVE_ACCT T1, ACCTTAB T2-->
                <!--WHERE T1.STATUS_CD = 1000-->
                <!--AND T1.ACCT_ID = T2.ACCID-->
                 <!--and T1.acct_org_rel_id = T2.acctOrgRelId) T) A-->
                <!--WHERE 1 = 1-->
        <!--<if test="psonOrgVo.search != null and psonOrgVo.search != ''">-->
            <!--AND (PsnName like '%'||#{psonOrgVo.search}||'%' or acct like '%'||#{psonOrgVo.search}||'%')-->
        <!--</if>-->
                <!--)-->
    <!--</select>-->



    <select id="selectAllUserOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">
        SELECT *
        FROM (
        SELECT T.ACCT_ID ACCID,
        T.ACCT ACCT,
        T.STATUS_CD STATUSCD,
        T.PERSONNEL_ID PERSONNELID,
        T.PSN_NAME PSNNAME,
        T.PSN_CODE PSNCODE,
        T.PSN_NBR PSNNBR,
        T.NC_CODE NCCODE,
        T.FULL_NAME ORGNAME,
        T.acct_org_rel_id acctOrgRelId,
        cc.slave_acct slaceAcct
        FROM (SELECT distinct T1.*, tbAccountOrgRel.ORG_ID,tbAccountOrgRel.acct_org_rel_id, T3.FULL_NAME,
        T6.PSN_NAME ,T6.PSN_CODE ,T6.PSN_NBR ,T6.NC_CODE
        FROM TB_ACCT T1, TB_ACCOUNT_ORG_REL tbAccountOrgRel, TB_ORG T3,TB_ORG_LEVEL T4,TB_PERSONNEL T6,
        TB_ORG_ORGTYPE_REL T5
        WHERE T1.STATUS_CD = 1000
        AND tbAccountOrgRel.STATUS_CD = 1000
        AND T3.STATUS_CD = 1000
        AND T4.STATUS_CD = 1000
        AND T5.STATUS_CD = 1000
        AND T6.STATUS_CD = 1000
        AND T1.PERSONNEL_ID = T6.PERSONNEL_ID
        AND T1.ACCT_ID = tbAccountOrgRel.ACCT_ID
        <if test="psonOrgVo.tabAccountOrgRelParams!='' and psonOrgVo.tabAccountOrgRelParams!=null">
            AND ${psonOrgVo.tabAccountOrgRelParams}
        </if>
        AND T5.ORG_ID = T3.ORG_ID
        AND tbAccountOrgRel.ORG_ID = T4.ORG_ID
        AND T4.ORG_ID=T3.ORG_ID
        <if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">
            AND ${psonOrgVo.tabOrgOrgTypeParams}
        </if>
        <if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">
            AND ${psonOrgVo.tabOrgParams}
        </if>
        AND tbAccountOrgRel.ORG_TREE_ID = T4.ORG_TREE_ID
        AND T4.ORG_TREE_ID=#{psonOrgVo.orgTreeId}) T
        left join TB_SLAVE_ACCT cc on cc.STATUS_CD = 1000 AND cc.ACCT_ID = T.ACCT_ID and cc.acct_org_rel_id = T.acct_org_rel_id
        ) A
        WHERE 1 = 1
        <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
            AND (PsnName like '%'||#{psonOrgVo.search}||'%' or acct like '%'||#{psonOrgVo.search}||'%')
        </if>

    </select>

    <!--<select id="selectUserOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">-->

        <!--<choose>-->
            <!--<when test='psonOrgVo.isSearchlower=="0"'>-->
                <!--SELECT *-->
                <!--FROM (WITH ORGFULL AS (SELECT FULL_NAME,-->
                <!--ORG_NAME,-->
                <!--ORG_ID,-->
                <!--PARENT_ORG_ID,-->
                <!--SORT,-->
                <!--LOC_ID,-->
                <!--AREA_CODE_ID,-->
                <!--ORG_CODE,-->
                <!--STATUS_CD-->
                <!--FROM (SELECT distinct A.ORG_ID,-->
                <!--A.SORT,-->
                <!--A.ORG_NAME,-->
                <!--A.LOC_ID,-->
                <!--A.AREA_CODE_ID,-->
                <!--A.ORG_CODE,-->
                <!--A.STATUS_CD,-->
                <!--A.FULL_NAME,-->
                <!--B.PARENT_ORG_ID-->
                <!--FROM TB_ORG                  A,-->
                <!--TB_ORG_REL              B,-->
                <!--TB_ORG_TREE             C,-->
                <!--TB_OGT_ORG_RELTYPE_CONF D,-->
                <!--TB_ORG_REL_TYPE         E,-->
                <!--TB_ORG_ORGTYPE_REL F-->
                <!--WHERE A.STATUS_CD = 1000-->
                <!--AND B.STATUS_CD = 1000-->
                <!--AND C.STATUS_CD = 1000-->
                <!--AND D.Status_Cd = 1000-->
                <!--AND E.STATUS_CD = 1000-->
                <!--AND F.STATUS_CD = 1000-->
                <!--AND F.ORG_ID = A.ORG_ID-->
                <!--AND A.ORG_ID = B.ORG_ID-->
                <!--<if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">-->
                    <!--AND ${psonOrgVo.tabOrgOrgTypeParams}-->
                <!--</if>-->
                <!--<if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">-->
                    <!--AND ${psonOrgVo.tabOrgParams}-->
                <!--</if>-->

                <!--AND B.REF_CODE = E.REF_CODE-->
                <!--AND D.ORG_REL_TYPE_ID = E.ORG_REL_TYPE_ID-->
                <!--AND C.ORG_TREE_ID = D.ORG_TREE_ID-->
                <!--AND C.ORG_TREE_ID = #{psonOrgVo.orgTreeId}-->
                <!--AND B.ORG_ID = #{psonOrgVo.orgId}-->
                <!--) AA),-->
                <!--acctTab as (-->
                <!--select t.acct_id accId,-->
                <!--t.acct acct,-->
                <!--t.status_cd statusCd,-->
                <!--'1' type,-->
                <!--'主账号' typeName,-->
                <!--t.personnel_id personnelId,-->
                <!--t3.psn_name psnName,-->
                <!--t3.PSN_CODE psnCode,-->
                <!--t3.PSN_NBR psnNbr,-->
                <!--t3.NC_CODE ncCode,-->
                <!--t.FULL_NAME orgName,-->
                <!--t.acct_org_rel_id acctOrgRelId-->
                <!--from (select t1.*, tbAccountOrgRel.org_id,tbAccountOrgRel.acct_org_rel_id, tt.FULL_NAME-->
                <!--from tb_acct t1, tb_account_org_rel tbAccountOrgRel, ORGFULL tt-->
                <!--where t1.status_cd = 1000-->
                <!--and tbAccountOrgRel.status_cd = 1000-->
                <!--and t1.acct_id = tbAccountOrgRel.acct_id-->
                <!--<if test="psonOrgVo.tabAccountOrgRelParams!='' and psonOrgVo.tabAccountOrgRelParams!=null">-->
                    <!--AND ${psonOrgVo.tabAccountOrgRelParams}-->
                <!--</if>-->
                <!--and tbAccountOrgRel.org_id = tt.org_id-->
                <!--and tbAccountOrgRel.org_tree_id = #{psonOrgVo.orgTreeId}) t-->
                <!--left join tb_personnel t3-->
                <!--on t.personnel_id = t3.personnel_id-->
                <!--and t.status_cd = t3.status_cd)-->
                <!--select *-->
                <!--from (select *-->
                <!--from acctTab-->
                <!--union all-->
                <!--select t.slave_acct_id accId,-->
                <!--t.slave_acct acct,-->
                <!--t.status_cd statusCd,-->
                <!--'2' type,-->
                <!--'从账号' typeName,-->
                <!--t.personnelId,-->
                <!--t.psnName,-->
                <!--t.psnCode,-->
                <!--t.psnNbr,-->
                <!--t.ncCode,-->
                <!--t.orgName,-->
                <!--t.acct_org_rel_id acctOrgRelId-->
                <!--from (select t1.*,-->
                <!--t2.personnelId,-->
                <!--t2.psnName,-->
                <!--t2.psnCode,-->
                <!--t2.psnNbr,-->
                <!--t2.ncCode,-->
                <!--t2.orgName-->
                <!--from tb_slave_acct t1, acctTab t2-->
                <!--where t1.status_cd = 1000-->
                <!--and t1.acct_id = t2.accId-->
                <!--and t1.acct_org_rel_id = t2.acctOrgRelId) t) a-->
                <!--where 1 = 1-->
                <!--<if test="psonOrgVo.search != null and psonOrgVo.search != ''">-->
                    <!--AND (PsnName like '%'||#{psonOrgVo.search}||'%'   or acct like '%'||#{psonOrgVo.search}||'%')-->
                <!--</if>-->
                <!--)-->
            <!--</when>-->
            <!--<otherwise>-->
                <!--SELECT *-->
                <!--FROM (WITH ORGFULL AS (SELECT FULL_NAME,-->
                <!--ORG_NAME,-->
                <!--ORG_ID,-->
                <!--PARENT_ORG_ID,-->
                <!--SORT,-->
                <!--LOC_ID,-->
                <!--AREA_CODE_ID,-->
                <!--ORG_CODE,-->
                <!--STATUS_CD-->
                <!--FROM (SELECT distinct A.ORG_ID,-->
                <!--A.SORT,-->
                <!--A.ORG_NAME,-->
                <!--A.LOC_ID,-->
                <!--A.AREA_CODE_ID,-->
                <!--A.ORG_CODE,-->
                <!--A.STATUS_CD,-->
                <!--A.FULL_NAME,-->
                <!--B.PARENT_ORG_ID-->
                <!--FROM TB_ORG                  A,-->
                <!--TB_ORG_REL              B,-->
                <!--TB_ORG_TREE             C,-->
                <!--TB_OGT_ORG_RELTYPE_CONF D,-->
                <!--TB_ORG_REL_TYPE         E,-->
                <!--TB_ORG_ORGTYPE_REL F-->
                <!--WHERE A.STATUS_CD = 1000-->
                <!--AND B.STATUS_CD = 1000-->
                <!--AND C.STATUS_CD = 1000-->
                <!--AND D.Status_Cd = 1000-->
                <!--and E.STATUS_CD = 1000-->
                <!--and F.STATUS_CD = 1000-->
                <!--AND F.ORG_ID = A.ORG_ID-->
                <!--AND A.ORG_ID = B.ORG_ID-->
                <!--<if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">-->
                    <!--AND ${psonOrgVo.tabOrgOrgTypeParams}-->
                <!--</if>-->
                <!--<if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">-->
                    <!--AND ${psonOrgVo.tabOrgParams}-->
                <!--</if>-->
                <!--AND B.REF_CODE = E.REF_CODE-->
                <!--and D.ORG_REL_TYPE_ID = E.ORG_REL_TYPE_ID-->
                <!--AND C.ORG_TREE_ID = D.ORG_TREE_ID-->
                <!--AND C.ORG_TREE_ID = #{psonOrgVo.orgTreeId}-->
                <!--) AA-->
                <!--START WITH ORG_ID = #{psonOrgVo.orgId}-->
                <!--CONNECT BY  PRIOR AA.ORG_ID =  AA.PARENT_ORG_ID),-->
                <!--acctTab as (-->
                <!--select t.acct_id accId,-->
                <!--t.acct acct,-->
                <!--t.status_cd statusCd,-->
                <!--'1' type,-->
                <!--'主账号' typeName,-->
                <!--t.personnel_id personnelId,-->
                <!--t3.psn_name psnName,-->
                <!--t3.PSN_CODE psnCode,-->
                <!--t3.PSN_NBR psnNbr,-->
                <!--t3.NC_CODE ncCode,-->
                <!--t.FULL_NAME orgName,-->
                <!--t.acct_org_rel_id acctOrgRelId-->
                <!--from (select t1.*, tbAccountOrgRel.org_id,tbAccountOrgRel.acct_org_rel_id, tt.FULL_NAME-->
                <!--from tb_acct t1, tb_account_org_rel tbAccountOrgRel, ORGFULL tt-->
                <!--where t1.status_cd = 1000-->
                <!--and tbAccountOrgRel.status_cd = 1000-->
                <!--and t1.acct_id = tbAccountOrgRel.acct_id-->
                <!--<if test="psonOrgVo.tabAccountOrgRelParams!='' and psonOrgVo.tabAccountOrgRelParams!=null">-->
                    <!--AND ${psonOrgVo.tabAccountOrgRelParams}-->
                <!--</if>-->
                <!--and tbAccountOrgRel.org_id = tt.org_id-->
                <!--and tbAccountOrgRel.org_tree_id = #{psonOrgVo.orgTreeId}) t-->
                <!--left join tb_personnel t3-->
                <!--on t.personnel_id = t3.personnel_id-->
                <!--and t.status_cd = t3.status_cd )-->
                <!--select *-->
                <!--from (select *-->
                <!--from acctTab-->
                <!--union all-->
                <!--select t.slave_acct_id accId,-->
                <!--t.slave_acct acct,-->
                <!--t.status_cd statusCd,-->
                <!--'2' type,-->
                <!--'从账号' typeName,-->
                <!--t.personnelId,-->
                <!--t.psnName,-->
                <!--t.psnCode,-->
                <!--t.psnNbr,-->
                <!--t.ncCode,-->
                <!--t.orgName,-->
                <!--t.acct_org_rel_id acctOrgRelId-->
                <!--from (select t1.*,-->
                <!--t2.personnelId,-->
                <!--t2.psnName,-->
                <!--t2.psnCode,-->
                <!--t2.psnNbr,-->
                <!--t2.ncCode,-->
                <!--t2.orgName-->
                <!--from tb_slave_acct t1, acctTab t2-->
                <!--where t1.status_cd = 1000-->
                <!--and t1.acct_id = t2.accId-->
                <!--and t1.acct_org_rel_id = t2.acctOrgRelId) t) a-->
                <!--where 1 = 1-->
                <!--<if test="psonOrgVo.search != null and psonOrgVo.search != ''">-->
                    <!--AND (PsnName like '%'||#{psonOrgVo.search}||'%' or acct like '%'||#{psonOrgVo.search}||'%')-->
                <!--</if>-->
                <!--)-->
            <!--</otherwise>-->
        <!--</choose>-->


    <!--</select>-->


    <select id="selectUserOrgRelPage" resultType="cn.ffcs.uoo.core.organization.vo.PsonOrgVo">

        <choose>
            <when test='psonOrgVo.isSearchlower=="0"'>
                SELECT *
                FROM (WITH ORGFULL AS (SELECT FULL_NAME,
                ORG_NAME,
                ORG_ID,
                PARENT_ORG_ID,
                SORT,
                LOC_ID,
                AREA_CODE_ID,
                ORG_CODE,
                STATUS_CD
                FROM (SELECT distinct A.ORG_ID,
                A.SORT,
                A.ORG_NAME,
                A.LOC_ID,
                A.AREA_CODE_ID,
                A.ORG_CODE,
                A.STATUS_CD,
                A.FULL_NAME,
                B.PARENT_ORG_ID
                FROM TB_ORG                  A,
                TB_ORG_REL              B,
                TB_ORG_TREE             C,
                TB_OGT_ORG_RELTYPE_CONF D,
                TB_ORG_REL_TYPE         E,
                TB_ORG_ORGTYPE_REL F
                WHERE A.STATUS_CD = 1000
                AND B.STATUS_CD = 1000
                AND C.STATUS_CD = 1000
                AND D.Status_Cd = 1000
                AND E.STATUS_CD = 1000
                AND F.STATUS_CD = 1000
                AND F.ORG_ID = A.ORG_ID
                AND A.ORG_ID = B.ORG_ID
                <if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">
                    AND ${psonOrgVo.tabOrgOrgTypeParams}
                </if>
                <if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">
                    AND ${psonOrgVo.tabOrgParams}
                </if>

                AND B.REF_CODE = E.REF_CODE
                AND D.ORG_REL_TYPE_ID = E.ORG_REL_TYPE_ID
                AND C.ORG_TREE_ID = D.ORG_TREE_ID
                AND C.ORG_TREE_ID = #{psonOrgVo.orgTreeId}
                AND B.ORG_ID = #{psonOrgVo.orgId}
                ) AA)
                select * from (
                select t.acct_id accId,
                t.acct acct,
                t.status_cd statusCd,
                t.personnel_id personnelId,
                t.psn_name psnName,
                t.PSN_CODE psnCode,
                t.PSN_NBR psnNbr,
                t.NC_CODE ncCode,
                t.FULL_NAME orgName,
                t.acct_org_rel_id acctOrgRelId,
                v.slave_acct slaceAcct
                from (select t1.*, tbAccountOrgRel.org_id,tbAccountOrgRel.acct_org_rel_id, tt.FULL_NAME,
                t3.psn_name,t3.PSN_CODE,t3.PSN_NBR,t3.NC_CODE
                from tb_acct t1, tb_account_org_rel tbAccountOrgRel, ORGFULL tt,tb_personnel t3
                where t1.status_cd = 1000 and t3.status_cd=1000
                and tbAccountOrgRel.status_cd = 1000
                and t3.personnel_id=t1.personnel_id
                and t1.acct_id = tbAccountOrgRel.acct_id
                <if test="psonOrgVo.tabAccountOrgRelParams!='' and psonOrgVo.tabAccountOrgRelParams!=null">
                    AND ${psonOrgVo.tabAccountOrgRelParams}
                </if>
                and tbAccountOrgRel.org_id = tt.org_id
                and tbAccountOrgRel.org_tree_id = #{psonOrgVo.orgTreeId}) t
                left join tb_slave_acct v on v.status_cd=1000 and v.acct_id=t.acct_id and t.acct_org_rel_id=v.acct_org_rel_id
                             ) where 1=1
                <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
                    AND (PsnName like '%'||#{psonOrgVo.search}||'%' or acct like '%'||#{psonOrgVo.search}||'%')
                </if>
                )
            </when>
            <otherwise>
                SELECT *
                FROM (WITH ORGFULL AS (SELECT FULL_NAME,
                ORG_NAME,
                ORG_ID,
                PARENT_ORG_ID,
                SORT,
                LOC_ID,
                AREA_CODE_ID,
                ORG_CODE,
                STATUS_CD
                FROM (SELECT distinct A.ORG_ID,
                A.SORT,
                A.ORG_NAME,
                A.LOC_ID,
                A.AREA_CODE_ID,
                A.ORG_CODE,
                A.STATUS_CD,
                A.FULL_NAME,
                B.PARENT_ORG_ID
                FROM TB_ORG                  A,
                TB_ORG_REL              B,
                TB_ORG_TREE             C,
                TB_OGT_ORG_RELTYPE_CONF D,
                TB_ORG_REL_TYPE         E,
                TB_ORG_ORGTYPE_REL F
                WHERE A.STATUS_CD = 1000
                AND B.STATUS_CD = 1000
                AND C.STATUS_CD = 1000
                AND D.Status_Cd = 1000
                and E.STATUS_CD = 1000
                and F.STATUS_CD = 1000
                AND F.ORG_ID = A.ORG_ID
                AND A.ORG_ID = B.ORG_ID
                <if test="psonOrgVo.tabOrgOrgTypeParams!='' and psonOrgVo.tabOrgOrgTypeParams!=null">
                    AND ${psonOrgVo.tabOrgOrgTypeParams}
                </if>
                <if test="psonOrgVo.tabOrgParams!='' and psonOrgVo.tabOrgParams!=null">
                    AND ${psonOrgVo.tabOrgParams}
                </if>
                AND B.REF_CODE = E.REF_CODE
                and D.ORG_REL_TYPE_ID = E.ORG_REL_TYPE_ID
                AND C.ORG_TREE_ID = D.ORG_TREE_ID
                AND C.ORG_TREE_ID = #{psonOrgVo.orgTreeId}
                ) AA
                START WITH ORG_ID = #{psonOrgVo.orgId}
                CONNECT BY  PRIOR AA.ORG_ID =  AA.PARENT_ORG_ID)
                select * from (
                select t.acct_id accId,
                t.acct acct,
                t.status_cd statusCd,
                t.personnel_id personnelId,
                t.psn_name psnName,
                t.PSN_CODE psnCode,
                t.PSN_NBR psnNbr,
                t.NC_CODE ncCode,
                t.FULL_NAME orgName,
                t.acct_org_rel_id acctOrgRelId,
                v.slave_acct slaceAcct
                from (select t1.*, tbAccountOrgRel.org_id,tbAccountOrgRel.acct_org_rel_id, tt.FULL_NAME,
                t3.psn_name,t3.PSN_CODE,t3.PSN_NBR,t3.NC_CODE
                from tb_acct t1, tb_account_org_rel tbAccountOrgRel, ORGFULL tt,tb_personnel t3
                where t1.status_cd = 1000 and t3.status_cd=1000
                and tbAccountOrgRel.status_cd = 1000
                and t3.personnel_id=t1.personnel_id
                and t1.acct_id = tbAccountOrgRel.acct_id
                <if test="psonOrgVo.tabAccountOrgRelParams!='' and psonOrgVo.tabAccountOrgRelParams!=null">
                    AND ${psonOrgVo.tabAccountOrgRelParams}
                </if>
                and tbAccountOrgRel.org_id = tt.org_id
                and tbAccountOrgRel.org_tree_id = #{psonOrgVo.orgTreeId}) t
                left join tb_slave_acct v on v.status_cd=1000 and v.acct_id=t.acct_id and t.acct_org_rel_id=v.acct_org_rel_id
                ) where 1=1
                <if test="psonOrgVo.search != null and psonOrgVo.search != ''">
                    AND (PsnName like '%'||#{psonOrgVo.search}||'%'   or acct like '%'||#{psonOrgVo.search}||'%')
                </if>
                )
            </otherwise>
        </choose>


    </select>





    <select id="getOrgPsnByOrgTreeAndPsnId" resultType="cn.ffcs.uoo.core.organization.entity.OrgPersonRel">
        SELECT A.*
        FROM TB_ORG_PERSON_REL A, TB_ORGTREE_ORGPERSON_REL B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND A.ORG_PERSON_ID = B.ORG_PERSON_ID
        AND B.ORG_TREE_ID=#{orgTreeId}
        AND A.PERSONNEL_ID=#{personnelId}
        AND A.ORG_ID=#{orgId}
    </select>


    <select id="getOrgPsnRel" resultType="cn.ffcs.uoo.core.organization.entity.OrgPersonRel">
        SELECT A.*
        FROM TB_ORG_PERSON_REL A, TB_ORGTREE_ORGPERSON_REL B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND A.ORG_PERSON_ID = B.ORG_PERSON_ID
        <if test="orgTreeId!= null and orgTreeId!= ''">
           AND B.ORG_TREE_ID=#{orgTreeId}
        </if>
        <if test="orgId!= null and orgId!= ''">
           AND A.ORG_ID=#{orgId}
        </if>
    </select>

    <select id="getPost" resultType="cn.ffcs.uoo.core.organization.entity.Post">
       SELECT POST_NAME POSTNAME FROM TB_POST A WHERE A.POST_ID=#{postId} AND A.STATUS_CD='1000'
    </select>

    <select id="getMobile" resultType="java.lang.String">
          SELECT CTA.CONTENT
          FROM TB_CONTACT CTA
         WHERE CTA.STATUS_CD = '1000'
           AND CTA.FIRST_FLAG = 1
           AND CTA.CONTACT_TYPE = 1
           AND CTA.PERSONNEL_ID = #{personnelId}
           AND ROWNUM = 1
    </select>

    <select id="getCert" resultType="java.lang.String">
         SELECT A.CERT_NO  FROM TB_CERT A WHERE A.STATUS_CD='1000' AND A.CERT_TYPE=1 AND A.PERSONNEL_ID= #{personnelId}  AND ROWNUM = 1
    </select>

</mapper>
