<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.OrgTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.OrgType">
        <id column="ORG_TYPE_ID" property="orgTypeId" />
        <result column="ORG_TYPE_CODE" property="orgTypeCode" />
        <result column="ORG_TYPE_NAME" property="orgTypeName" />
        <result column="ORG_TYPE_DESC" property="orgTypeDesc" />
        <result column="PARENT_ORG_TYPE_ID" property="parentOrgTypeId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_TYPE_ID, ORG_TYPE_CODE, ORG_TYPE_NAME, ORG_TYPE_DESC, PARENT_ORG_TYPE_ID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <select id="getOrgTypeByOrgId" resultType="cn.ffcs.uoo.core.organization.entity.OrgType">
        SELECT  B.ORG_TYPE_ID orgTypeId,
        B.ORG_TYPE_CODE orgTypeCode,
        B.ORG_TYPE_NAME orgTypeName,
        B.ORG_TYPE_DESC orgTypeDesc,
        B.PARENT_ORG_TYPE_ID parentOrgTypeId,
        A.STATUS_CD statusCd,
        A.CREATE_DATE createDate,
        A.CREATE_USER createUser,
        A.UPDATE_DATE updateDate,
        A.UPDATE_USER updateUser,
        A.STATUS_DATE statusDate
        FROM TB_ORG_ORGTYPE_REL A, TB_ORG_TYPE B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND A.ORG_TYPE_ID = B.ORG_TYPE_ID
        <if test="orgId != null || orgId != ''">
            AND A.ORG_ID = #{orgId}
        </if>
    </select>


    <select id="getOrgTypeByOrgTreeId" resultType="cn.ffcs.uoo.core.organization.entity.OrgType">
        SELECT  B.ORG_TYPE_ID orgTypeId,
        B.ORG_TYPE_CODE orgTypeCode,
        B.ORG_TYPE_NAME orgTypeName,
        B.ORG_TYPE_DESC orgTypeDesc,
        B.PARENT_ORG_TYPE_ID parentOrgTypeId,
        A.STATUS_CD statusCd,
        A.CREATE_DATE createDate,
        A.CREATE_USER createUser,
        A.UPDATE_DATE updateDate,
        A.UPDATE_USER updateUser,
        A.STATUS_DATE statusDate
        FROM TB_OGT_ORGTYPE_CONF A, TB_ORG_TYPE B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND A.ORG_TYPE_ID = B.ORG_TYPE_ID
        <if test="orgTreeId != null || orgTreeId != ''">
            AND A.ORG_TREE_ID = #{orgTreeId}
        </if>
    </select>

    <!--查询组织类别树-->
    <select id="selectOrgTypeTree" resultType="cn.ffcs.uoo.core.organization.vo.TreeNodeVo">
        select T.ORG_TYPE_ID id, T.PARENT_ORG_TYPE_ID pid, T.ORG_TYPE_NAME name,T.ORG_TYPE_CODE extField1
        from tb_org_type T
        where T.STATUS_CD = 1000
        <if test="supOrgTypeId != null and supOrgTypeId!=''">
            AND T.PARENT_ORG_TYPE_ID = #{supOrgTypeId}
        </if>
        <if test="orgTypeParams != null and orgTypeParams != ''">
            AND ${orgTypeParams}
        </if>
        ORDER BY T.ORG_TYPE_ID ASC
    </select>
    <!--查询组织类别树是否存在子节点-->
    <select id="isLeaf" resultType="cn.ffcs.uoo.core.organization.vo.TreeNodeVo">
        select T.ORG_TYPE_ID id, T.PARENT_ORG_TYPE_ID pid, T.ORG_TYPE_NAME name
        from tb_org_type T
        where T.STATUS_CD = 1000
        <if test="supOrgTypeId != null || supOrgTypeId != ''">
            AND T.PARENT_ORG_TYPE_ID = #{supOrgTypeId}
        </if>
        ORDER BY T.ORG_TYPE_ID ASC
    </select>

    <select id="selectFullOrgTypeTreeByOrgId" resultType="cn.ffcs.uoo.core.organization.vo.TreeNodeVo">

        WITH ORGTYPENODE AS(
        SELECT * FROM (
        SELECT * FROM TB_ORG_TYPE A WHERE A.STATUS_CD='1000'
        <if test="orgTypeParams != null and orgTypeParams != ''">
            AND ${orgTypeParams}
        </if>
        ) AA
        START WITH ORG_TYPE_ID IN (SELECT ORG_TYPE_ID FROM (SELECT * FROM TB_ORG_TYPE A WHERE A.PARENT_ORG_TYPE_ID=#{orgTypeId} AND A.STATUS_CD='1000'))
        CONNECT BY PRIOR AA.ORG_TYPE_ID = AA.PARENT_ORG_TYPE_ID
        ),
        SEARCHORGTYPE AS(
            SELECT * FROM TB_ORG_ORGTYPE_REL A WHERE A.STATUS_CD='1000' AND A.ORG_ID=#{orgId}
        ),
        SEARCHNODE AS(
        SELECT DISTINCT AA.ORG_TYPE_ID
        FROM (SELECT * FROM TB_ORG_TYPE A WHERE A.STATUS_CD = '1000') AA
        START WITH ORG_TYPE_ID IN (SELECT ORG_TYPE_ID FROM SEARCHORGTYPE)
        CONNECT BY AA.ORG_TYPE_ID = PRIOR AA.PARENT_ORG_TYPE_ID
        )
        SELECT AA.ORG_TYPE_ID id,
               AA.ORG_TYPE_NAME name,
                DECODE(BB.ORG_TYPE_ID, NULL,'false','true') "open",
               AA.PARENT_ORG_TYPE_ID pid,
               AA.ORG_TYPE_CODE extField1
          FROM ORGTYPENODE AA
          LEFT JOIN SEARCHNODE BB ON AA.ORG_TYPE_ID =BB.ORG_TYPE_ID

    </select>



    <select id="getOrgTypeInfoByOrgId" resultType="java.lang.String">
        SELECT TO_CHAR(WM_CONCAT(B.ORG_TYPE_NAME))
        FROM TB_ORG_ORGTYPE_REL A, TB_ORG_TYPE B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND A.ORG_TYPE_ID = B.ORG_TYPE_ID
        AND A.ORG_ID = #{orgId}
    </select>


    <select id="isYxsxType" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM (SELECT *
          FROM TB_ORG_TYPE A
         WHERE A.STATUS_CD = '1000'
         START WITH A.ORG_TYPE_CODE = 'N11'
        CONNECT BY PRIOR A.ORG_TYPE_ID = A.PARENT_ORG_TYPE_ID)
        WHERE A.ORG_TYPE_ID = #{orgTypeId}
    </select>

</mapper>
