<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.OrgTreeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.OrgTree">
        <id column="ORG_TREE_ID" property="orgTreeId" />
        <result column="ORG_TREE_NAME" property="orgTreeName" />
        <result column="ORG_TREE_TYPE" property="orgTreeType" />
        <result column="ORG_ID" property="orgId" />
        <result column="SORT" property="sort" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_TREE_ID, ORG_TREE_NAME, ORG_TREE_TYPE, ORG_ID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>
    <!-- 获取组织树Seq -->
    <select id="getId" resultType="java.lang.Long">
        SELECT SEQ_TB_ORG_TREE_ID.NEXTVAL FROM DUAL
    </select>

    <select id="getOrgTreeNameByOrgId" resultType="java.lang.String">
        SELECT TO_CHAR(WM_CONCAT(B.ORG_TREE_NAME))
        FROM TB_ORG_ORGTREE_REL A, TB_ORG_TREE B
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND A.ORG_TREE_ID = B.ORG_TREE_ID
        AND A.ORG_ID = #{orgId}
    </select>

    <select id="isExistsOrgTreeRel" resultType="java.lang.Integer">
        SELECT  COUNT(1) FROM TB_ORG_TREE A,TB_ORG_REL_TYPE B,TB_OGT_ORG_RELTYPE_CONF C
        WHERE A.STATUS_CD='1000' AND B.STATUS_CD='1000' AND C.STATUS_CD='1000'
        AND A.ORG_TREE_ID=C.ORG_TREE_ID AND B.ORG_REL_TYPE_ID=C.ORG_REL_TYPE_ID
        AND B.REF_CODE= #{refCode}
    </select>


    <select id="getOrgTreeByRefCode" resultType="cn.ffcs.uoo.core.organization.entity.OrgTree">
        SELECT  A.ORG_TREE_ID orgTreeId,A.ORG_TREE_NAME orgTreeName,A.ORG_TREE_TYPE orgTreeType,A.ORG_ID orgId,A.STATUS_CD statusCd,A.SORT sort FROM TB_ORG_TREE A,TB_ORG_REL_TYPE B,TB_OGT_ORG_RELTYPE_CONF C
        WHERE A.STATUS_CD='1000' AND B.STATUS_CD='1000' AND C.STATUS_CD='1000'
        AND A.ORG_TREE_ID=C.ORG_TREE_ID AND B.ORG_REL_TYPE_ID=C.ORG_REL_TYPE_ID
        AND B.REF_CODE= #{refCode}
    </select>

    <select id="getOrgTreeList" resultType="cn.ffcs.uoo.core.organization.entity.OrgTree">
        SELECT A.ORG_TREE_ID   orgTreeId,
        A.ORG_TREE_NAME orgTreeName,
        A.ORG_TREE_TYPE orgTreeType,
        A.ORG_ID        orgId,
        A.STATUS_CD     statusCd,
        A.SORT          sort,
        B.Ref_Code refCode
        FROM TB_ORG_TREE A, TB_ORG_REL_TYPE B, TB_OGT_ORG_RELTYPE_CONF C
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND C.STATUS_CD = '1000'
        AND A.ORG_TREE_ID = C.ORG_TREE_ID
        AND B.ORG_REL_TYPE_ID = C.ORG_REL_TYPE_ID
        <if test="orgTree.refCode != '' and orgTree.refCode!=null">
            AND B.REF_CODE = #{orgTree.refCode}
        </if>
        <if test="orgTree.orgTreeId != '' and orgTree.orgTreeId!=null">
            AND A.ORG_TREE_ID = #{orgTree.orgTreeId}
        </if>
        <if test="orgTree.orgId != '' and orgTree.orgId!=null">
            AND A.ORG_ID = #{orgTree.orgId}
        </if>
    </select>

</mapper>
