<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.organization.dao.PostLocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.organization.entity.PostLocation">
        <result column="POST_LOCATION_ID" property="postLocationId" />
        <result column="POST_ID" property="postId" />
        <result column="REGION_ID" property="regionId" />
        <result column="EFF_DATE" property="effDate" />
        <result column="EXP_DATE" property="expDate" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        POST_LOCATION_ID, POST_ID, REGION_ID, EFF_DATE, EXP_DATE, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

</mapper>
