.row{
    margin-left: 0px;
    margin-right: 0px;
}
.col-md-6 {
    width: 45%;
}
.row-id{
    width: 15%;
}
.row-orgTree{
    width: 15%;
}
.row-fullName{
    width: 60%;
}
.row-orgId{
    display: none;
}
td,th{
    text-align: center;
}
.row-org{
    width: 32%;
}
.row-acc{
    width: 15%;
}
.row-number,
.row-state{
    width: 11%;
}
table.dataTable {
    table-layout: fixed;
}
table.dataTable tbody td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-header{
  background: #fff;
}
.BoardTitle .Back {
    background: url(/images/ico_back.svg) no-repeat 10px center;
    background-size: 24px 24px;
    border-bottom: 1px solid #ecedef;
    font-size: 16px;
    opacity: 0.7;
    padding: 6px 40px;
    }
    .BoardTitle .Back:hover {
        background-position: 5px center;
        transition: 0.2s;
        padding: 6px 55px 6px 35px;
        opacity: 1;
    }