#myModal > .modal-dialog > .modal-content{
    margin-top: 45px !important;
    margin-left:32% !important;
    width:300px;
    height:450px;
}

#myModal > .modal-dialog > .modal-content #saveBtn{
    display:inline-block;
    margin:0 4px;
    width:82px;
    height:40px;
    background:#00A4FF;
    color:#fff;
    border:0;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: 50px;
}

#myModal > .modal-dialog > .modal-content #cancelBtn{
    display:inline-block;
    margin:0 4px;
    width:82px;
    height:40px;
    background:#959da9;
    color:#fff;
    border:0;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: 10px;
}

#myModal > .modal-dialog > .modal-content #selectTile{
    font-size: 18px;
    font-weight: bold; 
}
