#myModal > .modal-dialog > .modal-content{
    margin-top: 40px !important;
    margin-left:32% !important;
    width:300px;
    height:440px;
}

#myModal > .modal-dialog > .modal-content #saveBtn{
    display:inline-block;
    margin:0 4px;
    width:82px;
    height:40px;
    background:#00A4FF;
    color:#fff;
    border:0;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: 58px;
}

#myModal > .modal-dialog > .modal-content #cancelBtn{
    display:inline-block;
    margin:0 4px;
    width:82px;
    height:40px;
    background:#959da9;
    color:#fff;
    border:0;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: 10px;
}

#myModal > .modal-dialog > .modal-content #selectTile{
    font-size: 18px;
    font-weight: bold; 
}





#slaveOrgModal > .modal-dialog > .modal-content{
    margin-top: 100px !important;
    margin-left:22% !important;
    width:450px;
    height:250px;
}

#slaveOrgModal > .modal-dialog > .modal-content #saveBtn{
    display:inline-block;
    margin:0 4px;
    width:82px;
    height:40px;
    background:#00A4FF;
    color:#fff;
    border:0;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: 50px;
}

#slaveOrgModal > .modal-dialog > .modal-content #cancelBtn{
    display:inline-block;
    margin:0 4px;
    width:82px;
    height:40px;
    background:#959da9;
    color:#fff;
    border:0;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: 10px;
}

#slaveOrgModal > .modal-dialog > .modal-content #selectTile{
    font-size: 18px;
    font-weight: bold; 
	margin-left:20px;
	margin-top:20px;
}





#roleModal > .modal-dialog > .modal-content{
    margin-top: 100px !important;
    margin-left:22% !important;
    width:450px;
    height:250px;
}

#roleModal > .modal-dialog > .modal-content #roleBtn{
    display:inline-block;
    margin:0 4px;
    width:82px;
    height:40px;
    background:#00A4FF;
    color:#fff;
    border:0;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: 134px;
	margin-top:48px;
}

#roleModal > .modal-dialog > .modal-content #cancelBtn{
    display:inline-block;
    margin:0 4px;
    width:82px;
    height:40px;
    background:#959da9;
    color:#fff;
    border:0;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: 10px;
	margin-top:48px;
}

#roleModal > .modal-dialog > .modal-content #selectTile{
    font-size: 18px;
    font-weight: bold; 
	margin-left:20px;
	margin-top:20px;
}

