* {
	box-sizing: border-box;
	font-family: microsoft yahei,helvetia,pingfang sc,Arial,Tahoma;
	}
body {
	margin: 0;
	padding: 0;
	font: 14px/150% microsoft yahei,helvetia,pingfang sc,Arial,Tahoma;
	text-size-adjust: 100%;
	background: #e2e5ef;
	color: #5f6c7e;
	}
a {
	text-decoration: none;
	color: #00a4ff
	}
a:hover {
	color: #004aff
	}
input,
select,
textarea {
	border: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font: 14px;
	color: #c6cbd2;
	}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	font: 14px;
	color: #c6cbd2;
	}
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	}
input[type="checkbox"],
input[type="radio"] {
	margin: 0 5px
	}
textarea {
	overflow: auto;
	}
fieldset {
	border: 1px solid #c6cbd2;
	border-radius: 6px;
	margin: 10px 0 20px 0;
	}
legend {
	font-weight: bold;
	padding: 10px 0;
	color: #5f6c7e
	}
.fleft {
	float: left
	}
.fright {
	float: right
	}
.clear {
	clear: both
	}
.tleft {
	text-align: left
	}
.tcenter {
	text-align: center
	}
.tright {
	text-align: right
	}
.ulhide,
.ulhide ul,
.ulhide li {
	margin: 0;
	padding: 0;
	list-style: none
	}
.inLine li {
	display: inline-block;
	margin: 0 -3px 0 0;
	}
.Middle {
    align-items: center;
    justify-content: center;
	display: flex;
	height: 100%;
	}
.Center {
	margin: 0 auto;
	}
.WpFull {
	width: 100%;
	}
.Wp1 {
	width: 10%;
	}
.Wp2 {
	width: 20%;
	}
.Wp3 {
	width: 30%
	}
.Wp4 {
	width: 40%
	}
.Wp4Li li {
	float: left;
	width: 25%
	}
.Wp3Li li {
	float: left;
	width: 33.33%
	}
.Wp7Li li {
	float: left;
	width: 14.28%
	}
.Wp5 {
	width: 50%
	}
.Wp6 {
	width: 60%
	}
.Wp7 {
	width: 70%
	}
.Wp8 {
	width: 80%
	}
.W200 {
	width: 200px
	}
.Font24 {
	font-size: 24px !important;
	}
.Font18 {
	font-size: 18px;
	}
.Font16 {
	font-size: 16px;
	}
.Font14 {
	font-size: 14px;
	}
.Font12 {
	font-size: 12px;
	}
.Black {
	color: #232c45
	}
.Red {
	color: #ee4063
	}
.Gray1 {
	color: #dce1e6
	}
.Gray2 {
	color: #c6cbd2
	}
.Gray3 {
	color: #959da9
	}
.Green {
	color: #41c500
	}
.WhiteBg {
	background: #FFF
	}
.inBlk {
	display: inline-block
	}
.lh32 {
	line-height: 32px !important;
	}
.lh30 {
	line-height: 30px;
	}
.lh28 {
	line-height: 28px;
	}
.SpaceX {
	height: 40px;
	}
.StepBar { /*进度条*/
	text-align: center;
	overflow: hidden;
	counter-reset: step;
	}
.StepBar li {
	list-style-type: none;
	float: left;
	position: relative;
	}
.StepBar li:before {
	content: counter(step);
	counter-increment: step;
	width: 18px;
	height: 18px;
	float: left;
	overflow: hidden;
	font: bold 16px/18px Helvetica;
	background: #ffc053;
	color: #FFF;
	border-radius: 20px;
	margin: 0 auto 5px auto
	}
.StepBar li:after {
	content: '';
	width: calc(100% - 16px);
	height: 6px;
	background: #ffc053;
	position: absolute;
	left: calc(-100% + 17px);
	top: 6px
	}
.StepBar li:first-child:after {
	content: none
	}
.StepBar li.active:before,
.StepBar li.active:after {
	background: #FFF;
	color: #ff8320;
	}
.StepBarBlue li:before {
	background: #C6CBD2;
	}
.StepBarBlue li:after {
	background: #C6CBD2;
	}
.StepBarBlue li.active:before,
.StepBarBlue li.active:after {
	background: #00A4FF;
	color: #FFF;
	}
.KeyWords span {
	border-right: 1px solid #dce1e6;
	padding: 0 10px 0 5px;
	}
.Relative {
	position: relative
	}
.Absolute {
	position: absolute
	}
.Fixed {
	position: fixed;
	}
.FixedBot {
	bottom: 0;
	}
.FixedTop {
	top: 0;
	}
.FixedRight {
	right: 0;
	}
.FixedLeft {
	left: 0 !important;
	}
.Page { /*翻页*/
	text-align: center;
	line-height: 30px;
	}
.Page a,
.Page .Input {
	width: 32px;
	border: 1px solid #dce1e6;
	display: inline-block;
	background: #FFF;
	color: #232c45;
	margin: 0 -5px 0 0;
	height: 32px;
	}
.Page a:hover {
	background: #ccedff;
	border: 1px solid #7ad0ff;
	position: relative;
	}
.Page .Current {
	background: #00a4ff !important;
	border: 1px solid #00a4ff !important;
	color: #FFF
	}
.Page .Input {
	margin: 0 10px;
	width: 50px;
	border-radius: 3px;
	}
.Page .Select {
	width: 80px;
	}
.Page .Num {
	text-align: center;
	width: 40px;
	}
.Page .prev,
.Page .next {
	border-radius: 3px;
	width: 80px;
	}
.TopTabTree {
	right: 25px;
	left: 225px;
	top: 25px;
	}
.leftTree {
	background: #F6F7F8;
	}
.bdTop {
	border-top: 1px solid #dce1e6
	}
.SelectLabel label {
	display: block;
	border-radius: 4px;
	width: 100%;
	}
.SelectLabel label:hover {
	background: #e5f6ff
	}
.BotBtn {
	bottom: 20px;
	height: 60px;
	clear: both;
	padding: 10px 0 0 0;
	text-align: center;
	background: #FFF;
	border-radius: 0 0 6px 6px;
	left: 15px;
	right: 15px;
	}
.BotBtnTree {
	left: 215px;
	}
.Tag {
	height:24px;
	line-height: 24px;
	background: #c6cbd2;
	border-radius: 4px;
	margin: 5px 1px;
	color: #FFF;
	padding: 0 10px;
	display: inline-block
	}
.Icon {
	width: 24px;
	height: 24px;
	margin: 0 4px;
	display: inline-block
	}
.IconEdit {
	background: url(../images/ico_edit.svg);
	}
.IconCal {
	background: url(../images/ico_calendar.svg);
	}
.IconSort {
	background: url(../images/ico_sort.svg);
	}
.IconUser {
	background: url(../images/ico_user.svg);
	}
.IconMobile {
	background: url(../images/ico_mobile.svg);
	}
.IconLocation {
	background: url(../images/ico_location.svg);
	}
.IconEmail {
	background: url(../images/ico_email.svg);
	}
.IconInput {
	margin: 0 6px -7px -34px;
	display: inline-block;
	opacity: 0.5;
	}
.intIcon {
	padding: 0 24px 0 5px !important;
	}
.IconInput:hover {
	opacity: 1;
	}
.Search {
	background: url(../images/ico_zoomer.svg) 4px 4px no-repeat;
	background-size: 24px 24px;
	padding: 0 34px 0 32px !important;
	}
.Contents {
	padding: 10px;
	}
.Tab { /*选项卡*/
	border-bottom: 1px solid #dce1e6;
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;
	}
.Tab li {
	display: inline-block;
	}
.Tab a {
	font-weight: bold;
	color: #959da9;
	line-height: 36px;
	height: 32px;
	display: inline-block;
	padding: 0 15px;
	text-align: center;
	}
.Tab .Current {
	border-bottom: 3px solid #ee4063;
	margin: 0 0 -3px 0;
	color: #232c45
	}
.Tab .Current a {
	color: #232c45
	}
.Tab2 {
	text-align: center;
	padding: 0;
	clear: both
	}
.Tab2 li {
	display: inline-block;
	border: 1px solid #00a4ff;
	margin: 0 -5px 0 0;
	overflow: hidden
	}
.Tab2 a {
	width: 150px;
	display: inline-block;
	line-height: 32px;
	color: #00a4ff;
	}
.Tab2 a:hover {
	background: #e5f6ff;
	}
.Tab2 .Current a {
	background: #00a4ff;
	color: #FFF;
	}
.Tab2 li:first-child {
	border-radius: 4px 0 0 4px
	}
.Tab2 li:last-child {
	border-radius: 0 4px 4px 0
	}
.TabMin a {
	width: 50px;
	}
.BigFace {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	border: 1px solid #dce1e6
	}
.SamllFace {
	width: 80px;
	height: 80px;
	}
.WhitePanel { /*外内容面板*/
	background: #FFF;
	border-radius: 6px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	overflow: hidden;
	padding: 10px;
	left: 15px;
	}
.ContentFull { /*内全内容*/
	overflow: auto;
	width: 100%;
	height: 100%;
	}
.ContentLeft { /*内左内容*/
	background: #F6F7F8;
	width: 200px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	float: left
	}
.ContentRight { /*内右内容*/
	padding: 0 0 0 200px;
	height: 100%;
	overflow: auto;
	}
.BotBtnContent { /*内右内容带固定按钮*/
	left: 210px;
	top: 10px;
	right: 10px;
	bottom: 70px;
	position: absolute;
	overflow: auto;
	}
.BotBtnContentFull { /*内全内容带底部固定按钮配合上一个使用*/
	left: 0;
	}
.TopTabFulContent { /*满屏内容带顶部固定按钮*/
	left: 15px;
	top: 70px;
	right: 15px;
	bottom: 15px;
	position: absolute;
	overflow: auto;
	}
.BtnTabContent { /*顶部按钮顶部tab固定*/
	left: 210px;
	top: 100px;
	right: 10px;
	bottom: 70px;
	position: absolute;
	overflow: auto;
	}
.LightGrayBg {
	background: #F6F7F8;
	}
.EidtArea:hover {
	background: #CCC;
	border-radius: 4px;
	}
.Info .InfoPanel {
	display: none
	}
.Info:hover .InfoPanel {
	display: block
	}
.InfoPanel {
	width: 370px;
	background: #FFF;
	border-radius: 8px;
	text-align: left;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(35,44,69,.4);
	position: absolute;
	display: block
	}
.InfoPanel .InfoPanelTitle {
	font: bold 18px/36px microsoft yahei,pingfang sc;
	background: #f6f7f8;
	color: #232c45;
	text-indent: 15px;
	border-bottom: 1px solid #dce1e6
	}
.Bubble {
	background: #c6cbd2;
	border-radius: 8px;
	line-height: 16px;
	color: #FFF;
	font-weight: bold;
	display: inline-block;
	padding: 0 5px;
	margin: 0 5px;
	vertical-align: middle;
	}
.BoardTitle { /*模块标题*/
	padding: 10px 0;
	float: left;
	width: 100%;
	}
.BoardTitle .Name {
	border-left: 5px solid #008aff;
	font: 22px/24px microsoft yahei,helvetia,pingfang sc,Arial,Tahoma;
	padding: 0 10px;
	height: 24px;
	float: left;
	color: #232c45
	}
.BoardTitle .Sec {
	border-left: 3px dashed #7fc4ff;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 0 10px;
	}
.BoardContent {
	padding: 10px 10px 30px 10px;
	float: left;
	width: 100%;
	}
.Place {
	padding: 0 10px 10px 15px;
	clear: both
	}
.Place a {
	background: url(../images/ico_place_arrow.svg) no-repeat center right;
	padding: 0 20px 0 0;
	color: #959da9
	}
.Place a:last-child {
	background: none;
	}
.FunctionBtn a {
	background: #CCC;
	color: #232c45;
	margin: 0 10px 0 0;
	display: inline-block;
	text-decoration: none;
	border-radius: 12px;
	padding: 0 10px 0 0;
	line-height: 24px;
	height: 24px;
	opacity: 0.8
	}
.FunctionBtn a:hover {
	opacity: 1
	}
.FunctionBtn a span {
	width: 18px;
	height: 18px;
	background-color: #999;
	background-repeat: no-repeat;
	float: left;
	margin: 3px 6px 3px 3px;
	border-radius: 9px;
	}
.FunctionBtn a.BtnAdd {
	background: #daf1c7;
	}
.FunctionBtn a.BtnAdd span {
	background: url(../images/icos_add.svg) #86d045;
	}
.FunctionBtn a.BtnMove {
	background: #dae0f8;
	}
.FunctionBtn a.BtnMove span {
	background: url(../images/icos_move.svg) #8699e9;
	}
.FunctionBtn a.BtnOrder {
	background: #c1ecff;
	}
.FunctionBtn a.BtnOrder span {
	background: url(../images/icos_order.svg) #33bfff;
	}
.FunctionBtn a.BtnDel {
	background: #fbd3d8;
	}
.FunctionBtn a.BtnDel span {
	background: url(/images/icos_del.svg) #f26d7e;
	}
.TableStyle table { /*表格*/
	background: #FFF;
	width: 100%;
	line-height: 150%;
	border-collapse: collapse;
	}
.TableStyle .Title {
	color: #5f6c7e;
	font-weight: bold;
	text-align: center
	}
.TableStyle .Title td {
	line-height: 22px;
	height: 22px;
	border-right: 1px solid #66cbff;
	border-bottom: 1px solid #66cbff
	}
.TableStyle .Title td:last-child {
	border-right: none;
	}
.TableStyle tr.Title:hover {
	background: inherit !important;
	}
.TableStyle .Order {
	}
.TableStyle td {
	padding: 2px 4px;
	height: 32px;
	border-bottom: 1px solid #d5f1ff;
	}
.TableStyle tr:nth-child(even) {
	background: #fafdff
	}
.TableStyle tr:hover {
	background: #d9f2ff !important;
	}
.TableStyle .Tag {
	margin: 3px 2px;
	}
.Progress {
	background: #ecedef;
	width: 100%;
	height: 12px;
	border-radius: 6px;
	overflow: hidden
	}
.Progress span {
	background: #00a4ff;
	height: 100%;
	border-radius: inherit;
	display: block
	}
.FormList {
	line-height: 46px;
	}
.FormListEnd {
	height: 60px;
	clear: both;
	}
.FormList input,
.FormList select,
.FormList textarea,
.FormList .TagInput {
	border: 1px solid #dce1e6;
	border-radius: 4px;
	padding: 5px;
	height: 36px;
	}
.FormList textarea {
	height: auto;
	margin: 4px 0 -14px 0
	}
.FormList input:hover,
.FormList select:hover,
.FormList textarea:hover,
.FormList .TagInput:hover {
	border: 1px solid #00a4ff;
	box-shadow: 1px 2px 3px rgba(0,164,255,.2)
	}
.FormList input:disabled {
	background: #f4f5f6
	}
.FormList input:disabled:hover,
.FormList select:disabled:hover {
	border: 1px solid #CCC;
	box-shadow: none
	}
.FormList .TagInput {
	line-height: 12px;
	}
.FormList .TagInput .Tag {
	background: #ccedff;
	line-height: 20px;
	border: 1px solid #33b6ff;
	color: #232c45 !important
	}
.FormList .TagInput a {
	display: inline-block;
	height: 100%;
	}
.FormList label {
	padding: 0 10px;
	display: inline-block
	}
.FormList label input {
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: none;
	margin: 0 6px 0 0 !important
	}
.FormList label input:hover {
	border: none;
	box-shadow: none;
	}
.SysTips {
	line-height: 24px;
	padding: 0 0 10px 0 !important;
	}
.Btn {
	background: #959da9;
	height: 36px;
	border-radius: 4px;
	border: none !important;
	width: 120px;
	padding: 0 10px;
	margin: 0 10px 0 0;
	color: #FFF;
	opacity: 0.8
	}
.Btn:disabled {
	background: #c6cbd2 !important;
	box-shadow: none;
	color: #959da9;
	opacity: 1;
	}
.Btn:hover {
	opacity: 1
	}
.BtnMin {
	width: 60px;
	}
.BtnBlue {
	background: #00a4ff;
	box-shadow: 1px 4px 8px rgba(0,164,255,.4);
	opacity: 1;
	}
.BtnBlue:hover {
	background: #008aff;
	}
.BtnRed {
	background: #ee4063;
	}
.BtnRed2 {
	border: 1px solid #ee4063 !important;
	color: #ee4063;
	background: #FFF;
	}
.BtnWhite {
	border: 1px solid #959da9 !important;
	color: #5f6c7e;
	background: #FFF;
	}
.Label {
	width: 150px;
	color: #5f6c7e;
	text-align: right;
	padding: 0 8px 0 0;
	vertical-align: top;
	display: inline-block
	}
.PopLayer { /*弹出数据选择*/
	border: 1px solid #dce1e6;
	border-radius: 4px;
	height: 280px;
	overflow: auto;
	display: inline-block;
	background: #FFF;
	line-height: 21px;
	}
.PopLayer ul {
	border-bottom: 1px solid #dce1e6;
	float: left;
	width: 100%;
	padding: 5px;
	}
.PopLayer ul:hover {
	background: #d9f2ff;
	}
.PopLayer ul:last-child {
	border: none
	}
.PopLayer ul li {
	clear: both
	}
	