<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.dictionary.dao.TbDictionaryItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.dictionary.entity.TbDictionaryItem">
        <id column="ITEM_ID" property="itemId" />
        <result column="DICTIONARY_ID" property="dictionaryId" />
        <result column="PAR_ITEM_ID" property="parItemId" />
        <result column="ITEM_VALUE" property="itemValue" />
        <result column="ITEM_CNNAME" property="itemCnname" />
        <result column="SORT" property="sort" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ITEM_ID, DICTIONARY_ID, PAR_ITEM_ID, ITEM_VALUE, ITEM_CNNAME, SORT, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <update id="removeBatchByDicId" parameterType="cn.ffcs.uoo.core.dictionary.entity.TbDictionaryItem">
        UPDATE TB_DICTIONARY_ITEM
        SET STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_USER = #{updateUser}, STATUS_DATE = #{statusDate}
        WHERE DICTIONARY_ID = #{dictionaryId}
    </update>

    <insert id="save" parameterType="cn.ffcs.uoo.core.dictionary.entity.TbDictionaryItem">
        <selectKey keyProperty="itemId" resultType="java.lang.Long" order="BEFORE">
            select SEQ_ITEM_ID.NEXTVAL from dual
        </selectKey>
        insert into TB_DICTIONARY_ITEM
        <trim prefix="(" suffix=")" suffixOverrides=",">
                ITEM_ID,
            <if test="dictionaryId != null">
                DICTIONARY_ID,
            </if>
            <if test="parItemId != null">
                PAR_ITEM_ID,
            </if>
            <if test="itemValue != null">
                ITEM_VALUE,
            </if>
            <if test="itemCnname != null">
                ITEM_CNNAME,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="statusCd != null">
                STATUS_CD,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="updateUser != null">
                UPDATE_USER,
            </if>
            <if test="statusDate != null">
                STATUS_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{itemId,jdbcType=DECIMAL},
            <if test="dictionaryId != null">
                #{dictionaryId,jdbcType=DECIMAL},
            </if>
            <if test="parItemId != null">
                #{parItemId,jdbcType=DECIMAL},
            </if>
            <if test="itemValue != null">
                #{itemValue,jdbcType=VARCHAR},
            </if>
            <if test="itemCnname != null">
                #{itemCnname,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=DECIMAL},
            </if>
            <if test="statusCd != null">
                #{statusCd,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=DECIMAL},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=DECIMAL},
            </if>
            <if test="statusDate != null">
                #{statusDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <update id="remove" parameterType="cn.ffcs.uoo.core.dictionary.entity.TbDictionaryItem">
        UPDATE TB_DICTIONARY_ITEM
        SET STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_USER = #{updateUser}, STATUS_DATE = #{statusDate}
        WHERE ITEM_ID = #{itemId}
    </update>

    <select id="selectDicItemList" parameterType="cn.ffcs.uoo.core.dictionary.entity.TbDictionaryItem" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM TB_DICTIONARY_ITEM WHERE STATUS_CD = '1000'
        <if test="itemId != null">
            AND ITEM_ID = #{itemId}
        </if>
        <if test="parItemId != null">
            AND PAR_ITEM_ID = #{parItemId}
        </if>
    </select>

    <select id="selectDicItemListByDicName" resultMap="BaseResultMap">
        SELECT I.*
        FROM TB_DICTIONARY D, TB_DICTIONARY_ITEM I
        WHERE D.STATUS_CD = '1000'
        AND I.STATUS_CD = '1000'
        AND D.DICTIONARY_ID = I.DICTIONARY_ID
        AND D.DICTIONARY_NAME = #{dictionaryName}
        ORDER BY I.SORT
    </select>

    <select id="selectAllDicitemVoList" resultType="DictionaryItemVo">
        SELECT D.DICTIONARY_NAME,D.DICTIONARY_CNNAME,I.ITEM_VALUE,I.ITEM_CNNAME,I.SORT
        FROM TB_DICTIONARY D, TB_DICTIONARY_ITEM I
        WHERE D.STATUS_CD = '1000'
        AND I.STATUS_CD = '1000'
        AND D.DICTIONARY_ID = I.DICTIONARY_ID
        ORDER BY I.SORT
    </select>

</mapper>
