<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.message.server.dao.TbAcctMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbAcct">
    <id column="ACCT_ID" jdbcType="DECIMAL" property="acctId" />
    <result column="PERSONNEL_ID" jdbcType="VARCHAR" property="personnelId" />
    <result column="ACCT" jdbcType="VARCHAR" property="acct" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SYMMETRY_PASSWORD" jdbcType="VARCHAR" property="symmetryPassword" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="USER_HOST_TYPE" jdbcType="VARCHAR" property="userHostType" />
    <result column="ENABLE_DATE" jdbcType="DATE" property="enableDate" />
    <result column="DISABLE_DATE" jdbcType="DATE" property="disableDate" />
    <result column="ACCT_TYPE" jdbcType="VARCHAR" property="acctType" />
  </resultMap>
  <sql id="Base_Column_List">
    ACCT_ID, PERSONNEL_ID, ACCT, SALT, PASSWORD, SYMMETRY_PASSWORD, SOURCE, STATUS_CD, 
    CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE, USER_HOST_TYPE, 
    ENABLE_DATE, DISABLE_DATE, ACCT_TYPE
  </sql>

  <select id="selectBySlaveAcctId" resultMap="BaseResultMap">
    select * from Tb_Acct where acct_id = (select acct_id from tb_slave_acct where slave_acct_id = #{slaveAcctId})
  </select>

  <select id="selectByPersonIdLimitDelete" resultMap="BaseResultMap">
    select * from (select b.* from tb_personnel A, TB_ACCT B where A.Personnel_Id =B.personnel_id and A.Status_Cd + B.Status_Cd > 2000
    and A.personnel_id = #{personId}  order by b.update_date desc) where rownum = 1
  </select>

</mapper>