<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.message.server.dao.TbBusinessSystemMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbBusinessSystem">
    <id column="BUSINESS_SYSTEM_ID" jdbcType="DECIMAL" property="businessSystemId" />
    <result column="SYSTEM_CODE" jdbcType="VARCHAR" property="systemCode" />
    <result column="SYSTEM_NAME" jdbcType="VARCHAR" property="systemName" />
    <result column="SYSTEM_DESC" jdbcType="VARCHAR" property="systemDesc" />
    <result column="SYSTEM_URL" jdbcType="VARCHAR" property="systemUrl" />
    <result column="INTF_TYPE" jdbcType="DECIMAL" property="intfType" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="EFF_DATE" jdbcType="DATE" property="effDate" />
    <result column="EXP_DATE" jdbcType="DATE" property="expDate" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
  </resultMap>

  <select id="getSystemBySlaveAcct" resultMap="BaseResultMap">
      select * from tb_business_system where business_system_id = ( select resource_obj_id from tb_slave_acct where slave_acct_type = 1 and slave_acct_id = #{slaveAcctId})
  </select>


  <select id="getSystemByOrg" resultMap="BaseResultMap">
    select DISTINCT * from tb_business_system where status_cd = 1000 and business_system_id in (select business_system_id from TB_SYSTEM_ORG_TREE
    where org_tree_id in (select org_tree_id from tb_org_orgtree_rel where  org_id = #{orgId}))
  </select>

  <select id="getSystemByPersonal" resultMap="BaseResultMap">
     select DISTINCT * from tb_business_system where status_cd = 1000 and business_system_id in (select business_system_id from TB_SYSTEM_ORG_TREE
     where org_tree_id in (select org_tree_id from tb_org_orgtree_rel where  org_id in (select org_id from TB_account_ORG_REL where acct_id =
    (select b.acct_id from tb_personnel A, TB_ACCT B where A.Personnel_Id =b.personnel_id and A.personnel_id = #{personalId}))))
  </select>

</mapper>