<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.message.server.dao.TbContactMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbContact">
    <id column="CONTACT_ID" jdbcType="DECIMAL" property="contactId" />
    <result column="PERSONNEL_ID" jdbcType="DECIMAL" property="personnelId" />
    <result column="CONTACT_TYPE" jdbcType="VARCHAR" property="contactType" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="FIRST_FLAG" jdbcType="DECIMAL" property="firstFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    CONTACT_ID, PERSONNEL_ID, CONTACT_TYPE, CONTENT, UUID, STATUS_CD, CREATE_DATE, CREATE_USER, 
    UPDATE_DATE, UPDATE_USER, STATUS_DATE, FIRST_FLAG
  </sql>
</mapper>