<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.message.server.dao.TbOrgTypeMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbOrgType">
    <id column="ORG_TYPE_ID" jdbcType="DECIMAL" property="orgTypeId" />
    <result column="ORG_TYPE_CODE" jdbcType="VARCHAR" property="orgTypeCode" />
    <result column="ORG_TYPE_NAME" jdbcType="VARCHAR" property="orgTypeName" />
    <result column="ORG_TYPE_DESC" jdbcType="VARCHAR" property="orgTypeDesc" />
    <result column="SUP_PK_ORG_TYPE" jdbcType="DECIMAL" property="supPkOrgType" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ORG_TYPE_ID, ORG_TYPE_CODE, ORG_TYPE_NAME, ORG_TYPE_DESC, SUP_PK_ORG_TYPE, STATUS_CD, 
    CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
  </sql>
</mapper>