<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.message.server.dao.TbSlaveAcctMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbSlaveAcct">
    <id column="SLAVE_ACCT_ID" jdbcType="DECIMAL" property="slaveAcctId" />
    <result column="SLAVE_ACCT" jdbcType="VARCHAR" property="slaveAcct" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SYMMETRY_PASSWORD" jdbcType="VARCHAR" property="symmetryPassword" />
    <result column="SLAVE_ACCT_TYPE" jdbcType="VARCHAR" property="slaveAcctType" />
    <result column="RESOURCE_OBJ_ID" jdbcType="DECIMAL" property="resourceObjId" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="ACCT_ORG_REL_ID" jdbcType="DECIMAL" property="acctHostId" />
    <result column="ACCT_ID" jdbcType="DECIMAL" property="acctId" />
    <result column="ENABLE_DATE" jdbcType="DATE" property="enableDate" />
    <result column="DISABLE_DATE" jdbcType="DATE" property="disableDate" />
  </resultMap>

  <sql id="Base_Column_List">
    SLAVE_ACCT_ID, SLAVE_ACCT, SALT, PASSWORD, SYMMETRY_PASSWORD, SLAVE_ACCT_TYPE, RESOURCE_OBJ_ID,
    STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE, ACCT_ORG_REL_ID,
    ACCT_ID, ENABLE_DATE, DISABLE_DATE
  </sql>

  <!--含有从账号-->
  <resultMap id="VoResultMap" type="cn.ffcs.uoo.message.server.vo.TbAcctVo">
    <id column="ACCT_ID" jdbcType="DECIMAL" property="acctId" />
    <result column="PERSONNEL_ID" jdbcType="VARCHAR" property="personnelId" />
    <result column="ACCT" jdbcType="VARCHAR" property="acct" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SYMMETRY_PASSWORD" jdbcType="VARCHAR" property="symmetryPassword" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="USER_HOST_TYPE" jdbcType="VARCHAR" property="userHostType" />
    <result column="ENABLE_DATE" jdbcType="DATE" property="enableDate" />
    <result column="DISABLE_DATE" jdbcType="DATE" property="disableDate" />
    <result column="ACCT_TYPE" jdbcType="VARCHAR" property="acctType" />
    <result column="SLAVE_ACCT_ID" jdbcType="DECIMAL" property="slaveAcctId" />

    <association property="tbSlaveAcct" javaType="cn.ffcs.uoo.message.server.vo.TbSlaveAcctVo"
                 column="SLAVE_ACCT_ID" select="getTbSlaveAcctVo"></association>

    <association property="tbPersonnel" javaType="cn.ffcs.uoo.message.server.pojo.TbPersonnel"
                 column="PERSONNEL_ID" select="getTbPersonnel"></association>

    <collection property="tbAcctCrossRel" ofType="cn.ffcs.uoo.message.server.pojo.TbAcctCrossRel"
                select="getTbAcctCrossRel" column="ACCT_ID"></collection>

    <collection property="tbAcctOrgRel" ofType="cn.ffcs.uoo.message.server.pojo.TbOrg"
                select="getTbAcctOrgRel" column="SLAVE_ACCT_ID"></collection>

    <collection property="tbContact" ofType="cn.ffcs.uoo.message.server.pojo.TbContact"
                column="PERSONNEL_ID" select="getTbContact"></collection>

    <collection property="tbEdu" ofType="cn.ffcs.uoo.message.server.pojo.TbEdu"
                column="PERSONNEL_ID" select="getTbEdu"></collection>

    <collection property="tbFamily" ofType="cn.ffcs.uoo.message.server.pojo.TbFamily"
                column="PERSONNEL_ID" select="getTbFamily"></collection>

    <collection property="tbCert" ofType="cn.ffcs.uoo.message.server.pojo.TbCert"
                column="PERSONNEL_ID" select="getTbCert"></collection>

    <collection property="tbPsnjob" ofType="cn.ffcs.uoo.message.server.pojo.TbPsnjob"
                column="PERSONNEL_ID" select="getTbPsnjob"></collection>

  </resultMap>

  <!--不含有从账号-->
  <resultMap id="VoResultMap2" type="cn.ffcs.uoo.message.server.vo.TbAcctVo">
    <id column="ACCT_ID" jdbcType="DECIMAL" property="acctId" />
    <result column="PERSONNEL_ID" jdbcType="VARCHAR" property="personnelId" />
    <result column="ACCT" jdbcType="VARCHAR" property="acct" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SYMMETRY_PASSWORD" jdbcType="VARCHAR" property="symmetryPassword" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="USER_HOST_TYPE" jdbcType="VARCHAR" property="userHostType" />
    <result column="ENABLE_DATE" jdbcType="DATE" property="enableDate" />
    <result column="DISABLE_DATE" jdbcType="DATE" property="disableDate" />
    <result column="ACCT_TYPE" jdbcType="VARCHAR" property="acctType" />
    <!--把树的ID存放在从账号标识里-->
    <result column="ORG_TREE_ID" jdbcType="DECIMAL" property="slaveAcctId" />

    <association property="tbPersonnel" javaType="cn.ffcs.uoo.message.server.pojo.TbPersonnel"
                 column="PERSONNEL_ID" select="getTbPersonnel"></association>

    <collection property="tbAcctCrossRel" ofType="cn.ffcs.uoo.message.server.pojo.TbAcctCrossRel"
                select="getTbAcctCrossRel" column="ACCT_ID"></collection>

    <collection property="tbAcctOrgRel" ofType="cn.ffcs.uoo.message.server.pojo.TbOrg"
                select="getTbAcctOrgRel2" column="{acctId=ACCT_ID,orgTreeId=ORG_TREE_ID}"></collection>

    <collection property="tbContact" ofType="cn.ffcs.uoo.message.server.pojo.TbContact"
                column="PERSONNEL_ID" select="getTbContact"></collection>

    <collection property="tbEdu" ofType="cn.ffcs.uoo.message.server.pojo.TbEdu"
                column="PERSONNEL_ID" select="getTbEdu"></collection>

    <collection property="tbFamily" ofType="cn.ffcs.uoo.message.server.pojo.TbFamily"
                column="PERSONNEL_ID" select="getTbFamily"></collection>

    <collection property="tbCert" ofType="cn.ffcs.uoo.message.server.pojo.TbCert"
                column="PERSONNEL_ID" select="getTbCert"></collection>

    <collection property="tbPsnjob" ofType="cn.ffcs.uoo.message.server.pojo.TbPsnjob"
                column="PERSONNEL_ID" select="getTbPsnjob"></collection>

  </resultMap>

  <!--跨域-->
  <resultMap id="TbAcctCrossRelMap" type="cn.ffcs.uoo.message.server.pojo.TbAcctCrossRel">
    <id column="ACCT_CROSS_ID" jdbcType="DECIMAL" property="acctCrossId" />
    <result column="ACCT_ID" jdbcType="DECIMAL" property="acctId" />
    <result column="CROSS_TRAN" jdbcType="VARCHAR" property="crossTran" />
    <result column="RELA_TYPE" jdbcType="VARCHAR" property="relaType" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
  </resultMap>

  <!--组织-->
  <resultMap id="TbOrgMap" type="cn.ffcs.uoo.message.server.pojo.TbOrg">
    <id column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="LOC_ID" jdbcType="DECIMAL" property="locId" />
    <result column="AREA_CODE_ID" jdbcType="DECIMAL" property="areaCodeId" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="ORG_NAME_EN" jdbcType="VARCHAR" property="orgNameEn" />
    <result column="FULL_NAME" jdbcType="VARCHAR" property="fullName" />
    <result column="CITY_TOWN" jdbcType="CHAR" property="cityTown" />
    <result column="OFFICE_PHONE" jdbcType="VARCHAR" property="officePhone" />
    <result column="FOUNDING_TIME" jdbcType="TIMESTAMP" property="foundingTime" />
    <result column="ORG_SCALE" jdbcType="VARCHAR" property="orgScale" />
    <result column="ORG_LEVEL" jdbcType="VARCHAR" property="orgLevel" />
    <result column="ORG_POSITION_LEVEL" jdbcType="VARCHAR" property="orgPositionLevel" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="ORG_CONTENT" jdbcType="VARCHAR" property="orgContent" />
    <result column="ORG_DESC" jdbcType="VARCHAR" property="orgDesc" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
  </resultMap>

  <!--从账号-->
  <resultMap id="TbSlaveAcctVoMap" type="cn.ffcs.uoo.message.server.vo.TbSlaveAcctVo">
    <id column="SLAVE_ACCT_ID" jdbcType="DECIMAL" property="slaveAcctId" />
    <result column="SLAVE_ACCT" jdbcType="VARCHAR" property="slaveAcct" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SYMMETRY_PASSWORD" jdbcType="VARCHAR" property="symmetryPassword" />
    <result column="SLAVE_ACCT_TYPE" jdbcType="VARCHAR" property="slaveAcctType" />
    <result column="RESOURCE_OBJ_ID" jdbcType="DECIMAL" property="resourceObjId" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="ACCT_ORG_REL_ID" jdbcType="DECIMAL" property="acctHostId" />
    <result column="ACCT_ID" jdbcType="DECIMAL" property="acctId" />
    <result column="ENABLE_DATE" jdbcType="DATE" property="enableDate" />
    <result column="DISABLE_DATE" jdbcType="DATE" property="disableDate" />
    <result column="MAPP_STAFF_ID" jdbcType="VARCHAR" property="mappStaffId" />
    <collection property="tbAcctExt" ofType="cn.ffcs.uoo.message.server.pojo.TbAcctExt"
                column="SLAVE_ACCT_ID" select="getTbAcctExt"></collection>
  </resultMap>

  <!--从账号2 不含有扩展-->
  <resultMap id="TbSlaveAcctVoMap2" type="cn.ffcs.uoo.message.server.vo.TbSlaveAcctVo">
    <id column="SLAVE_ACCT_ID" jdbcType="DECIMAL" property="slaveAcctId" />
    <result column="SLAVE_ACCT" jdbcType="VARCHAR" property="slaveAcct" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SYMMETRY_PASSWORD" jdbcType="VARCHAR" property="symmetryPassword" />
    <result column="SLAVE_ACCT_TYPE" jdbcType="VARCHAR" property="slaveAcctType" />
    <result column="RESOURCE_OBJ_ID" jdbcType="DECIMAL" property="resourceObjId" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="ACCT_ORG_REL_ID" jdbcType="DECIMAL" property="acctHostId" />
    <result column="ACCT_ID" jdbcType="DECIMAL" property="acctId" />
    <result column="ENABLE_DATE" jdbcType="DATE" property="enableDate" />
    <result column="DISABLE_DATE" jdbcType="DATE" property="disableDate" />
    <result column="MAPP_STAFF_ID" jdbcType="VARCHAR" property="mappStaffId" />
  </resultMap>

  <!--从账号扩展-->
  <resultMap id="TbAcctExtMap" type="cn.ffcs.uoo.message.server.pojo.TbAcctExt">
    <id column="ACCT_EXT_ID" jdbcType="DECIMAL" property="acctExtId" />
    <result column="SLAVE_ACCT_ID" jdbcType="DECIMAL" property="slaveAcctId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CONTACT_WAY" jdbcType="VARCHAR" property="contactWay" />
    <result column="WORK_EMAIL" jdbcType="VARCHAR" property="workEmail" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_NO" jdbcType="VARCHAR" property="certNo" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="NATIVE_PLACE" jdbcType="VARCHAR" property="nativePlace" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
  </resultMap>

  <!--人员-->
  <resultMap id="TbPersonnelMap" type="cn.ffcs.uoo.message.server.pojo.TbPersonnel">
    <id column="PERSONNEL_ID" jdbcType="DECIMAL" property="personnelId" />
    <result column="PSN_NAME" jdbcType="VARCHAR" property="psnName" />
    <result column="PSN_CODE" jdbcType="VARCHAR" property="psnCode" />
    <result column="NC_CODE" jdbcType="VARCHAR" property="ncCode" />
    <result column="PSN_NBR" jdbcType="VARCHAR" property="psnNbr" />
    <result column="NATIONALITY" jdbcType="VARCHAR" property="nationality" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="MARRIAGE" jdbcType="CHAR" property="marriage" />
    <result column="PLITICAL_STATUS" jdbcType="VARCHAR" property="pliticalStatus" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="TO_WORK_TIME" jdbcType="DATE" property="toWorkTime" />
    <result column="SERVING_AGE" jdbcType="DECIMAL" property="servingAge" />
    <result column="LENGTH_SERVICE" jdbcType="DECIMAL" property="lengthService" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="NOTES" jdbcType="VARCHAR" property="notes" />
  </resultMap>

  <!--联系-->
  <resultMap id="TbContactMap" type="cn.ffcs.uoo.message.server.pojo.TbContact">
    <id column="CONTACT_ID" jdbcType="DECIMAL" property="contactId" />
    <result column="PERSONNEL_ID" jdbcType="DECIMAL" property="personnelId" />
    <result column="CONTACT_TYPE" jdbcType="VARCHAR" property="contactType" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="FIRST_FLAG" jdbcType="DECIMAL" property="firstFlag" />
  </resultMap>

  <!--教育-->
  <resultMap id="TbEduMap" type="cn.ffcs.uoo.message.server.pojo.TbEdu">
    <id column="EDU_ID" jdbcType="DECIMAL" property="eduId" />
    <result column="PERSONNEL_ID" jdbcType="DECIMAL" property="personnelId" />
    <result column="SCHOOL" jdbcType="VARCHAR" property="school" />
    <result column="SCHOOL_TYPE" jdbcType="VARCHAR" property="schoolType" />
    <result column="MAJOR" jdbcType="VARCHAR" property="major" />
    <result column="MAJORTYPE" jdbcType="VARCHAR" property="majortype" />
    <result column="EDUCATION" jdbcType="VARCHAR" property="education" />
    <result column="EDUSYSTEM" jdbcType="DECIMAL" property="edusystem" />
    <result column="DEGREE" jdbcType="CHAR" property="degree" />
    <result column="FIRST_EDUCATION" jdbcType="VARCHAR" property="firstEducation" />
    <result column="LAST_EDUCATION" jdbcType="CHAR" property="lastEducation" />
    <result column="LAST_DEGREE" jdbcType="CHAR" property="lastDegree" />
    <result column="BEGINDATE" jdbcType="DATE" property="begindate" />
    <result column="ENDDATE" jdbcType="DATE" property="enddate" />
    <result column="CERTIFCODE" jdbcType="VARCHAR" property="certifcode" />
    <result column="IS_FULL_TIME_HIGH_EDU" jdbcType="CHAR" property="isFullTimeHighEdu" />
    <result column="IS_IN_SERVICE_HIGH_EDU" jdbcType="CHAR" property="isInServiceHighEdu" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
  </resultMap>

  <!--家人-->
  <resultMap id="TbFamilyMap" type="cn.ffcs.uoo.message.server.pojo.TbFamily">
    <id column="FAMILY_ID" jdbcType="DECIMAL" property="familyId" />
    <result column="PERSONNEL_ID" jdbcType="DECIMAL" property="personnelId" />
    <result column="MEM_RELATION" jdbcType="VARCHAR" property="memRelation" />
    <result column="MEM_NAME" jdbcType="VARCHAR" property="memName" />
    <result column="RELA_EMAIL" jdbcType="VARCHAR" property="relaEmail" />
    <result column="RELA_PHONE" jdbcType="VARCHAR" property="relaPhone" />
    <result column="RELA_ADDR" jdbcType="VARCHAR" property="relaAddr" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
  </resultMap>

  <!--证件-->
  <resultMap id="TbCertMap" type="cn.ffcs.uoo.message.server.pojo.TbCert">
    <result column="CERT_ID" jdbcType="DECIMAL" property="certId" />
    <result column="PERSONNEL_ID" jdbcType="DECIMAL" property="personnelId" />
    <result column="CERT_NAME" jdbcType="VARCHAR" property="certName" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_NO" jdbcType="VARCHAR" property="certNo" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="ISSUING" jdbcType="VARCHAR" property="issuing" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="IS_REAL" jdbcType="VARCHAR" property="isReal" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
  </resultMap>

  <!--工作-->
  <resultMap id="TbPsnjobMap" type="cn.ffcs.uoo.message.server.vo.TbPsnjobVo">
    <id column="PSNJOB_ID" jdbcType="DECIMAL" property="psnjobId" />
    <result column="PERSONNEL_ID" jdbcType="DECIMAL" property="personnelId" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="BEGIN_TIME" jdbcType="DATE" property="beginTime" />
    <result column="END_TIME" jdbcType="DATE" property="endTime" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
  </resultMap>

  <!--从账号获取主账号-->
  <select id="insertOrUpdateSalveAcct" resultMap="VoResultMap">
    select A.*,#{slaveAcctId} SLAVE_ACCT_ID from tb_acct A where acct_id = (select acct_id from tb_slave_acct where slave_acct_id = #{slaveAcctId} and STATUS_CD= 1000) and STATUS_CD= 1000
  </select>

  <!--获取所有的从账号-->
  <select id="insertOrUpdateSalveAcctByPersonnelIdAndSystemId" resultMap="BaseResultMap">
    select b.* from tb_acct a left join tb_slave_acct b on a.acct_id = b.acct_id where a.personnel_id = #{personnelId} and a.status_cd = 1000 and b.status_cd = 1000 and b.slave_acct_type = 1
    and b.resource_obj_id = #{systemId}
  </select>

    <!--获取所有的从账号根据主账号-->
   <select id="deleteSalveAcctByAcct" resultMap="BaseResultMap">
    select b.* from tb_acct a left join tb_slave_acct b on a.acct_id = b.acct_id where a.acct_Id = #{acctId}  and b.slave_acct_type = 1 and b.resource_obj_id = #{systemId}
   </select>

  <!--人获取主账号-->
  <select id="insertOrUpdateAcct" resultMap="VoResultMap2">
    select A.*,#{orgTreeId} ORG_TREE_ID　from tb_acct A where PERSONNEL_ID = #{personnelId} and STATUS_CD= 1000
  </select>

  <!--跨域-->
  <select id="getTbAcctCrossRel" parameterType="Long" resultMap="TbAcctCrossRelMap">
    select * from tb_Acct_Cross_Rel where acct_id = #{ACCT_ID} and STATUS_CD= 1000
  </select>

  <select id="getTbAcctOrgRel" parameterType="Long" resultMap="TbOrgMap">
    select * from  tb_org where status_cd = 1000 and org_id = (select org_id from TB_account_ORG_REL where ACCT_ORG_REL_ID =
    (select ACCT_ORG_REL_ID from tb_slave_acct where slave_acct_id = #{SLAVE_ACCT_ID}) and STATUS_CD= 1000)
  </select>

  <select id="getTbAcctOrgRel2" resultMap="TbOrgMap">
    select a.* from  tb_org a left join tb_org_orgtree_rel b on a.org_id = b.org_id and b.status_cd = 1000
    left join tb_org_tree c on c.org_tree_id = b.org_tree_id and c.status_cd = 1000 where a.status_cd = 1000 and
    a.org_id in (select org_id from TB_account_ORG_REL where acct_id = #{acctId} and STATUS_CD= 1000) and c.org_tree_id = #{orgTreeId}
  </select>

  <select id="getTbSlaveAcctVo" resultMap="TbSlaveAcctVoMap" parameterType="Long">
     select a.*,case when b.map_acct_id is not null then b.map_acct_id else to_char(a.slave_acct_id) end MAPP_STAFF_ID from tb_slave_acct a
    left join tb_slave_acct_map b on a.slave_acct_id = b.slave_acct_id AND b.STATUS_CD = 1000
    where a.slave_acct_id = #{SLAVE_ACCT_ID} and a.STATUS_CD= 1000
  </select>

  <select id="getTbAcctExt" resultMap="TbAcctExtMap" parameterType="Long">
    select * from tb_acct_ext where slave_acct_id = #{SLAVE_ACCT_ID} and STATUS_CD= 1000
  </select>

  <select id="getTbPersonnel" resultMap="TbPersonnelMap" parameterType="Long">
    select * from Tb_Personnel where PERSONNEL_ID =#{PERSONNEL_ID} and STATUS_CD= 1000
  </select>

  <select id="getTbContact" resultMap="TbContactMap" parameterType="Long">
    select * from Tb_Contact where PERSONNEL_ID =#{PERSONNEL_ID} and STATUS_CD= 1000
  </select>

  <select id="getTbEdu" resultMap="TbEduMap" parameterType="Long">
    select * from Tb_edu where PERSONNEL_ID =#{PERSONNEL_ID} and STATUS_CD= 1000
  </select>

  <select id="getTbFamily" resultMap="TbFamilyMap" parameterType="Long">
    select * from Tb_Family where PERSONNEL_ID =#{PERSONNEL_ID} and STATUS_CD= 1000
  </select>

  <select id="getTbCert" resultMap="TbCertMap" parameterType="Long">
    select * from Tb_cert where PERSONNEL_ID =#{PERSONNEL_ID} and STATUS_CD= 1000
  </select>

  <select id="getTbPsnjob" resultMap="TbPsnjobMap" parameterType="Long">
     select a.*,b.org_name from Tb_Psnjob a,tb_org b where PERSONNEL_ID = #{PERSONNEL_ID} and a.org_id = b.org_id and a.status_cd = 1000 and b.status_cd = 1000
  </select>

  <select id="selectVoById" resultMap="TbSlaveAcctVoMap2">
    select a.*,case when b.map_acct_id is not null then b.map_acct_id else to_char(a.slave_acct_id) end MAPP_STAFF_ID from tb_slave_acct a
    left join tb_slave_acct_map b on a.slave_acct_id = b.slave_acct_id AND b.STATUS_CD = 1000
    where a.slave_acct_id = #{slaveAcctId}
  </select>

</mapper>