<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.message.server.dao.TbSystemIndividuationRuleMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbSystemIndividuationRule">
    <id column="INDIVIDUATION_RULE_ID" jdbcType="DECIMAL" property="individuationRuleId" />
    <result column="SYSTEM_ORG_TREE_ID" jdbcType="DECIMAL" property="systemOrgTreeId" />
    <result column="BUSI_OBJ_ID" jdbcType="VARCHAR" property="busiObjId" />
    <result column="BUSI_OBJ_ATTR_ID" jdbcType="VARCHAR" property="busiObjAttrId" />
    <result column="RULE_OPERATOR" jdbcType="VARCHAR" property="ruleOperator" />
    <result column="ATTR_VALUE" jdbcType="VARCHAR" property="attrValue" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    INDIVIDUATION_RULE_ID, SYSTEM_ORG_TREE_ID, BUSI_OBJ_ID, BUSI_OBJ_ATTR_ID, RULE_OPERATOR,
    ATTR_VALUE, STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER
  </sql>

</mapper>