<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.message.server.dao.TbSystemOrgTreeMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbSystemOrgTree">
    <id column="SYSTEM_ORG_TREE_ID" jdbcType="DECIMAL" property="systemOrgTreeId" />
    <result column="BUSINESS_SYSTEM_ID" jdbcType="DECIMAL" property="businessSystemId" />
    <result column="ORG_TREE_ID" jdbcType="DECIMAL" property="orgTreeId" />
    <result column="INCLUDE_PSN" jdbcType="DECIMAL" property="includePsn" />
    <result column="INCLUDE_SLAVE_ACCT" jdbcType="DECIMAL" property="includeSlaveAcct" />
    <result column="EFF_DATE" jdbcType="DATE" property="effDate" />
    <result column="EXP_DATE" jdbcType="DATE" property="expDate" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
  </resultMap>

  <sql id="Base_Column_List">
    SYSTEM_ORG_TREE_ID, BUSINESS_SYSTEM_ID,org_tree_id, INCLUDE_PSN, INCLUDE_SLAVE_ACCT, EFF_DATE,
    EXP_DATE, STATUS_CD, STATUS_DATE, CREATE_USER, CREATE_DATE, UPDATE_USER, UPDATE_DATE
  </sql>

  <resultMap id="OrgTreeAndTbSystemIndividuationRuleMap" type="cn.ffcs.uoo.message.server.vo.OrgTreeRuleVo">
    <id column="SYSTEM_ORG_TREE_ID" jdbcType="DECIMAL" property="systemOrgTreeId" />
    <result column="BUSINESS_SYSTEM_ID" jdbcType="DECIMAL" property="businessSystemId" />
    <result column="ORG_TREE_ID" jdbcType="DECIMAL" property="orgTreeId" />
    <result column="INCLUDE_PSN" jdbcType="DECIMAL" property="includePsn" />
    <result column="INCLUDE_SLAVE_ACCT" jdbcType="DECIMAL" property="includeSlaveAcct" />
    <result column="EFF_DATE" jdbcType="DATE" property="effDate" />
    <result column="EXP_DATE" jdbcType="DATE" property="expDate" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />

    <collection property="tbSystemIndividuationRules" ofType="cn.ffcs.uoo.message.server.pojo.TbSystemIndividuationRule"
                select="getTbSystemIndividuationRules" column="SYSTEM_ORG_TREE_ID">
    </collection>

  </resultMap>

  <resultMap id="RuleBaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbSystemIndividuationRule">
    <id column="INDIVIDUATION_RULE_ID" jdbcType="DECIMAL" property="individuationRuleId" />
    <result column="SYSTEM_ORG_TREE_ID" jdbcType="DECIMAL" property="systemOrgTreeId" />
    <result column="BUSI_OBJ_ID" jdbcType="VARCHAR" property="busiObjId" />
    <result column="BUSI_OBJ_ATTR_ID" jdbcType="VARCHAR" property="busiObjAttrId" />
    <result column="RULE_OPERATOR" jdbcType="VARCHAR" property="ruleOperator" />
    <result column="ATTR_VALUE" jdbcType="VARCHAR" property="attrValue" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
  </resultMap>

  <select id="getTbSystemOrgTreeAndTbSystemIndividuationRule" resultMap="OrgTreeAndTbSystemIndividuationRuleMap">
    select * from TB_SYSTEM_ORG_TREE where business_system_id = #{systemId} and status_cd = 1000
  </select>

  <select id="getTbSystemOrgTreeAndTbSystemIndividuationRules" resultMap="OrgTreeAndTbSystemIndividuationRuleMap">
    select * from TB_SYSTEM_ORG_TREE where status_cd = 1000
    <if test="ids != null ">
      and business_system_id in
      <foreach collection="ids" item="systemId" open="(" close=")" separator=",">
        #{systemId}
      </foreach>
    </if>

  </select>

  <select id="getTbSystemIndividuationRules" parameterType="Long" resultMap="RuleBaseResultMap">
    select * from TB_SYSTEM_INDIVIDUATION_RULE where SYSTEM_ORG_TREE_ID = #{SYSTEM_ORG_TREE_ID} and status_cd = 1000
  </select>

  <select id="test" resultType="Integer">
    select 1 from dual
  </select>

</mapper>