<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.user.dao.TbAcctMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.user.entity.TbAcct">
        <id column="ACCT_ID" property="acctId" />
        <result column="USER_ID" property="userId" />
        <result column="ACCT_NBR" property="acctNbr"/>
        <result column="ACCT_PHONE" property="acctPhone"/>
        <result column="ACCT_EMAIL" property="acctEmail"/>
        <result column="ACCT_CERT" property="acctCert"/>
        <result column="ACCT" property="acct" />
        <result column="SALT" property="salt" />
        <result column="PASSWORD" property="password" />
        <result column="SYMMETRY_PASSWORD" property="symmetryPassword" />
        <result column="ACCT_TYPE" property="acctType"/>
        <result column="SOURCE" property="source" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ACCT_ID, USER_ID, ACCT, SALT, PASSWORD, SYMMETRY_PASSWORD, SOURCE, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <select id="getId" resultType="java.lang.Long">
        select seq_tb_acct_id.nextval from dual
    </select>

    <update id="delete" parameterType="cn.ffcs.uoo.core.user.entity.TbAcct">
        UPDATE
          TB_ACCT
        SET
          STATUS_CD = #{statusCd}, UPDATE_DATE = #{updateDate}, UPDATE_USER = #{updateUser}
        WHERE
          ACCT = #{acct}
    </update>

    <select id="selectAcctList" parameterType="cn.ffcs.uoo.core.user.entity.TbAcct" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List" />
        FROM
          TB_ACCT
        WHERE 1=1
        AND STATUS_CD = 1000
        <if test="acctId != null">
            AND ACCT_ID = #{acctId}
        </if>
        <if test="acct != null">
            AND ACCT = #{acct}
        </if>
    </select>
</mapper>
