<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.user.dao.TbSlaveAcctMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.user.entity.TbSlaveAcct">
        <id column="SLAVE_ACCT_ID" property="slaveAcctId" />
        <result column="ACCT_ORG_REL_ID" property="acctOrgRelId" />
        <result column="ACCT_ID" property="acctId" />
        <result column="SLAVE_ACCT" property="slaveAcct" />
        <result column="SALT" property="salt" />
        <result column="PASSWORD" property="password" />
        <result column="SYMMETRY_PASSWORD" property="symmetryPassword" />
        <result column="SLAVE_ACCT_TYPE" property="slaveAcctType" />
        <result column="RESOURCE_OBJ_ID" property="resourceObjId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
        <result column="ENABLE_DATE" property="enableDate" />
        <result column="DISABLE_DATE" property="disableDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SLAVE_ACCT_ID, ACCT_ORG_REL_ID, ACCT_ID, SLAVE_ACCT, SALT, PASSWORD, SYMMETRY_PASSWORD, SLAVE_ACCT_TYPE, RESOURCE_OBJ_ID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE, ENABLE_DATE, DISABLE_DATE
    </sql>

    <select id="getId" resultType="java.lang.Long">
        select seq_tb_slave_acct_id.nextval from dual
    </select>

    <select id="getUserList" resultType="cn.ffcs.uoo.core.user.entity.ListUser">
        select t1.user_id, t3.psn_name, t2.create_date
        from TB_SLVACCT_USER_REL t1, TB_USER t2, TB_PERSONNEL t3
        <where> t1.status_cd = 1000
            and t2.status_cd = 1000
            and t3.status_cd = 1000
            and t1.user_id = t2.user_id
            and t2.personnel_id = t3.personnel_id
            <if test="slaveAcctId != null and slaveAcctId != '' " >
                and t1.slave_acct_id = #{slaveAcctId}
            </if>
        </where>
    </select>

    <select id="getApplyUserList" resultType="cn.ffcs.uoo.core.user.entity.ListUser">
        select t2.user_id, t3.psn_name, t2.create_date
        from TB_SLVACCT_ACCT_REL t1, TB_ACCT t, TB_USER t2, TB_PERSONNEL t3
        <where> t.status_cd = 1000
            and t1.status_cd = 1000
            and t2.status_cd = 1000
            and t3.status_cd = 1000
            and t2.personnel_id = t3.personnel_id
            and t2.user_id = t.user_id
            and t1.acct_id = t.acct_id
            <if test="slaveAcctId != null and slaveAcctId != '' " >
                and t1.slave_acct_id = #{slaveAcctId}
            </if>
        </where>
    </select>

    <select id="getAcct" resultType="cn.ffcs.uoo.core.user.entity.TbAcct">
        select t2.*
        from TB_SLVACCT_ACCT_REL t1, TB_ACCT t2
        <where> t1.status_cd = 1000
            and t2.status_cd = 1000
            and t1.acct_id = t2.acct_id
            <if test="slaveAcctId != null and slaveAcctId != '' " >
                and t1.slave_acct_id = #{slaveAcctId}
            </if>
        </where>
    </select>

    <select id="getSlaveAcctOrg" resultType="cn.ffcs.uoo.core.user.vo.ListSlaveAcctOrgVo">
        select ROWNUM id, t.*, t7.org_tree_name, t4.full_name, t6.system_name
        from (select t1.slave_acct_id, t1.slave_acct_type, t1.slave_acct, t1.status_cd, t2.org_id, t1.resource_obj_id, t2.org_tree_id, t2.rel_type
        from tb_slave_acct t1, tb_account_org_rel t2, tb_org t3
        where t1.status_cd = 1000
        and t2.status_cd = 1000
        and t3.status_cd = 1000
        and t2.org_id = t3.org_id
        and t1.acct_org_rel_id = t2.acct_org_rel_id
        <if test="inSql != null and inSql != '' " >
            and ${inSql}
        </if>
        <if test="slaveAcctOrgVo.acctId != null and slaveAcctOrgVo.acctId != '' " >
            and t1.acct_id = #{slaveAcctOrgVo.acctId}
        </if>
        ) t
        left join tb_org t4
        on t.org_id = t4.org_id
        and t4.status_cd = 1000
        left join tb_business_system t6
        on t.resource_obj_id = t6.business_system_id
        and t6.status_cd = 1000
        left join tb_org_tree t7 on t.org_tree_id = t7.org_tree_id and t7.status_cd = 1000
    </select>

    <select id="getAcctCrossRel" resultType="cn.ffcs.uoo.core.user.vo.AcctCrossRelVo">
        select distinct t.acct_cross_id, t.acct_id, t.cross_tran, t.rela_type
        from tb_acct_cross_rel t
        where t.status_cd = 1000
          and t.rela_type = '100100102'
        <if test="acctId != null and acctId != '' " >
            and t.acct_id = #{acctId}
        </if>
    </select>

</mapper>
