<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.core.user.dao.TbUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.uoo.core.user.entity.TbUser">
        <id column="USER_ID" property="userId" />
        <result column="PERSONNEL_ID" property="personnelId" />
        <result column="STATUS_CD" property="statusCd" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="STATUS_DATE" property="statusDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, TB__PERSONNEL_ID, PERSONNEL_ID, STATUS_CD, CREATE_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER, STATUS_DATE
    </sql>

    <select id="getId"  resultType="java.lang.Long">
        SELECT SEQ_TB_USER_ID.NEXTVAL from dual
    </select>

    <select id="getRoleByUserId" resultType="cn.ffcs.uoo.core.user.entity.TbRoles">
        select t1.role_id, t1.role_name
        from tb_roles t1, tb_user_role t2
        <where> 1 = 1
            and t1.status_cd = 1000
            and t2.status_cd = 1000
            and t1.role_id = t2.role_id
            <if test="userId != null and userId != '' " >
                and t2.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="getSlaveAcctInfo" resultType="cn.ffcs.uoo.core.user.vo.ListSlaveAcctVo">
        select t2.slave_acct_id,
        t2.slave_acct,
        t2.slave_acct_type,
        t1.host_obj_id,
        t1.host_obj_name
        from TB_SLAVE_ACCT_HOST_REL t1, tb_slave_acct t2, TB_SLVACCT_ACCT_REL t3
        <where> t1.status_cd = 1000
            and t2.status_cd = 1000
            and t3.status_cd = 1000
            and t1.slave_acct_id = t2.slave_acct_id
            and t2.slave_acct_id = t3.slave_acct_id
            <if test="acctId != null and acctId != '' " >
                and t3.acct_id = #{acctId}
            </if>
        </where>
        union all
        select t1.slave_acct_id,
        t1.slave_acct,
        t1.slave_acct_type,
        null host_obj_id,
        '' host_obj_name
        from tb_slave_acct t1, TB_SLVACCT_USER_REL t2
        <where> t1.status_cd = 1000
            and t2.status_cd = 1000
            and t1.slave_acct_id = t2.slave_acct_id
            <if test="userId != null and userId != '' " >
                and t2.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="getUserOrg" resultType="cn.ffcs.uoo.core.user.vo.ListUserOrgVo">
        WITH ORGTREE AS(
        SELECT REPLACE(REPLACE(SYS_CONNECT_BY_PATH(ORG_NAME, '->'),
        '->',
        '//'),
        '//',
        '/') FULL_NAME,
        ORG_NAME,
        ORG_ID,
        SUP_ORG_ID,
        SORT,
        LOC_ID,
        AREA_CODE_ID,
        ORG_CODE,
        STATUS_CD
        FROM (SELECT A.*, B.SUP_ORG_ID
        FROM TB_ORG A, TB_ORG_REL B
        WHERE A.ORG_ID = B.ORG_ID
        AND A.STATUS_CD = 1000
        AND B.STATUS_CD = 1000) AA
        START WITH ORG_ID = #{orgRootId}
        CONNECT BY PRIOR AA.ORG_ID = AA.SUP_ORG_ID
        ),
        TBSLAVEACCT AS(
        SELECT T1.SLAVE_ACCT_ID, T1.SLAVE_ACCT, T1.SLAVE_ACCT_TYPE, T2.USER_ID
        FROM TB_SLAVE_ACCT T1, TB_SLVACCT_USER_REL T2
        WHERE T1.STATUS_CD = 1000
        AND T2.STATUS_CD = 1000
        AND T1.SLAVE_ACCT_ID = T2.SLAVE_ACCT_ID
        UNION ALL
        SELECT A1.SLAVE_ACCT_ID, A1.SLAVE_ACCT, A1.SLAVE_ACCT_TYPE, A3.USER_ID
        FROM TB_SLAVE_ACCT A1, TB_SLVACCT_ACCT_REL A2, TB_ACCT A3
        WHERE A1.STATUS_CD = 1000
        AND A2.STATUS_CD = 1000
        AND A3.STATUS_CD = 1000
        AND A1.SLAVE_ACCT_ID = A2.SLAVE_ACCT_ID
        AND A2.ACCT_ID = A3.ACCT_ID
        ),
        ORGUSER AS(
        SELECT A.*, D.USER_ID
        FROM TB_ORG_PERSON_REL        A,
        TB_ORGTREE_ORGPERSON_REL B,
        TB_ORG_TREE              C,
        TB_USER                  D
        WHERE A.STATUS_CD = '1000'
        AND B.STATUS_CD = '1000'
        AND C.STATUS_CD = '1000'
        AND D.STATUS_CD = '1000'
        AND A.PERSONNEL_ID = D.PERSONNEL_ID
        AND A.ORG_PERSON_ID = B.ORG_PERSON_ID
        AND B.ORG_TREE_ID = C.ORG_TREE_ID
        AND C.ORG_ID = #{orgRootId}
        <if test="orgId != null and orgId != ''">
            AND A.ORG_ID = #{orgId}
        </if>
        )
        SELECT OUSER.USER_ID,
        PER.PSN_NAME,
        (SELECT B.FULL_NAME FROM ORGTREE B WHERE B.ORG_ID = OUSER.ORG_ID) FULL_NAME,
        (SELECT TAT.ACCT
        FROM TB_ACCT TAT
        WHERE TAT.STATUS_CD = 1000
        AND TAT.USER_ID = OUSER.USER_ID) ACCT,
        (SELECT WM_CONCAT(TBA.SLAVE_ACCT)
        FROM TBSLAVEACCT TBA
        WHERE TBA.USER_ID = OUSER.USER_ID) SLAVE_ACCT,
        TCT.CONTENT,
        TCERT.CERT_NO,
        OUSER.STATUS_CD FROM ORGUSER OUSER LEFT JOIN TB_PERSONNEL PER ON PER.PERSONNEL_ID = OUSER.PERSONNEL_ID AND PER.STATUS_CD = OUSER.STATUS_CD LEFT JOIN TB_CONTACT TCT ON TCT.PERSONNEL_ID = OUSER.PERSONNEL_ID AND TCT.CONTACT_TYPE = '1' AND TCT.STATUS_CD = OUSER.STATUS_CD LEFT JOIN TB_CERT TCERT ON TCERT.PERSONNEL_ID = OUSER.PERSONNEL_ID AND TCERT.STATUS_CD = OUSER.STATUS_CD

    </select>

    <select id="getUserList" resultType="cn.ffcs.uoo.core.user.vo.ListUserVo">
        select ROWNUM id, at.*
        from (select '1' type, t.acct_id, '主账号' name, t.acct,t.status_cd,to_char(t.create_date, 'yyyy-MM-dd') as create_date
        from TB_ACCT t
        where t.status_cd = 1000
        <if test="personnelId != null and personnelId != '' " >
            and t.personnel_id = #{personnelId}
        </if>
        union
        select '2' type,t1.slave_acct_id acct_id, '从账号' name, t1.slave_acct as acct, t1.status_cd, to_char(t1.create_date, 'yyyy-MM-dd') as create_date
        from TB_SLAVE_ACCT t1, TB_ACCT t2
        where t1.status_cd = 1000
        and t2.status_cd = 1000
        and t1.slave_acct_type = '1'
        and t1.acct_id = t2.acct_id
        <if test="personnelId != null and personnelId != '' " >
            and t2.personnel_id = #{personnelId}
        </if>
        ) at
    </select>

    <select id="getPersonnelInfo" resultType="cn.ffcs.uoo.core.user.vo.PersonnelInfoVo">
        select t1.personnel_id,
        t1.psn_name,
        t1.psn_nbr,
        t1.psn_code,
        t2.content      mobile_phone,
        t3.content      email,
        t4.cert_type,
        t4.cert_no
        from tb_personnel t1
        left join tb_contact t2
        on t1.personnel_id = t2.personnel_id
        and t1.status_cd = t2.status_cd
        and t2.contact_type = '1'
        and t2.first_flag = '1'
        left join tb_contact t3
        on t1.personnel_id = t3.personnel_id
        and t1.status_cd = t3.status_cd
        and t3.contact_type = '2'
        and t3.first_flag = '1'
        left join tb_cert t4
        on t1.personnel_id = t4.personnel_id
        and t1.status_cd = t4.status_cd
        where t1.status_cd = 1000
        <if test="personnelId != null and personnelId != '' " >
            and t1.personnel_id = #{personnelId}
        </if>
    </select>

    <select id="getAcctOrg" resultType="cn.ffcs.uoo.core.user.vo.ListAcctOrgVo">
        select ROWNUM id, t3.*,t4.org_tree_name from
        (select t2.acct_org_rel_id,t2.acct_id,t1.org_id, t1.full_name, t1.org_name, t2.org_tree_id
        from tb_org t1, TB_account_ORG_REL t2
        where t1.status_cd = 1000
        and t2.status_cd = 1000
        and t1.org_id = t2.org_id
        <if test="acctId != null and acctId != '' " >
            and t2.acct_id = #{acctId}
        </if>
        ) t3 left join tb_org_tree t4 on t3.org_tree_id = t4.org_tree_id and t4.status_cd = 1000

    </select>

    <select id="getAcctOrgByPsnId" resultType="cn.ffcs.uoo.core.user.vo.ListAcctOrgVo">
        select t1.org_id, t1.org_name, t1.full_name, t2.acct_org_rel_id
        from tb_org t1, tb_account_org_rel t2, tb_acct t3
        where t1.status_cd = 1000
        and t2.status_cd = 1000
        and t1.org_id = t2.org_id
        and t2.acct_id = t3.acct_id
        <if test="personnelId != null and personnelId != '' " >
            and t3.personnel_id = #{personnelId}
        </if>

    </select>

    <select id="getSlaveAcctOrg" resultType="cn.ffcs.uoo.core.user.vo.ListAcctOrgVo">
        select ROWNUM id, t3.*,t4.org_tree_name from
        (select t2.acct_org_rel_id,t2.acct_id,t1.org_id, t1.full_name, t1.org_name, t2.org_tree_id
        from tb_org t1, tb_account_org_rel t2
        where t1.status_cd = 1000
        and t2.status_cd = 1000
        and t1.org_id = t2.org_id
        <if test="acctOrgVo.acctOrgRelId != null and acctOrgVo.acctOrgRelId != '' " >
            and t2.ACCT_ORG_REL_ID = #{acctOrgVo.acctOrgRelId}
        </if>
        ) t3 left join tb_org_tree t4 on t3.org_tree_id = t4.org_tree_id and t4.status_cd = 1000
    </select>

</mapper>
