<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.base.auth.mapper.UserPasswdHisMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.ffcs.uoo.base.auth.entity.UserPasswdHis">
		<id column="PASSWD_HIS_ID" property="passwdHisId" />
		<result column="LOGIN_ACCOUNT_ID" property="loginAccountId" />
		<result column="PASSWORD" property="password" />
		<result column="CREATE_DATE" property="createDate" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		PASSWD_HIS_ID, LOGIN_ACCOUNT_ID, PASSWORD, CREATE_DATE
	</sql>
	<select id="getId" resultType="java.lang.Long">
		SELECT SEQ_TB_USER_PASSWD_HIS.nextval FROM dual
	</select>
</mapper>
