<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.uoo.message.server.dao.TbSystemOrgTreeMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.uoo.message.server.pojo.TbSystemOrgTree">
    <id column="SYSTEM_ORG_TREE_ID" jdbcType="DECIMAL" property="systemOrgTreeId" />
    <result column="BUSINESS_SYSTEM_ID" jdbcType="DECIMAL" property="businessSystemId" />
    <result column="ORG_TREE_ID" jdbcType="DECIMAL" property="orgTreeId" />
    <result column="EFF_DATE" jdbcType="DATE" property="effDate" />
    <result column="EXP_DATE" jdbcType="DATE" property="expDate" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="UPDATE_USER" jdbcType="DECIMAL" property="updateUser" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    SYSTEM_ORG_TREE_ID, BUSINESS_SYSTEM_ID, ORG_TREE_ID, EFF_DATE, EXP_DATE, STATUS_CD, 
    STATUS_DATE, CREATE_USER, CREATE_DATE, UPDATE_USER, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_SYSTEM_ORG_TREE
    where SYSTEM_ORG_TREE_ID = #{systemOrgTreeId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TB_SYSTEM_ORG_TREE
    where SYSTEM_ORG_TREE_ID = #{systemOrgTreeId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.ffcs.uoo.message.server.pojo.TbSystemOrgTree">
    insert into TB_SYSTEM_ORG_TREE (SYSTEM_ORG_TREE_ID, BUSINESS_SYSTEM_ID, 
      ORG_TREE_ID, EFF_DATE, EXP_DATE, 
      STATUS_CD, STATUS_DATE, CREATE_USER, 
      CREATE_DATE, UPDATE_USER, UPDATE_DATE
      )
    values (#{systemOrgTreeId,jdbcType=DECIMAL}, #{businessSystemId,jdbcType=DECIMAL}, 
      #{orgTreeId,jdbcType=DECIMAL}, #{effDate,jdbcType=DATE}, #{expDate,jdbcType=DATE}, 
      #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=DATE}, #{createUser,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=DATE}, #{updateUser,jdbcType=DECIMAL}, #{updateDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ffcs.uoo.message.server.pojo.TbSystemOrgTree">
    insert into TB_SYSTEM_ORG_TREE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="systemOrgTreeId != null">
        SYSTEM_ORG_TREE_ID,
      </if>
      <if test="businessSystemId != null">
        BUSINESS_SYSTEM_ID,
      </if>
      <if test="orgTreeId != null">
        ORG_TREE_ID,
      </if>
      <if test="effDate != null">
        EFF_DATE,
      </if>
      <if test="expDate != null">
        EXP_DATE,
      </if>
      <if test="statusCd != null">
        STATUS_CD,
      </if>
      <if test="statusDate != null">
        STATUS_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="systemOrgTreeId != null">
        #{systemOrgTreeId,jdbcType=DECIMAL},
      </if>
      <if test="businessSystemId != null">
        #{businessSystemId,jdbcType=DECIMAL},
      </if>
      <if test="orgTreeId != null">
        #{orgTreeId,jdbcType=DECIMAL},
      </if>
      <if test="effDate != null">
        #{effDate,jdbcType=DATE},
      </if>
      <if test="expDate != null">
        #{expDate,jdbcType=DATE},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
        #{statusDate,jdbcType=DATE},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ffcs.uoo.message.server.pojo.TbSystemOrgTree">
    update TB_SYSTEM_ORG_TREE
    <set>
      <if test="businessSystemId != null">
        BUSINESS_SYSTEM_ID = #{businessSystemId,jdbcType=DECIMAL},
      </if>
      <if test="orgTreeId != null">
        ORG_TREE_ID = #{orgTreeId,jdbcType=DECIMAL},
      </if>
      <if test="effDate != null">
        EFF_DATE = #{effDate,jdbcType=DATE},
      </if>
      <if test="expDate != null">
        EXP_DATE = #{expDate,jdbcType=DATE},
      </if>
      <if test="statusCd != null">
        STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
        STATUS_DATE = #{statusDate,jdbcType=DATE},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where SYSTEM_ORG_TREE_ID = #{systemOrgTreeId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ffcs.uoo.message.server.pojo.TbSystemOrgTree">
    update TB_SYSTEM_ORG_TREE
    set BUSINESS_SYSTEM_ID = #{businessSystemId,jdbcType=DECIMAL},
      ORG_TREE_ID = #{orgTreeId,jdbcType=DECIMAL},
      EFF_DATE = #{effDate,jdbcType=DATE},
      EXP_DATE = #{expDate,jdbcType=DATE},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      STATUS_DATE = #{statusDate,jdbcType=DATE},
      CREATE_USER = #{createUser,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_USER = #{updateUser,jdbcType=DECIMAL},
      UPDATE_DATE = #{updateDate,jdbcType=DATE}
    where SYSTEM_ORG_TREE_ID = #{systemOrgTreeId,jdbcType=DECIMAL}
  </update>
</mapper>